<h1 class="margin-top-10 large-bold-header-text center-text">League Format Tool</h1>
<div class="center-text margin-top-10">
  {{pageDescription}}
</div>

<div class="portfolio-container">
    <div class="margin-top-25">
        <mat-form-field appearance="standard" color="accent">
            <mat-label>Selected Season</mat-label>
            <mat-select [(ngModel)]="leagueFormatService.selectedSeason">
              <mat-option *ngFor="let season of selectableSeasons" [value]="season">{{season}}</mat-option>
            </mat-select>
        </mat-form-field>
      <div *ngIf="leagueFormatService.filteredPlayers.length > 0 && leagueFormatStatus == 1">
        <app-league-format-chart [leagueFormat]="leaguePositions" [playerFormatDict]="leagueService.leagueFormatMetrics[leagueFormatService.selectedSeason]"></app-league-format-chart>
      </div>
    </div>
  
    <div *ngIf="leagueFormatStatus == 1">
      <span [ngClass]="{'button-left': !configService.isMobile}">
        <mat-form-field class="mat-dropdown-wide-300"
          [ngClass]="{'player-value-checkbox-margin': !configService.isMobile}" color="accent"
          style="border-top: unset !important;">
          <mat-label>Search Player</mat-label>
          <input matInput type="text" (keyup)="reloadFormatTool()" [(ngModel)]="searchVal">
          <button mat-button *ngIf="searchVal" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearchVal()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </span>
      <span class="container-spacer" *ngIf="!configService.isMobile"></span>
      <span [ngClass]="{'button-right': !configService.isMobile, 'button-left': configService.isMobile}"
        class="margin-top-10">
        <mat-form-field appearance="standard" color="accent">
            <mat-label>Filter Positions</mat-label>
            <mat-select [formControl]="selectedMetrics" multiple (selectionChange)="reloadFormatTool()">
              <mat-select-trigger>
                {{selectedMetrics.value ? selectedMetrics.value[0] : ''}}
                <span *ngIf="selectedMetrics.value?.length > 1">
                  (+{{selectedMetrics.value.length - 1}} {{selectedMetrics.value?.length === 2 ? 'other' : 'others'}})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let pos of leaguePositions" [value]="pos">{{pos}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-icon-button *ngIf="!configService.isMobile" (click)="showAdvancedSettings = !showAdvancedSettings">
            <mat-icon>settings</mat-icon>
          </button>
      </span>
    </div>
    <div *ngIf="showAdvancedSettings">
        <span class="container_spacer"></span>
        <div>
            <fantasy-market-dropdown [selectedMarket]="playerService.selectedMarket" (selectedMarketChange)="onMarketChange($event)" class="button-right"></fantasy-market-dropdown>
        </div>
    </div>
    <div *ngIf="leagueFormatStatus == 1">
      <div *ngIf="leagueFormatService.filteredPlayers.length > 0">
        <app-league-format-table [players]="leagueFormatService.filteredPlayers" [playerFormatDict]="leagueService.leagueFormatMetrics[leagueFormatService.selectedSeason]"></app-league-format-table>
      </div>
      <div class="center-text margin-top-50 large-bold-header-text warning__alert" *ngIf="leagueFormatService.filteredPlayers.length == 0">
        No players found with applied filters
      </div>
    </div>
  </div>
  
  <div class="center-spinner margin-top-120" *ngIf="leagueFormatStatus == 0">
    <mat-spinner></mat-spinner>
  </div>