@import "../../../../../styles.scss";

.mat-card {
  width: 350px;
  height: auto;
  padding: 4px;
}

.td-game--metrics {
  width: 15%;
  text-align: center;
}

.td-game--team {
  width: 70%;
  overflow: hidden;
}

.game-win__color {
  background: mat-color($mat-success, darker);
}

.game-score__color {
  background: $dark-bg-lighter-20;
}
