<div class="margin-top-10 large-bold-header-text center-text">Standings</div>
<div class="center-text margin-top-10">
  Team standings from the league with points for and realized points. Realized points is calculated by dividing the actual points for and the max potential points for.
</div>
<div *ngIf="sleeperService.isLeagueLoaded() && playoffCalculatorService.divisions.length > 0 && (sleeperService.selectedLeague?.status !== 'pre_draft' && sleeperService.selectedLeague?.status !== 'drafting')" class="margin-top-10">
  <div class="standings-row">
    <div *ngFor="let division of playoffCalculatorService.divisions" [ngClass]="{'standings-col': !configService.isMobile}">
    <div
      class="center-text mid-bold-text margin-bot-10">{{sleeperService.selectedLeague.divisionNames[division.divisionId - 1]}}</div>
      <mat-table [dataSource]="division.teams" class="mat-elevation-z8">

        <ng-container matColumnDef="teamName">
          <mat-header-cell *matHeaderCellDef>Team Name</mat-header-cell>
          <mat-cell *matCellDef="let team" class="link--text__no__underline" [routerLink]="['../team', team.owner?.ownerName]" [queryParams]="leagueSwitchService.buildQueryParams()">
            {{team.owner?.teamName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="record">
          <mat-header-cell *matHeaderCellDef>Record</mat-header-cell>
          <mat-cell *matCellDef="let team">{{team.roster.teamMetrics.wins}}
            - {{team.roster.teamMetrics.losses}}{{team.roster.teamMetrics.ties > 0 ? ' - ' + team.roster.teamMetrics.ties : ''}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="pf">
          <mat-header-cell *matHeaderCellDef>Points For</mat-header-cell>
          <mat-cell *matCellDef="let team">{{roundNumber(team.roster.teamMetrics.fpts)}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="ppf">
          <mat-header-cell *matHeaderCellDef>Potential For</mat-header-cell>
          <mat-cell *matCellDef="let team">{{roundNumber(team.roster.teamMetrics.ppts)}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="pot">
          <mat-header-cell *matHeaderCellDef>Realized Points</mat-header-cell>
          <mat-cell *matCellDef="let team"><span>{{getPointPotentialPercent(team) || '0'}}%</span></mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="divisionTableCols"></mat-header-row>
        <mat-row *matRowDef="let row; columns: divisionTableCols;" [ngClass]="{'mat-table-highlight': row.roster.teamMetrics.rank <= sleeperService.selectedLeague.playoffTeams && row.roster.teamMetrics.wins > 0}"></mat-row>
      </mat-table>
    </div>
  </div>

  <mat-tab-group mat-align-tabs="center" class="margin-top-25">
    <mat-tab label="League Insights">
      <div class="mid-bold-text margin-top-10 center-text">League Insights</div>
      <div class="margin-top-10 center-text">A collection of league metrics and moments.</div>
      <div fxLayout="row wrap" fxLayoutAlign="center" class="margin-top-50">
        <mat-card fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="100%" *ngIf="sleeperService.selectedLeague.leagueMatchUps" class="league-metric__card mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>Strength of Schedule</mat-card-title>
          </mat-card-header>
          <app-strength-of-schedule-chart ></app-strength-of-schedule-chart>
        </mat-card>
        <mat-card fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="100%" class="league-metric__card mat-elevation-z4" *ngIf="matchupService.leagueClosestWins.length !== 0">
          <mat-card-header>
            <mat-card-title>Closest Margin of Victory</mat-card-title>
          </mat-card-header>
          <mat-table [dataSource]="this.matchupService.leagueClosestWins">

            <ng-container matColumnDef="week">
              <mat-header-cell *matHeaderCellDef>Week</mat-header-cell>
              <mat-cell *matCellDef="let matchUp">Week {{matchUp.week}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="team1Name">
              <mat-header-cell *matHeaderCellDef>Team</mat-header-cell>
              <mat-cell *matCellDef="let matchUp">{{this.sleeperService.getTeamByRosterId(matchUp.team1RosterId).owner.teamName}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="score">
              <mat-header-cell *matHeaderCellDef>Points</mat-header-cell>
              <mat-cell *matCellDef="let matchUp">{{matchUp.team1Points}} - {{matchUp.team2Points}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="team2Name">
              <mat-header-cell *matHeaderCellDef>Team</mat-header-cell>
              <mat-cell *matCellDef="let matchUp">{{this.sleeperService.getTeamByRosterId(matchUp.team2RosterId).owner.teamName}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="diff">
              <mat-header-cell *matHeaderCellDef>Diff</mat-header-cell>
              <mat-cell *matCellDef="let matchUp">{{getPointDifference(matchUp)}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="closestWinsCols"></mat-header-row>
            <mat-row *matRowDef="let row; columns: closestWinsCols;"></mat-row>
          </mat-table>
        </mat-card>
        <mat-card fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="100%" class="league-metric__card mat-elevation-z4" *ngIf="sleeperService.isLeagueLoaded() && matchupService.leagueMedians.length !== 0 && !isNaN(matchupService.leagueMedians[0])">
          <mat-card-header>
            <mat-card-title>Weekly Medians</mat-card-title>
          </mat-card-header>
          <app-weekly-median-chart  [medians]="matchupService.leagueMedians"></app-weekly-median-chart>
        </mat-card>
        <mat-card fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="100%" class="league-metric__card mat-elevation-z4" *ngIf="isTransactionAggComplete()">
          <div style="text-align: center;">
            <mat-card-header>
              <mat-card-title>Transactions Per Team</mat-card-title>
            </mat-card-header>
          </div>
          <app-team-transactions-chart [transactionsAggregate]="transactionService.transactionAggregate"></app-team-transactions-chart>
        </mat-card>
        <mat-card fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="100%" class="league-metric__card mat-elevation-z4" *ngIf="sleeperService.selectedLeague.leagueMatchUps">
          <div style="text-align: center;">
            <mat-card-header>
              <mat-card-title>Tier Distribution Among League</mat-card-title>
            </mat-card-header>
          </div>
          <app-team-tiers-chart [teamPowerRankings]="powerRankingsService.powerRankings"></app-team-tiers-chart>
        </mat-card>
        <mat-card fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="100%" class="league-metric__card mat-elevation-z4" *ngIf="matchupService.leagueClosestWins.length !== 0">
          <mat-card-header>
            <mat-card-title>Highest Points in Match Ups</mat-card-title>
          </mat-card-header>
          <mat-table [dataSource]="this.matchupService.leagueMostPointsFor">

            <ng-container matColumnDef="week">
              <mat-header-cell *matHeaderCellDef>Week</mat-header-cell>
              <mat-cell *matCellDef="let matchUp">Week {{matchUp.details.week}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="points">
              <mat-header-cell *matHeaderCellDef>Points</mat-header-cell>
              <mat-cell *matCellDef="let matchUp">{{matchUp.points}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="team1PointsFor">
              <mat-header-cell *matHeaderCellDef>Team</mat-header-cell>
              <mat-cell *matCellDef="let matchUp">{{this.sleeperService.getTeamByRosterId(matchUp.rosterId).owner.teamName}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="score">
              <mat-header-cell *matHeaderCellDef>Score</mat-header-cell>
              <mat-cell *matCellDef="let matchUp">{{matchUp.points}} - {{matchUp.oppPoints}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="team2Name">
              <mat-header-cell *matHeaderCellDef>Opponent</mat-header-cell>
              <mat-cell *matCellDef="let matchUp">{{this.sleeperService.getTeamByRosterId(matchUp.oppRosterId).owner.teamName}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="pointsForCols"></mat-header-row>
            <mat-row *matRowDef="let row; columns: pointsForCols;"></mat-row>
          </mat-table>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Schedule Comparison">
      <div class="mid-bold-text margin-top-10 center-text">Schedule Comparisons</div>
      <div class="margin-top-10 center-text table-container">Calculates what each teams record would be with the other team schedule. For games where the same team plays each-other, a win/loss is assigned if the team scored more than that weeks median</div>
      <app-schedule-comparison></app-schedule-comparison>
    </mat-tab>
    <mat-tab label="Weekly Record Vs All">
      <div class="mid-bold-text margin-top-10 center-text">Weekly Record Vs All Teams</div>
      <div class="margin-top-10 center-text">A team's record versus each team during that week. The table is sorted by most overall wins.</div>
      <app-weekly-record-vs-all></app-weekly-record-vs-all>
    </mat-tab>
  </mat-tab-group>
</div>

<div class="center-spinner margin-top-120" *ngIf="sleeperService.leagueStatus === 'LOADING'">
  <mat-spinner></mat-spinner>
</div>

<div class="center-text margin-top-50" *ngIf="sleeperService.leagueStatus === 'NONE'">
  <div class="warning__alert">Cannot generate league analytics cause no league was selected. Please select a league.</div>
  <br>
  <button *ngIf="!sleeperService.sleeperUser" mat-raised-button color="warn" routerLink="./home">Choose League</button>
  <mat-form-field appearance="standard" color="accent" style="font-size: 14px;" *ngIf="sleeperService.sleeperUser?.leagues.length > 0">
    <mat-label>Select a league</mat-label>
    <mat-select [(ngModel)]="leagueSwitchService.selectedLeague" (selectionChange)="leagueSwitchService.loadLeague($event.value)">
      <mat-option *ngFor="let league of sleeperService.sleeperUser?.leagues"
                  [value]="league">{{league.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="center-text margin-top-50" *ngIf="(sleeperService.selectedLeague?.status === 'pre_draft' || sleeperService.selectedLeague?.status === 'drafting') && sleeperService.isLeagueLoaded()">
  <div class="warning__alert">Cannot generate league analytics because season hasn't started yet. Please select a different league or year.</div>
  <br>
  <button *ngIf="!sleeperService.sleeperUser" mat-raised-button color="warn" routerLink="./home">Choose League</button>
  <mat-form-field appearance="standard" color="accent" style="font-size: 14px;" *ngIf="sleeperService.sleeperUser?.leagues.length > 0">
    <mat-label>Select a league</mat-label>
    <mat-select [(ngModel)]="leagueSwitchService.selectedLeague" (selectionChange)="leagueSwitchService.loadLeague($event.value)">
      <mat-option *ngFor="let league of sleeperService.sleeperUser?.leagues"
                  [value]="league">{{league.name}}</mat-option>
    </mat-select>
  </mat-form-field></div>
