.standings-row {
  display: table;
  width: 100%; /*Optional*/
  /*table-layout: fixed; !*Optional*!*/
  border-spacing: 10px; /*Optional*/
  overflow-x: auto;
}
.standings-col {
  display: table-cell;
}


.league-metric__card{
  margin-bottom: 16px;
  margin-right: 16px;
}

.mat-column-points,
.mat-column-ppf,
.mat-column-pf,
.mat-column-pa,
.mat-column-pot,
.mat-column-week,
.mat-column-diff {
  max-width: 90px;
}

.mat-column-ppf,
.mat-column-pf,
.mat-column-pa,
.mat-column-pot,
.mat-column-team2Name,
.mat-column-diff {
  text-align: right;
  justify-content: flex-end;
  padding-right: 15px;
}

.mat-column-team1PointsFor {
text-align: left;
justify-content: start;
}

.mat-column-score {
  text-align: center;
  justify-content: center;
}
