<div style="display: block;" *ngIf="lineChartData && lineChartData[0].data.length > 0">
  <canvas baseChart height="400"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
  </canvas>
</div>
<div *ngIf="lineChartData.length == 0">
  <div style="min-height: 300px" class="center-spinner">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div *ngIf="lineChartData[0].data.length == 0">
  <div style="min-height: 300px" class="center-spinner">
    <div class="small-text__light"><mat-icon style="padding-right: 40px; vertical-align: middle">warning</mat-icon>No weekly match up data found...</div>
  </div>
</div>
