<div class="portfolio-container">
    <div style="overflow-x: auto;" [ngClass]="{'portfolio-table-mobile': configService.isMobile}">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" matSort
            matSortActive="shares" matSortDirection="desc">

            <ng-container matColumnDef="expand">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element"><span>
                        <mat-icon (click)="pushPopElement(element)"
                            *ngIf="!checkExpanded(element)">arrow_right</mat-icon>
                        <mat-icon (click)="pushPopElement(element)"
                            *ngIf="checkExpanded(element)">arrow_drop_down</mat-icon>
                    </span></td>
            </ng-container>

            <ng-container matColumnDef="player">
                <th mat-header-cell *matHeaderCellDef>Player</th>
                <td mat-cell *matCellDef="let element">{{element.full_name}} <span *ngIf="element.full_name.includes(':')"><mat-icon class="warning_icon" matTooltip="Unable to find name for player. May be a devy player or custom player not return from the platform APIs." matTooltipPosition="above">help</mat-icon></span></td>
            </ng-container>

            <ng-container matColumnDef="pos">
                <th mat-header-cell *matHeaderCellDef>Pos</th>
                <td mat-cell *matCellDef="let element">{{element.position}}</td>
            </ng-container>

            <ng-container matColumnDef="team">
                <th mat-header-cell *matHeaderCellDef>Team</th>
                <td mat-cell *matCellDef="let element">{{element?.team || '-'}}</td>
            </ng-container>

            <ng-container matColumnDef="shares">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Shares</th>
                <td mat-cell *matCellDef="let element">{{portfolioService.playerHoldingMap[element.name_id]?.shares ||
                    0}}
                </td>
            </ng-container>

            <ng-container matColumnDef="exposure">
                <th mat-header-cell *matHeaderCellDef>{{configService.isMobile ? 'Exp %' : 'Exposure %'}}</th>
                <td mat-cell *matCellDef="let element">{{portfolioService.playerHoldingMap[element.name_id]?.shares /
                    portfolioService.leagueCount | percent}}
                </td>
            </ng-container>

            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef (click)="togglePriceSetting()"><span
                        class="link--text__dot__underline">Price - {{priceSetting}}</span></th>
                <td mat-cell *matCellDef="let element">{{getPriceDisplay(element)}}</td>
            </ng-container>

            <ng-container matColumnDef="totalValue">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Value</th>
                <td mat-cell *matCellDef="let element">{{portfolioService.playerHoldingMap[element.name_id]?.totalValue
                    || 0}}</td>
            </ng-container>

            <ng-container matColumnDef="posGroup">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{configService.isMobile ? 'Pos %' : 'Pos Group %'}}</th>
                <td mat-cell *matCellDef="let element">{{portfolioService.positionGroupValueMap[element.position] != 0 ?
                    ((portfolioService.playerHoldingMap[element.name_id]?.totalValue || 0) /
                    portfolioService.positionGroupValueMap[element.position] | percent) : '-'}}</td>
            </ng-container>

            <ng-container matColumnDef="monthGain">
                <th mat-header-cell *matHeaderCellDef (click)="toggleTrendSetting()"><span
                        class="link--text__dot__underline">Trend -
                        {{monthTrendSetting}}</span></th>
                <td mat-cell *matCellDef="let element"
                    [ngClass]="{'warning__alert': monthTrendSetting == 'SF' ? element.sf_change < 0 : element.standard_change < 0, 'success__alert': monthTrendSetting == 'SF' ? element.sf_change > 0 : element.standard_change > 0}">
                    {{ monthTrendSetting == 'SF' ? element?.sf_change || 0 : element?.standard_change || 0}}% ({{
                    monthTrendSetting
                    == 'SF' ? element.sf_trade_value - (element?.last_month_value_sf || 0) : element.trade_value -
                    (element?.last_month_value || 0)}})</td>
            </ng-container>

            <!--   Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                    <div [@detailExpand]="checkExpanded(element) ? 'expanded' : 'collapsed'">
                        <div *ngIf="checkExpanded(element)" class="portfolio-element-detail">
                            <table style="width:100%">
                                <tr style="height: 25px; vertical-align: sub;"
                                    *ngFor="let leagueId of portfolioService.playerHoldingMap[element.name_id]?.leagues">
                                    <td class="sub-table-league">
                                        <span class="link--text__dot__underline"
                                            (click)="leagueService.openLeague(leagueId, portfolioService.leagueIdMap[leagueId]?.platform, portfolioService.leagueIdMap[leagueId]?.year)">
                                            {{portfolioService.leagueIdMap[leagueId]?.name}}
                                        </span>
                                    </td>
                                    <td class="sub-table-detail">
                                        {{portfolioService.leagueIdMap[leagueId]?.platformDisplay}}</td>
                                    <td class="sub-table-detail">{{portfolioService.leagueIdMap[leagueId]?.leagueType}}
                                    </td>
                                    <td class="sub-table-detail">{{portfolioService.leagueIdMap[leagueId]?.isSuperflex}}
                                    </td>
                                    <td class="sub-table-detail">{{portfolioService.leagueIdMap[leagueId]?.rosters}}
                                    </td>
                                    <td class="sub-table-detail">{{portfolioService.leagueIdMap[leagueId]?.startCount}}
                                    </td>
                                    <td class="sub-table-detail">{{portfolioService.leagueIdMap[leagueId]?.scoring}}
                                    </td>
                                    <td class="sub-table-actions">
                                      <mat-icon mat-icon-button [matMenuTriggerFor]="actionMenu" aria-label="League Actions" style="width: unset; height: unset;" *ngIf="!isPlayerCut(element.name_id, leagueId)">more_horiz</mat-icon>
                                      <mat-menu #actionMenu="matMenu" yPosition="above">
                                        <button mat-menu-item (click)="dropPlayer(leagueId, element.name_id)"
                                            *ngIf="configService.getConfigOptionByKey('mfl_writeback')?.configValue === 'true' && portfolioService.leagueIdMap[leagueId]?.platform == 1"
                                            [disabled]="!portfolioService.portfolioMFLUserId" >
                                            <mat-icon>person_remove</mat-icon>
                                            <span matToolTip="No MFL User Id found. Reconnect your MFL account. You do not have to reload the portfolio just connect your MFL account">Drop Player</span>
                                        </button>
                                        <button mat-menu-item (click)="openLeague(leagueId)">
                                            <mat-icon>open_in_new</mat-icon>
                                            <span>Open in Dynasty Daddy</span>
                                        </button>
                                      </mat-menu>
                                      <mat-icon aria-label="Player cut" style="width: unset; height: unset;" *ngIf="isPlayerCut(element.name_id, leagueId)">content_cut</mat-icon>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="portfolio-element-row"
                [class.portfolio-expanded-row]="checkExpanded(element)">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="portfolio-detail-row"></tr>
        </table>
    </div>
</div>