<mat-form-field appearance="standard" color="accent" class="fantast-market-dropdown">
    <mat-label>Fantasy Market</mat-label>
    <mat-select [value]="selectedMarket" (selectionChange)="changeMarket($event)">
    <mat-optgroup label="Dynasty">
      <mat-option *ngFor="let market of dynastyFantasyMarkets"
                  [value]="market.num">{{market.value}}</mat-option>
    </mat-optgroup>
    <mat-optgroup label="Redraft">
      <mat-option *ngFor="let market of redraftFantasyMarkets"
                  [value]="market.num">{{market.value}}</mat-option>
    </mat-optgroup>
    </mat-select>
</mat-form-field>
<data-sources-button></data-sources-button>