table {
    width: 100%;
}

.mat-column-worp,
.mat-column-pos,
.mat-column-team,
.mat-column-worppg,
.mat-column-winP,
.mat-column-opp,
.mat-column-oppg,
.mat-column-ppo,
.mat-column-tradeValue,
.mat-column-spikeHigh,
.mat-column-spikeMid,
.mat-column-spikeLow,
.mat-column-spikeHighP,
.mat-column-spikeMidP,
.mat-column-spikeLowP,
.mat-column-week {
    max-width: 52px;
    text-align: center;
}

.mat-column-owner {
    max-width: 102px;
}

td.mat-cell {
    &:last-of-type {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (min-width: 600px) {
    .mat-column-actions {
        max-width: 24px;
    }
}

.portfolio-table-mobile {
    margin-right: 90px;
}
