<div class="margin-top-10 large-bold-header-text center-text">Team Power Rankings</div>
<div class="center-text margin-top-10">
  Team power rankings are determined by <a class="info__alert" href="https://keeptradecut.com/" target="_blank">KeepTradeCut.com</a> value calculations taken from over <span class="info__alert">2.5 million</span> data points.
</div>

<div *ngIf="leagueService.isLeagueLoaded() && powerRankingService.powerRankings.length > 0" class="power-ranking-container">
  <div>
    <app-power-rankings-chart [powerRankings]="powerRankingService.powerRankings" [selectedOrder]="powerRankingService.powerRankingChartOption"></app-power-rankings-chart>
  </div>
  <div>
    <app-power-rankings-table [powerRankings]="powerRankingService.powerRankings" [isSuperFlex]="leagueService.selectedLeague.isSuperflex"></app-power-rankings-table>
  </div>

  <div class="margin-top-50 center-text">
    <div class="large-bold-header-text center-text margin-bot-20">
      Starter Value
    </div>
    <div class="center-text" style="max-width: 800px; margin: 0 auto">
      Starter Value is calculated by selecting the best possible roster based on trade value. It does factor in significant status like IR, SUS, or COV. A starter is denoted by the star next to the players name in the roster table.
    </div>
  </div>

  <div class="margin-top-50 center-text">
    <div class="large-bold-header-text center-text margin-bot-20">
      Team Tiers
    </div>
    <div class="center-text" style="max-width: 800px; margin: 0 auto">
      <table class="margin-bot-10">
        <tr>
          <td class="tier-table-col">
            Super Team<span><mat-icon class="info-icon" matTooltip="Conditional Tier that appears if there is only one team is classified as a contender" matTooltipPosition="above">info_outline</mat-icon></span>
          </td>
          <td class="tier-table-col">
            Contender
          </td>
          <td class="tier-table-col">
            Frisky
          </td>
          <td class="tier-table-col">
            Fraud
          </td>
          <td class="tier-table-col">
            Rebuilding
          </td>
          <td class="tier-table-col" style="width: 14%">
            Trust the Process<span><mat-icon class="info-icon" matTooltip="Conditional Tier that appears if there is only one team is classified as a rebuilding team" matTooltipPosition="above">info_outline</mat-icon></span>
          </td>
        </tr>
      </table>
      The Tiers are determined by bucket sorting on starter value. The tier rankings go from left to right.
    </div>
  </div>
</div>

<div class="center-spinner margin-top-120" *ngIf="leagueService.leagueStatus === 'LOADING'">
  <mat-spinner></mat-spinner>
</div>

<div class="center-text margin-top-50" *ngIf="leagueService.leagueStatus === 'NONE'">
  <div class="warning__alert">Cannot generate Power Rankings. Please select a league.</div>
  <br>
  <button *ngIf="!leagueService.leagueUser" mat-raised-button color="warn" routerLink="./home" gaEvent="nav_home_page" gaCategory="page_nav">Choose League</button>
  <mat-form-field appearance="standard" color="accent" style="font-size: 14px;" *ngIf="leagueService.leagueUser?.leagues.length > 0">
    <mat-label>Select a league</mat-label>
    <mat-select [(ngModel)]="leagueSwitchService.selectedLeague" (selectionChange)="leagueSwitchService.loadLeague($event.value)">
      <mat-option *ngFor="let league of leagueService.leagueUser?.leagues"
                  [value]="league">{{league.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="center-text margin-top-50" *ngIf="leagueService.isLeagueLoaded() && powerRankingService.powerRankings.length === 0">
  <div class="warning__alert">Error creating power rankings. Please select a different league.</div>
  <br>
  <button *ngIf="!leagueService.leagueUser" mat-raised-button color="warn" routerLink="./home" gaEvent="nav_home_page" gaCategory="page_nav">Choose League</button>
  <mat-form-field appearance="standard" color="accent" style="font-size: 14px;" *ngIf="leagueService.leagueUser?.leagues.length > 0">
    <mat-label>Select a league</mat-label>
    <mat-select [(ngModel)]="leagueSwitchService.selectedLeague" (selectionChange)="leagueSwitchService.loadLeague($event.value)">
      <mat-option *ngFor="let league of leagueService.leagueUser?.leagues"
                  [value]="league">{{league.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
