.trade-finder-row {
  height: 32px !important;
}

.mat-column-value,
.mat-column-position,
.mat-column-select {
  max-width: 82px;
}

.mat-column-playerName{
  min-width: 120px;
}

.mat-column-value {
  text-align: right;
  justify-content: flex-end;
}

.mat-column-position {
  text-align: left;
  justify-content: flex-end;
}
