<div class="filter-but" [class.desktop]="!configService.isMobile">
    <button mat-button (click)="openFilterDialog()"><mat-icon>filter_list</mat-icon>Filter ADP</button>
</div>
<div *ngIf="playerDataPoints.length > 0">
    <div class="margin-top-25 adp-pick-table-container">
        <div class="adp-scatter-chart" [class.mobile]="configService.isMobile">
            <mat-card>
                <div class="margin-bot-10 center-text mid-bold-text">Recent Draft Selections ({{playerDataPoints.length || '0'}} Drafts)</div>
                <div style="display: block; height: 600px" *ngIf="chartData.length > 0">
                    <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions"
                        [legend]="chartLegend" [chartType]="chartType" [plugins]="chartPlugins" #chart>
                    </canvas>
                </div>
                <div *ngIf="chartData.length == 0">
                    <div style="min-height: 300px" class="center-spinner">
                        <mat-spinner></mat-spinner>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>

    <div class="margin-top-25 center-text">
        <div class="margin-bot-15 center-text mid-bold-text">Player Availability By Pick</div>
        <div class="adp-pick-table-container">
            <table class="adp-pick-table">
                <tr *ngFor="let row of draftboard">
                    <td *ngFor="let pick of row" class="adp-draft-cell"
                        style="background: {{probGradient[pick.color]}}">
                        <div class="adp-pick">{{ pick.pick }}</div>
                        <div class="adp-percent">{{ pick.percent | percent:'1.0-1' }}</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
</div>

<div *ngIf="playerDataPoints.length == 0" class="margin-top-50" style="min-height: 400px;">
    <div class="center-spinner">
        <mat-spinner></mat-spinner>
    </div>
</div>