<div class="margin-top-10 large-bold-header-text center-text">Playoff Calculator</div>
<div class="center-text margin-top-10">
  Calculate game probability and playoff odds based on current week. Updated every week to be more accurate.
</div>
<div *ngIf="leagueService.isLeagueLoaded() && playoffCalculatorService.matchUpsWithProb.length != 0 && playoffCalculatorService.divisions.length > 0 && (leagueService.selectedLeague?.status !== 'pre_draft' && leagueService.selectedLeague?.status !== 'drafting')" class="margin-top-10 table-container">
  <mat-tab-group mat-align-tabs="center" class="margin-top-25">
    <mat-tab label="Season" style="overflow: hidden">
      <div class="mid-bold-text margin-top-10 center-text">Season Predictions</div>
      <div class="margin-top-10 center-text">For the regular season and playoffs, updated after each week.</div>
      <div class="margin-top-15 center-text">
        <mat-radio-group [(ngModel)]="playoffCalculatorService.forecastModel" (change)="changeForecastModel()">
          <mat-radio-button color="accent" [value]="0" style="margin-left: 15px;">{{configService.isMobile ? 'Traditional ADP Forecast' : 'Show our traditional starters by ADP forecast'}}</mat-radio-button>
          <mat-radio-button color="accent" [value]="1" style="margin-left: 15px;">{{configService.isMobile ? 'Elo Adjusted ADP Forecast ' : 'Show our elo adjusted starters by ADP forecast '}}<span class="warning__alert small-text__light">Beta</span></mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="margin-top-25" *ngIf="playoffCalculatorService.matchUpsWithProb.length != 0">
        <app-playoff-calculator-season-table [forecastWeek]="selectedWeek" [selectedMetrics]="selectedMetrics.value"></app-playoff-calculator-season-table>
      </div>
      <div class="mat-form-field-center margin-top-25">
        <mat-form-field appearance="standard" color="accent" style="padding-right: 10px">
          <mat-label>Forecast from</mat-label>
          <mat-select [value]="selectedWeek" (selectionChange)="updateProbability($event.value)">
            <mat-option *ngFor="let week of selectableWeeks"
                        [value]="week.week">{{week.value}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="standard" color="accent" style="padding-left: 10px">
          <mat-label>Metrics</mat-label>
          <mat-select [formControl]="selectedMetrics" multiple>
            <mat-select-trigger>
              {{selectedMetrics.value ? selectedMetrics.value[0]?.display : ''}}
              <span *ngIf="selectedMetrics.value?.length > 1">
                (+{{selectedMetrics.value.length - 1}} {{selectedMetrics.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let option of selectableMetrics" [value]="option" [disabled]="option?.isDisabled">{{option?.display}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div style="padding-left: 20px; align-self: center; cursor: pointer" class="add-icon-button" *ngIf="playoffCalculatorService.forecastModel === 1 && !configService.isMobile" matTooltip="View Historical Elo Adjusted ADP Model" matTooltipPosition="below">
          <mat-icon (click)="openEloHistoricalModal()"><span class="material-symbols-outlined">auto_graph</span></mat-icon>
        </div>
      </div>
      <div class="mid-bold-text margin-top-25" *ngIf="upcomingMatchUps.length > 0">
        <div *ngIf="!showPlayoffMachine" class="center-text margin-bot-20">
          <button mat-stroked-button (click)="showPlayoffMachine = true">Select Future Game Results</button>
        </div>
        <div *ngIf="showPlayoffMachine" class="margin-bot-20">
          <div class="center-text">
            <button mat-icon-button [disabled]="playoffMachineWeek === (this.nflService.stateOfNFL.completedWeek < this.leagueService.selectedLeague.startWeek - 1 ? this.leagueService.selectedLeague.startWeek : this.nflService.stateOfNFL.completedWeek)" (click)="updatePlayoffMachineWeek(-1)"><mat-icon>chevron_left</mat-icon></button>
            <span class="mid-bold-text">Week {{playoffMachineWeek + 1}}</span>
            <button mat-icon-button [disabled]="playoffMachineWeek + 1 === this.leagueService.selectedLeague.playoffStartWeek - 1" (click)="updatePlayoffMachineWeek(1)"><mat-icon >chevron_right</mat-icon></button>
          </div>
          <app-playoff-calculator-games-container *ngIf="upcomingMatchUps.length > 0" [weekMatchUps]="upcomingMatchUps[matchupOffset]" [selectable]="true"></app-playoff-calculator-games-container>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Games">
      <div class="mid-bold-text margin-top-10 center-text">Games</div>
      <div class="margin-top-10 center-text">Weekly breakdown of match up and team odds to win.</div>
      <div *ngIf="upcomingMatchUps.length > 0">
        <div class="center-text mid-bold-text margin-top-50">Upcoming Games</div>
        <div *ngFor="let weekGames of upcomingMatchUps">
          <app-playoff-calculator-games-container [weekMatchUps]="weekGames"></app-playoff-calculator-games-container>
        </div>
      </div>
      <div *ngIf="playoffMatchUps.length > 0">
        <div class="center-text mid-bold-text margin-top-50">Playoff Games</div>
        <div class="margin-top-10 center-text">These match ups are suspect to change based the games above.</div>
        <div *ngFor="let weekGames of playoffMatchUps">
          <app-playoff-calculator-games-container [weekMatchUps]="weekGames"></app-playoff-calculator-games-container>
        </div>
      </div>
      <div *ngIf="completedMatchUps.length > 0">
        <div class="center-text mid-bold-text margin-top-50">Completed Games</div>
        <div *ngFor="let weekGames of completedMatchUps">
          <app-playoff-calculator-games-container [weekMatchUps]="weekGames" [isCompleted]="true"></app-playoff-calculator-games-container>
        </div>
      </div>
      <div class="center-text margin-top-50" *ngIf="playoffCalculatorService.matchUpsWithProb.length === 0">
        <div class="warning__alert">Couldn't load match ups properly. Press reselect league.</div>
        <br>
        <button mat-raised-button color="warn" [routerLink]="['../home']" gaEvent="nav_home_page" gaCategory="page_nav">Try Again</button>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div class="margin-top-10 margin-bot-20 center-text"><span class="mid-bold-text">How this works:</span> Our forecast uses <span class="info__alert">{{playoffCalculatorService.NUMBER_OF_SIMULATIONS}}</span> simulations of the season and updates after every week. Our traditional ADP model uses the team's starters based on ADP to determine team rating. Our elo adjusted ADP model takes the traditional ADP model and runs elo head to heads for each week to update the team values as the season progresses.
    Our forecast currently doesn't take in to consideration bye weeks.
  </div>
  <div class="center-text">
    <button mat-stroked-button (click)="downloadPlayoffCalculatorData()" gaEvent="click_export_playoff_calculator" gaCategory="click"><mat-icon>download</mat-icon> Download this Data</button>
  </div>
</div>

<div class="center-text margin-top-50" *ngIf="leagueService.isLeagueLoaded() && playoffCalculatorService.matchUpsWithProb.length == 0 && leagueService.selectedLeague?.status !== 'pre_draft' && leagueService.selectedLeague?.status !== 'drafting'">
  <div class="warning__alert">There was an issue loading match ups. Try navigating to another page and coming back or reloading your league.</div>
  <div class="margin-top-25" ><button mat-flat-button color="warn" (click)="leagueSwitchService.loadLeague(leagueSwitchService.selectedLeague)">Reload league</button></div>
</div>

<div class="center-spinner margin-top-120" *ngIf="leagueService.leagueStatus === 'LOADING'">
  <mat-spinner></mat-spinner>
</div>

<app-login-error [errorHeader]="noLeagueErrMsg" *ngIf="leagueService.leagueStatus === 'NONE'"></app-login-error>

<app-login-error [errorHeader]="leagueNotStartedErrMsg" *ngIf="leagueService.selectedLeague?.status === 'pre_draft' || leagueService.selectedLeague?.status === 'drafting'"></app-login-error>
