@use '@angular/material' as mat;

@import "../../../../styles.scss";

table {
  width: 100%;
  min-width: 600px;
}

tr.power-ranking-detail-row {
  height: 0;
}

tr.power-ranking-element-row:not(.power-ranking-expanded-row):hover {
  background: $dark-bg-lighter-30;
}

tr.power-ranking-element-row:not(.power-ranking-expanded-row):active {
  background: mat.get-color-from-palette($mat-accent, main);
}

.power-ranking-element-row td {
  border-bottom-width: 0;
  cursor: pointer;
}

.power-ranking-element-detail {
  overflow: hidden;
  display: flex;
}

.power-ranking-container {
  display: flex;
  flex-direction: column;
  padding: 8px 24px 24px;
  min-width: 300px;
  overflow-x: auto;
  overflow-y: hidden;
}

.mat-column-overallRank,
.mat-column-starterRank,
.mat-column-qbRank,
.mat-column-rbRank,
.mat-column-wrRank,
.mat-column-teRank,
.mat-column-qbStarterRank,
.mat-column-rbStarterRank,
.mat-column-wrStarterRank,
.mat-column-teStarterRank,
.mat-column-draftRank {
  max-width: 50px;
  text-align: center;
  justify-content: center;
}

.contender-mat-chip {
  background-color: #c59700 !important;
}

.frisky-mat-chip {
  background-color: #FF5733 !important;
}

.fraud-mat-chip {
  background-color: #C70039 !important;
}

.rebuilding-mat-chip {
  background-color: #900C3F !important;
}

.super-team-mat-chip {
  background-color: #9DC700 !important;
}

.trust-the-process-mat-chip {
  background-color: #581845 !important;
}
