<div [ngClass]="{'power-ranking-container': !configService.isMobile}">
  <div>
    <div [ngClass]="{'button-left': !configService.isMobile, 'center-text': configService.isMobile}" [ngStyle]="configService.isMobile ? 'align-items: center;' : ''">
      <mat-form-field class="player-value-checkbox-margin" [ngClass]="{'button-left mat-dropdown-wide-300': !configService.isMobile, 'mat-dropdown-wide-250': configService.isMobile}" color="accent">
        <mat-label>Search Player</mat-label>
        <input matInput type="text" (keyup)="searchFilterPowerRankings()" [(ngModel)]="searchVal">
        <button mat-button *ngIf="searchVal" matSuffix mat-icon-button aria-label="Clear" (click)="resetSearchFilter()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <span class="container_spacer" *ngIf="!configService.isMobile"></span>
    <div [ngClass]="{'button-right': !configService.isMobile}" class="center-text">
      <!-- Fantasy Market Mobile Dropdown -->
      <span *ngIf="configService.isMobile">
        <mat-form-field appearance="standard" color="accent" class="mat-dropdown-wide-200">
          <mat-label>Fantasy Market</mat-label>
          <mat-select [value]="powerRankingsService.rankingMarket" (selectionChange)="updateFantasyMarket($event)">
            <mat-option *ngFor="let market of powerRankingsService.rankingMetricsOptions"
                        [value]="market.value">{{market.display}}</mat-option>
          </mat-select>
        </mat-form-field>
      </span>
      <button mat-icon-button
              (click)="expandCollapseAll()"><mat-icon>{{isExpanded() ? 'close_fullscreen' : 'open_in_full'}}</mat-icon>
      </button>
      <button mat-icon-button *ngIf="!configService.isMobile" (click)="showAdvancedSettings = !showAdvancedSettings">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </div>
  <div *ngIf="showAdvancedSettings">
    <span class="container_spacer"></span>
    <div class="button-right">
      <span style="padding-right: 10px">
        <mat-form-field appearance="standard" color="accent">
          <mat-label>Order Chart</mat-label>
          <mat-select [(ngModel)]="powerRankingsService.powerRankingChartOption">
          <mat-option [value]="0">Overall Value</mat-option>
          <mat-option [value]="1">ADP-Based Starter</mat-option>
          <mat-option [value]="2">Elo Adjusted Starter</mat-option>
          <mat-option [value]="3">QB Rank</mat-option>
          <mat-option [value]="4">RB Rank</mat-option>
          <mat-option [value]="5">WR Rank</mat-option>
          <mat-option [value]="6">TE Rank</mat-option>
          <mat-option [value]="7">Draft Capital Rank</mat-option>
          </mat-select>
        </mat-form-field>
      </span>
      <span>
        <mat-form-field appearance="standard" color="accent">
          <mat-label>Fantasy Market</mat-label>
          <mat-select [value]="powerRankingsService.rankingMarket" (selectionChange)="updateFantasyMarket($event)">
            <mat-option *ngFor="let market of powerRankingsService.rankingMetricsOptions"
                        [value]="market.value">{{market.display}}</mat-option>
          </mat-select>
        </mat-form-field>
      </span>
    </div>
  </div>
  <div [hidden]="this.displayedRankingsSize === 0" class="margin-top-10" [ngClass]="{'power-ranking-container': configService.isMobile}">
    <table mat-table
           [dataSource]="dataSource" multiTemplateDataRows
           class="mat-elevation-z8" matSort matSortActive="overallRank" matSortDirection="asc">

      <ng-container matColumnDef="team">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Team</th>
        <td mat-cell *matCellDef="let element"> {{element.team.owner?.teamName | truncate:22}} </td>
      </ng-container>

      <ng-container matColumnDef="owner">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner</th>
        <td mat-cell *matCellDef="let element"> {{element.team.owner?.ownerName | truncate: 22}} </td>
      </ng-container>

      <ng-container matColumnDef="tier">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tier</th>
        <td mat-cell *matCellDef="let element"> {{powerRankingCache[element.team.roster.rosterId].tier}} </td>
      </ng-container>

      <ng-container matColumnDef="overallRank">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Overall Rank</th>
        <td mat-cell *matCellDef="let element"> {{powerRankingCache[element.team.roster.rosterId].rank}} </td>
      </ng-container>

      <ng-container matColumnDef="starterRank">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Starter Rank</th>
        <td mat-cell *matCellDef="let element"> {{element.starterRank}} </td>
      </ng-container>

      <ng-container matColumnDef="qbRank">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>QB Rank</th>
        <td mat-cell *matCellDef="let element"> {{powerRankingCache[element.team.roster.rosterId].rosters['QB'].rank}} </td>
      </ng-container>

      <ng-container matColumnDef="rbRank">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>RB Rank</th>
        <td mat-cell *matCellDef="let element"> {{powerRankingCache[element.team.roster.rosterId].rosters['RB'].rank}} </td>
      </ng-container>

      <ng-container matColumnDef="wrRank">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>WR Rank</th>
        <td mat-cell *matCellDef="let element"> {{powerRankingCache[element.team.roster.rosterId].rosters['WR'].rank}} </td>
      </ng-container>

      <ng-container matColumnDef="teRank">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>TE Rank</th>
        <td mat-cell *matCellDef="let element"> {{powerRankingCache[element.team.roster.rosterId].rosters['TE'].rank}} </td>
      </ng-container>

      <ng-container matColumnDef="draftRank">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Draft Rank</th>
        <td mat-cell *matCellDef="let element"> {{powerRankingCache[element.team.roster.rosterId].rosters['PI'].rank}} </td>
      </ng-container>

      <!--   Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
          <div [@detailExpand]="checkExpanded(element) ? 'expanded' : 'collapsed'">
            <div *ngIf="checkExpanded(element)" class="power-ranking-element-detail">
              <div [ngClass]="{'grid-30': configService.isMobile, 'grid-20': !configService.isMobile}">
                <div *ngIf="!configService.isMobile"><span class="text__light">Team</span>
                  <div class="mid-bold-text link--text__no__underline" [routerLink]="['../team', element.team.owner?.ownerName]" innerHTML="{{ element.team.owner?.teamName | highlight : searchVal}}" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_team_page" gaCategory="page_nav">{{element.team.owner?.teamName}}</div>
                </div>
                <br>
                <div *ngIf="!configService.isMobile"><span class="small-text__light">Owner: </span>
                  <div class="mid-bold-text" innerHTML="{{ element.team.owner?.ownerName | highlight : searchVal}}">{{element.team.owner?.ownerName}}</div>
                </div>
                <div>
                  <span class="small-text__light">Overall Value: </span>
                  <div>
                <span
                  class="mid-bold-text">{{powerRankingCache[element.team.roster.rosterId].value}}</span>
                    <span class="small-text__light"> (Rank: <span
                      [ngClass]="{'success__alert': powerRankingCache[element.team.roster.rosterId].isGreen, 'warning__alert': powerRankingCache[element.team.roster.rosterId].isRed}">{{powerRankingCache[element.team.roster.rosterId].rank}}</span>)</span>
                  </div>
                </div>
                <div>
                  <span class="small-text__light">Starter Value: </span>
                  <div><span
                    class="mid-bold-text">{{element.adpValueStarter}}</span>
                    <span class="small-text__light"> (Rank: <span
                      [ngClass]="{'success__alert': element.starterRank < alertThreshold, 'warning__alert': element.starterRank > alertThreshold * 2}">{{element.starterRank}}</span>)</span>
                  </div>
                </div>
                <div>
                  <span class="small-text__light">Tier: </span>
                  <div><span
                    class="mid-bold-text">{{powerRankingCache[element.team.roster.rosterId].tier}}</span>
                  </div>
                </div>
                <div class="margin-top-10">
                  <button mat-icon-button matTooltip="Copy Starters Roster" matTooltipPosition="above" (click)="copyStartersFromTeam(element)"><mat-icon>content_copy</mat-icon></button>
                  <button mat-icon-button matTooltip="Copy Whole Roster" matTooltipPosition="above" (click)="copyWholeFromTeam(element)"><mat-icon>copy_all</mat-icon></button>
                </div>
                <div *ngIf="configService.isMobile" class="margin-top-15">
                  <button style="margin: unset !important;" mat-stroked-button [routerLink]="['../team', element.team.owner?.ownerName]" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_team_page" gaCategory="page_nav">View Team Page</button>
                </div>
              </div>
              <div *ngFor="let positionGroup of element.roster;" class="grid-16">
                <div>
              <span><span class="small-text__light">{{positionGroup.position}} Value: </span> <span
                class="mid-bold-text">{{powerRankingCache[element.team.roster.rosterId].rosters[positionGroup.position].value}}</span></span>
                  <div class="small-text__light"> Rank: <span
                    [ngClass]="{'success__alert': powerRankingCache[element.team.roster.rosterId].rosters[positionGroup.position].isGreen, 'warning__alert': powerRankingCache[element.team.roster.rosterId].rosters[positionGroup.position].isRed}">{{powerRankingCache[element.team.roster.rosterId].rosters[positionGroup.position].rank}}</span>
                  </div>
                </div>
                <hr class="dark">
                <div *ngFor="let player of positionGroup.players">
                  <span class="starter-icon"><mat-icon [inline]="true" *ngIf="isStarter(element, player)" matTooltip="Starter" matTooltipPosition="above">grade</mat-icon></span>
                  <span class="starter-icon"><mat-icon [inline]="true" *ngIf="isInjured(player)" matTooltip="{{player.injury_status}}" matTooltipPosition="above">healing</mat-icon></span>
                  <span innerHTML="{{ configService.isMobile ? player.last_name : player.full_name | highlight : searchVal}}">{{configService.isMobile ? player.last_name : player.full_name}}</span>
                  <span *ngIf="powerRankingsService.rankingMarket !== 3" [ngClass]="{'success__alert': playerCache[player.name_id].isGreen, 'urgent__alert': playerCache[player.name_id].isRed}"> {{playerCache[player.name_id].value}}</span>
                  <span *ngIf="powerRankingsService.rankingMarket === 3" [ngClass]="{'success__alert': player.avg_adp < leagueService.selectedLeague.totalRosters, 'urgent__alert': (player.avg_adp > (leagueService.selectedLeague.totalRosters * 3) || player.avg_adp == 0) }"> {{player.avg_adp || '-'}}</span>
                </div>
              </div>
              <div class="grid-20" *ngIf="leagueService.selectedLeague.type == 2">
                <div>
              <span><span class="small-text__light">Draft Capital: </span><span
                class="mid-bold-text">{{powerRankingCache[element.team.roster.rosterId].rosters[element.picks.position].value}}</span></span>
                  <div class="small-text__light"> Rank: <span
                    [ngClass]="{'success__alert': powerRankingCache[element.team.roster.rosterId].rosters[element.picks.position].isGreen, 'warning__alert': powerRankingCache[element.team.roster.rosterId].rosters[element.picks.position].isRed}">{{powerRankingCache[element.team.roster.rosterId].rosters[element.picks.position].rank}}</span>
                  </div>
                </div>
                <hr class="dark">
                <div *ngFor="let player of element.picks.players; let i = index">
                  <span innerHTML="{{ player.full_name | highlight : searchVal}}">{{configService.isMobile ? player.last_name : player.full_name}} </span>
                  <span [ngClass]="{'success__alert': playerCache[player.name_id].isGreen, 'urgent__alert': playerCache[player.name_id].isRed}"> {{playerCache[player.name_id].value}}</span>
                </div>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
          class="power-ranking-element-row"
          [class.power-ranking-expanded-row]="checkExpanded(element)"
          (click)="pushPopElement(element)"
          [ngClass]="{'mat-table-highlight': leagueService.leagueUser?.userData.user_id === element.team.owner?.userId}">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="power-ranking-detail-row"></tr>
    </table>
  </div>
  <div class="mid-bold-text center-text warning__alert margin-top-25" [hidden]="this.displayedRankingsSize > 0">No results found. Try a different search.</div>

</div>
