.desktop_padding_article {
    padding-left: 15%;
    padding-right: 15%;
}

.title_padding {
    margin-top: 42px;
    margin-bottom: 32px;
}

.author_title {
    text-align: left;
    margin-bottom: 20px;
}

.button_icon {
    font-size: 20px;
}

.author_card img {
    max-width: 80px;
    border-radius: 50px;
}

.title_image {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
