<div class="content-wrapper">
  <div class="margin-top-10 large-bold-header-text center-text">Player Value Comparisons</div>
  <div class="center-text margin-top-10">
    Player values are from the selected fantasy market. You can select what market to use below.
    <div>The scoring is <span class="info__alert">{{leagueService.getScoringFormatDisplay()}}</span>, the table below will update depending on whether your
      league is superflex or not.
    </div>
  </div>

  <div class="center-text"  *ngIf="configService.isMobile">
    <div class="margin-top-10">
      <mat-slide-toggle color="primary" class="player-value-checkbox-margin"
                        [(ngModel)]="playerComparisonService.isSuperFlex"
                        (change)="playerComparisonService.refreshTable()" class="player-value-checkbox-margin">
        SuperFlex
      </mat-slide-toggle>
      <mat-slide-toggle color="primary"
                        [(ngModel)]="playerComparisonService.isGroupMode"
                        (change)="playerComparisonService.toggleGroupMode()" class="player-value-checkbox-margin">
        Groups
      </mat-slide-toggle>
    </div>
    <div class="margin-top-10">
      <fantasy-market-dropdown [selectedMarket]="playerService.selectedMarket" (selectedMarketChange)="onMarketChange($event)"></fantasy-market-dropdown>
      <button mat-raised-button (click)="resetPlayerComp()" class="player-value-checkbox-margin"><mat-icon class="add-icon-button">refresh</mat-icon> Reset</button>
    </div>
  </div>
  <div class="margin-top-25">
    <div class="button-left">
      <button mat-raised-button color="accent" (click)="addNewPlayerModal()"><mat-icon class="add-icon-button">add</mat-icon> Players {{playerComparisonService.isGroupMode ? 'to Group 1' : ''}}</button>
      <mat-slide-toggle color="primary" *ngIf="!configService.isMobile"
                        [(ngModel)]="playerComparisonService.isGroupMode"
                        (change)="playerComparisonService.toggleGroupMode()" class="player-value-checkbox-margin">
        Enable Groups
      </mat-slide-toggle>
    </div>
    <span class="container_spacer"></span>
    <span class="button-right" *ngIf="!configService.isMobile">
      <mat-slide-toggle color="primary" class="player-value-checkbox-margin"
                        [(ngModel)]="playerComparisonService.isSuperFlex"
                        (change)="playerComparisonService.refreshTable(selectedMarket)" class="player-value-checkbox-margin">
      SuperFlex
      </mat-slide-toggle>
      <span style="padding-right: 10px;">
        <button mat-raised-button (click)="resetPlayerComp()" class="player-value-checkbox-margin"><mat-icon class="add-icon-button">refresh</mat-icon> Clear</button>
      </span>
      <fantasy-market-dropdown [selectedMarket]="playerService.selectedMarket" (selectedMarketChange)="onMarketChange($event)"></fantasy-market-dropdown>
    </span>
  </div>

  <div class="margin-top-10">
    <mat-chip-list *ngIf="playerComparisonService.selectedPlayers.length !== 0"
                   cdkDropList
                   cdkDropListOrientation="horizontal"
                   #group1List="cdkDropList"
                   [cdkDropListData]="playerComparisonService.selectedPlayers"
                   (cdkDropListDropped)="drop($event)">
      <mat-chip cdkDrag *ngFor="let player of playerComparisonService.selectedPlayers"
                (removed)="playerComparisonService.onRemove(player, false, selectedMarket)">{{player.name}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>

  <div class="margin-top-25" *ngIf="playerComparisonService.isGroupMode">
    <div class="button-left">
      <button mat-raised-button color="accent" (click)="addNewPlayerModal(true)"><mat-icon class="add-icon-button">add</mat-icon> Players to Group 2</button>
    </div>
  </div>

  <div class="margin-top-10" *ngIf="playerComparisonService.isGroupMode">
    <mat-chip-list *ngIf="playerComparisonService.group2SelectedPlayers.length !== 0"
                   cdkDropList
                   cdkDropListOrientation="horizontal"
                   #group2List="cdkDropList"
                   [cdkDropListData]="playerComparisonService.group2SelectedPlayers"
                   (cdkDropListDropped)="drop($event)">
      <mat-chip cdkDrag *ngFor="let player of playerComparisonService.group2SelectedPlayers"
                (removed)="playerComparisonService.onRemove(player, true, playerService.selectedMarket)">{{player.name}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>

  <div class="margin-top-50">
    <app-trade-value-line-chart [selectedMarket]="playerService.selectedMarket"></app-trade-value-line-chart>
  </div>
</div>
