.content {
  width: 200px;
}

.item {
  margin: 14px;
  min-width: 300px;
}

.insight__row {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.insight__row div:last-child {
  text-align: right;
}

.insight__row div {
  flex: 1 1 auto;
}

.mat-column-name {
  min-width: 150px;
}

.mat-column-value,
.mat-column-rank {
  max-width: 64px;
}

.mat-column-rank {
  text-align: right;
  justify-content: flex-end;
  padding-right: 15px;
}

.mat-column-adp,
.mat-column-value,
.mat-column-name {
  text-align: left;
  justify-content: flex-start;
  padding-left: 15px;
}
