<div class="center-text" *ngIf="totalProj && totalProj > 0">
  This player has the tendency to <span class="warning__alert">{{totalPoints / totalProj >= 1 ? 'outperform' : 'underperform'}} their projections by {{generatePerformancePercent()}}%</span> over the past 18 weeks!
</div>

<div fxLayout="row wrap" fxLayoutAlign="center" class="margin-top-25">
  <div fxFlex="60%" fxFlex.xs="100%" fxFlex.sm="80%" class="item" style="display: block">
    <mat-card>
      <div class="margin-bot-10 center-text"><span class="mid-bold-text">Past 18 Weeks Points Vs. Projections</span></div>
      <div style="display: block; height: 300px;" *ngIf="lineChartData.length > 0">
        <canvas baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins">
        </canvas>
      </div>
      <div *ngIf="lineChartData.length == 0">
        <div style="min-height: 300px" class="center-spinner">
          <mat-spinner></mat-spinner>
        </div>
      </div>
    </mat-card>
  </div>
  <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="80%" class="item" *ngIf="playerService.playerStats[this.selectedPlayer.sleeper_id]">
    <mat-card style="min-height: 360px">
      <div class="mid-bold-text center-text margin-bot-10">Past 18 Weeks Stats</div>
      <div class="insight__row">
        <div class="text__light">Games Played</div>
        <div class="mid-bold-text">{{selectedPlayerInsights?.gamesPlayed || '-'}}</div>
      </div>
      <div class="insight__row">
        <div class="text__light">18 Week High</div>
        <div class="mid-bold-text">{{selectedPlayerInsights?.high || '-'}}</div>
      </div>
      <div class="insight__row">
        <div class="text__light">18 Week Low</div>
        <div class="mid-bold-text">{{selectedPlayerInsights?.low || '-'}}</div>
      </div>
      <div class="insight__row">
        <div class="text__light">Average Points Per Week</div>
        <div class="mid-bold-text">{{selectedPlayerInsights?.mean || '-'}}</div>
      </div>
      <div class="insight__row">
        <div class="text__light">Variance</div>
        <div class="mid-bold-text">{{selectedPlayerInsights?.variance || '-'}}</div>
      </div>
      <div class="insight__row">
        <div class="text__light">Standard Deviation</div>
        <div class="mid-bold-text">{{selectedPlayerInsights?.stdDev || '-'}}</div>
      </div>
      <div class="insight__row">
        <div class="text__light">Value Per Point Ratio</div>
        <div class="mid-bold-text">{{selectedPlayerInsights?.valuePerPointRatio || '-'}}</div>
      </div>
    </mat-card>
  </div>
</div>

<div class="center-text mid-bold-text margin-top-50">
  {{selectedPlayer.full_name}}'s ADP & Contract Overview 
</div>

<div fxLayout="row wrap" fxLayoutAlign="center">
  <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="80%" class="item">
    <mat-card style="min-height: 260px; margin-top: 28px;">
      <div class="mid-bold-text center-text margin-bot-10">Expert Positional ADPs</div>
      <div class="insight__row">
        <div class="text__light">Fantasy Pros</div>
        <div class="mid-bold-text">{{selectedPlayer.fantasypro_adp || '-'}}</div>
      </div>
      <div class="insight__row">
        <div class="text__light">BestBall10s</div>
        <div class="mid-bold-text">{{selectedPlayer.bb10_adp || '-'}}</div>
      </div>
      <div class="insight__row">
        <div class="text__light">Real Time Fantasy Sports</div>
        <div class="mid-bold-text">{{selectedPlayer.rtsports_adp || '-'}}</div>
      </div>
      <div class="insight__row">
        <div class="text__light">Underdog Fantasy</div>
        <div class="mid-bold-text">{{selectedPlayer.underdog_adp || '-'}}</div>
      </div>
      <div class="insight__row">
        <div class="text__light">Drafters Fantasy Sports</div>
        <div class="mid-bold-text">{{selectedPlayer.drafters_adp || '-'}}</div>
      </div>
      <div class="insight__row">
        <div class="mid-bold-text">Average Position ADP</div>
        <div class="mid-bold-text">{{selectedPlayer.avg_adp || '-'}}</div>
      </div>
    </mat-card>
    <mat-card style="min-height: 220px" class="margin-top-25">
      <div class="mid-bold-text center-text">Current Contract</div>
      <div class="insight__row">
        <div class="text__light">Contract Expiration</div>
        <div class="mid-bold-text">
          <span *ngIf="playerProfile">{{playerProfile.profile_json?.contract?.free_agent || '-'}}</span>
          <span *ngIf="!playerProfile"><mat-progress-bar  mode="indeterminate" color="accent"></mat-progress-bar></span>
        </div>
      </div>
      <div class="insight__row">
        <div class="text__light">Fully Guaranteed</div>
        <div class="mid-bold-text">
          <span *ngIf="playerProfile">{{playerProfile.profile_json?.contract?.guaranteed_fully || '-'}}</span>
          <span *ngIf="!playerProfile"><mat-progress-bar  mode="indeterminate" color="accent"></mat-progress-bar></span>
        </div>
      </div>
      <div class="insight__row">
        <div class="text__light">Total Guaranteed</div>
        <div class="mid-bold-text">
          <span *ngIf="playerProfile">{{playerProfile.profile_json?.contract?.guaranteed_free || '-'}}</span>
          <span *ngIf="!playerProfile"><mat-progress-bar  mode="indeterminate" color="accent"></mat-progress-bar></span>
        </div>
      </div>
      <div class="insight__row">
        <div class="text__light">Per Year Salary</div>
        <div class="mid-bold-text">
          <span *ngIf="playerProfile">{{playerProfile.profile_json?.contract?.per_year || '-'}}</span>
          <span *ngIf="!playerProfile"><mat-progress-bar  mode="indeterminate" color="accent"></mat-progress-bar></span>
        </div>
      </div>
      <div class="insight__row">
        <div class="mid-bold-text">Total</div>
        <div class="mid-bold-text">
          <span *ngIf="playerProfile">{{playerProfile.profile_json?.contract?.total || '-'}}</span>
          <span *ngIf="!playerProfile"><mat-progress-bar  mode="indeterminate" color="accent"></mat-progress-bar></span>
        </div>
      </div>
    </mat-card>
  </div>
  <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="80%" class="item"  *ngIf="selectedPlayer.avg_adp">
    <div class="mid-bold-text margin-bot-10 center-text">Adjacent ADP Players</div>
    <mat-table [dataSource]="adjacentADP" class="mat-elevation-z8">
      <ng-container matColumnDef="rank">
        <mat-header-cell *matHeaderCellDef>Average</mat-header-cell>
        <mat-cell *matCellDef="let player;">{{player.avg_adp}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let player">{{player.full_name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="adp">
        <mat-header-cell *matHeaderCellDef>Plus/Minus</mat-header-cell>
        <mat-cell *matCellDef="let player"><div><span class="small-text__light">+/-</span> {{adpPlayerValues[player.name_id].adpPlusMinus}}</div></mat-cell>
      </ng-container>

      <ng-container matColumnDef="value">
        <mat-header-cell *matHeaderCellDef>Trade Value</mat-header-cell>
        <mat-cell *matCellDef="let player">{{adpPlayerValues[player.name_id].value}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="['value', 'name', 'adp', 'rank']"></mat-header-row>
      <mat-row class="box-score-element-row" *matRowDef="let row; columns: ['value', 'name', 'adp', 'rank'];" [ngClass]="{'mat-table-highlight': selectedPlayer.name_id === row.name_id}"></mat-row>
    </mat-table>
  </div>
</div>
