<div class="dialog-header">
    <h2 mat-dialog-title>{{ headerText }}</h2>
    <button mat-icon-button mat-dialog-close aria-label="Close" style="align-self: baseline">
      <mat-icon>close</mat-icon>
    </button>
  </div>

<mat-dialog-content>
  <div *ngFor="let category of categoryList">
    <div *ngIf="category.title" class="mid-bold-text">{{category.title}}</div>
    <ul>
      <li class="bullet-point" *ngFor="let bulletPoint of category.list">{{ bulletPoint }}</li>
    </ul>
  </div>
</mat-dialog-content>
