<div fxLayout="row wrap" fxLayoutAlign="center">
  <div fxFlex="60%" fxFlex.xs="100%" fxFlex.sm="80%" class="item" style="display: block">
    <mat-card>
      <div class="margin-bot-10 center-text"><span class="mid-bold-text">Trade Value (Past 40 Days)</span> <span (click)="openPlayerComparison(selectedPlayer)"><mat-icon matTooltip="Open in Player Comparison" matTooltipPosition="above" class="open-window-button">open_in_new</mat-icon></span></div>
      <div style="display: block; height: 300px" *ngIf="lineChartData.length > 0">
        <canvas baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [colors]="chartColors"
                [plugins]="lineChartPlugins">
        </canvas>
      </div>
      <div *ngIf="lineChartData.length == 0">
        <div style="min-height: 300px" class="center-spinner">
          <mat-spinner></mat-spinner>
        </div>
      </div>
    </mat-card>
  </div>
  <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="80%" class="item" *ngIf="playerService.playerStats[this.selectedPlayer.sleeper_id]">
    <mat-card style="max-height: 360px">
      <div class="mid-bold-text center-text margin-bot-10">Trade Value Metrics</div>
      <div class="insight__row">
        <div class="text__light">Value Change in Past 30 Days</div>
        <div class="mid-bold-text">{{playerCache.change || 0}}%</div>
      </div>
      <div class="insight__row">
        <div class="text__light">Rank Change in Past 30 Days</div>
        <div class="mid-bold-text">{{playerCache.rankChange || 0}}</div>
      </div>
      <div class="insight__row">
        <div class="text__light">90-Day High</div>
        <div class="mid-bold-text">{{playerCache.threeMonthHigh || '-'}}</div>
      </div>
      <div class="insight__row">
        <div class="text__light">90-Day Low</div>
        <div class="mid-bold-text">{{playerCache.threeMonthLow || 0}}</div>
      </div>
      <div class="insight__row">
        <div class="text__light">90-Day Best Rank</div>
        <div class="mid-bold-text">{{playerCache.threeMonthBestRank || '-'}}</div>
      </div>
      <div class="insight__row">
        <div class="text__light">90-Day Worst Rank</div>
        <div class="mid-bold-text">{{playerCache.threeMonthWorstRank || '-'}}</div>
      </div>
      <div class="insight__row">
        <div class="text__light">All-Time High</div>
        <div class="mid-bold-text">{{playerCache.allTimeHigh || '-'}}</div>
      </div>
      <div class="insight__row">
        <div class="text__light">All-Time Low</div>
        <div class="mid-bold-text">{{playerCache.allTimeLow || 0}}</div>
      </div>
      <div class="insight__row">
        <div class="text__light">All-Time Best Rank</div>
        <div class="mid-bold-text">{{playerCache.allTimeBestRank || '-'}}</div>
      </div>
      <div class="insight__row">
        <div class="text__light">All-Time Worst Rank</div>
        <div class="mid-bold-text">{{playerCache.allTimeWorstRank || '-'}}</div>
      </div>
    </mat-card>

  </div>
</div>
<div class="center-text mid-bold-text margin-top-50">
  Adjacent Player Value
</div>
<div class="margin-top-10 center-text">Below are the closest adjacent players by value.
  <div fxLayout="row wrap" fxLayoutAlign="center" class="margin-top-25">
    <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="80%" class="item">
      <div class="mid-bold-text margin-bot-10">Overall Adjacent Players</div>
      <mat-table [dataSource]="overallAdjPlayers" class="mat-elevation-z8">

        <ng-container matColumnDef="rank">
          <mat-header-cell *matHeaderCellDef>Rank</mat-header-cell>
          <mat-cell *matCellDef="let player;">{{player.rank + 1}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let player">{{player.player.full_name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="value">
          <mat-header-cell *matHeaderCellDef>Trade Value</mat-header-cell>
          <mat-cell *matCellDef="let player">{{adjOverallValues[player.player.name_id].value}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row class="box-score-element-row" *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'mat-table-highlight': selectedPlayer.name_id === row.player.name_id}"></mat-row>
      </mat-table>
    </div>
    <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="80%" class="item">
      <div class="mid-bold-text margin-bot-10">Positional Adjacent Players</div>
      <mat-table [dataSource]="positionAdjPlayers" class="mat-elevation-z8">

        <ng-container matColumnDef="rank">
          <mat-header-cell *matHeaderCellDef>Rank</mat-header-cell>
          <mat-cell *matCellDef="let player;">{{player.player.position}} {{adjPosValues[player.player.name_id]?.rank}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let player">{{player.player.full_name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="value">
          <mat-header-cell *matHeaderCellDef>Trade Value</mat-header-cell>
          <mat-cell *matCellDef="let player">{{adjPosValues[player.player.name_id]?.value}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row class="box-score-element-row" *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'mat-table-highlight': selectedPlayer.name_id === row.player.name_id}"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
