<div mat-dialog-title>Mock Draft Settings</div>

<div class="margin-top-10" mat-dialog-content [class.mobile]="configService.isMobile">
    <div class="center-text" *ngIf="(!leagueService.selectedLeague || leagueService.selectedLeague.leaguePlatform === 0) && !data?.isLive">
        <mat-form-field color="accent" style="width: 70%" >
            <mat-label>Sleeper Draft ID</mat-label>
                <input matInput type="text" [(ngModel)]="draftService.sleeperDraftId">
                <button mat-icon-button matSuffix (click)="draftService.loadCustomSleeperLeague()">
                    <mat-icon>filter_list</mat-icon>
                </button>
        </mat-form-field>
    </div>
    <div class="center-text margin-top-10">
        <mat-form-field appearance="standard" color="accent">
            <mat-label>Mock Draft Type</mat-label>
            <mat-select [(ngModel)]="mockDraftPlayerType" (selectionChange)="validateDraftType()">
                <mat-option [value]="0">All Players</mat-option>
                <mat-option [value]="1">Rookies</mat-option>
                <mat-option [value]="2">Vets Only</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="center-text margin-top-10">
        <span>
            <mat-form-field color="accent" style="width: 56px;">
                <mat-label>Rounds</mat-label>
                <input matInput type="number" [max]="30" [min]="1" [(ngModel)]="mockDraftRounds">
            </mat-form-field>
        </span>
        <span style="padding-left: 10px">
            <mat-form-field appearance="standard" color="accent" style="width: 102px;">
                <mat-label>Draft Order</mat-label>
                <mat-select [(ngModel)]="mockDraftOrder">
                    <mat-option [value]="0">Linear</mat-option>
                    <mat-option [value]="1">Snake</mat-option>
                    <mat-option [value]="2">3rd Round Reversal</mat-option>
                </mat-select>
            </mat-form-field>
        </span>
    </div>
    <div class="center-text margin-top-10">
        <mat-slide-toggle [(ngModel)]="isSuperFlex">SuperFlex
        </mat-slide-toggle>
    </div>
    <div class="center-text margin-top-10" *ngIf="!leagueService.selectedLeague">
        <mat-form-field appearance="standard" color="accent" style="width: 102px;" *ngIf="data?.isLive">
            <mat-label>Draft Type</mat-label>
            <mat-select [(ngModel)]="mockLeagueType" (selectionChange)="updateMarket()">
                <mat-option [value]="0">Dynasty</mat-option>
                <mat-option [value]="1">Redraft</mat-option>
            </mat-select>
        </mat-form-field>
        <span style="padding-left: 10px">
            <mat-form-field color="accent" style="width: 56px;">
                <mat-label>Team Count</mat-label>
                <input matInput type="number" [max]="16" [min]="8" [(ngModel)]="mockTeamCount" (change)="updateMockTeams()" (keyup)="updateMockTeams()">
            </mat-form-field>
        </span>
    </div>
    <div *ngIf="data?.isLive">
        <div class="mid-bold-text center-text margin-top-10">Live Draft Configurations</div>
        <div class="center-text margin-top-10">
            <fantasy-market-dropdown [selectedMarket]="selectedMarket" [additionalOptions]="draftService.marketOptions" (selectedMarketChange)="onMarketChange($event)"></fantasy-market-dropdown>
        </div>
        <div class="center-text margin-top-10">
            <mat-form-field appearance="standard" color="accent">
                <mat-label>Team Selection</mat-label>
                <mat-select [(ngModel)]="draftService.selectedMockDraftTeam">
                    <mat-option *ngFor="let team of liveDraftTeams; let ind = index" [value]="ind+1">{{team}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="center-text margin-top-10">
            <mat-form-field appearance="standard" color="accent" style="width: 102px; padding-right: 5px;">
                <mat-label>Draft Randomness</mat-label>
                <mat-select [(ngModel)]="draftService.liveDraftRandomness">
                    <mat-option [value]="0">Chalk</mat-option>
                    <mat-option [value]="1">Slight</mat-option>
                    <mat-option [value]="2">Average</mat-option>
                    <mat-option [value]="3">Crazy</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="standard" color="accent" style="width: 102px; padding-left: 5px;">
                <mat-label>Draft Speed</mat-label>
                <mat-select [(ngModel)]="draftService.liveDraftSpeed">
                    <mat-option [value]="100">Fastest</mat-option>
                    <mat-option [value]="250">Fast</mat-option>
                    <mat-option [value]="500">Normal</mat-option>
                    <mat-option [value]="750">Slow</mat-option>
                    <mat-option [value]="1000">Slowest</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>

<div mat-dialog-actions style="place-content: center">
    <button mat-button (click)="close()">Close</button>
    <button mat-button (click)="createMockDraft()" color="accent" *ngIf="!data?.isLive">Confirm</button>
    <button mat-raised-button (click)="createMockDraft(true)" color="primary" *ngIf="data?.isLive">Start Draft</button>
</div>