.wrapped-rank {
    text-align: end;
    font-size: clamp(18px, 6vw, 72px);
    position: relative;
    z-index: 1;
}

.wrapped-rank-icon {
    position: relative;
    z-index: 1;
}

.wrapped-header {
    font-size: clamp(12px, 2.2vw, 48px);
    position: relative;
    font-weight: bold;
    z-index: 1;
}

.wrapped-img {
    text-align: center;
    position: relative;
    z-index: 1;
}

.wrapped-details {
    font-size: clamp(10px, 1.2vw, 32px);
    position: relative;
    z-index: 1;
}

.wrapped-card-padding {
    padding-top: clamp(2px, 2vh, 15px);
}
