@use '@angular/material' as mat;
@import "../../../../styles.scss";

.wrapped-header {
    font-size: clamp(12px, 2.2vw, 48px);
    position: relative;
    font-weight: bold;
    z-index: 1;
}

.wrapped-img {
    text-align: center;
    position: relative;
    z-index: 1;
}

.wrapped-details {
    font-size: clamp(10px, 1.2vw, 32px);
    position: relative;
    z-index: 1;
}

.wrapped-card-padding {
    padding-top: clamp(2px, 2vh, 15px);
}

.rank-bottom-center {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(29, 29, 40, 0.9);
    color: #ffffff;
    font-weight: bold;
    padding: 5px;
    font-size: clamp(12px, 2vw, 20px);
    border-radius: 3px;
  }
  