<div class="wrapped-card-padding">
    <table>
        <colgroup>
            <col [ngStyle]="!configService.isMobile ? {'width': '25vw'} : {'width': '5vw'}">
            <col style="width: 5vw">
            <col style="width: 25vw">
            <col [ngStyle]="!configService.isMobile ? {'width': '20vw'} : {'width': '5vw'}">
        </colgroup>
        <tr>
            <td></td>
            <td class="wrapped-img">
                <img #image [src]="content.image" alt="Fantasy Team Avatar" onerror="style.display = 'none'" style="width: clamp(50px, 5vw, 200px);">
                <div class="rank-bottom-center" [attr.data-rank]="content.rank">{{content.rank}}</div>
            </td>
            <td>
                <div class="wrapped-header">
                    {{content.header}}
                </div>
                <div class="wrapped-details" [innerHTML]="content.details | accentNumber"></div>
            </td>
            <td></td>
        </tr>
    </table>
</div>
