.mat-column-teamRating,
.mat-column-eloChange,
.mat-column-record,
.mat-column-currentRecord,
.mat-column-winChampionship,
.mat-column-winDivision,
.mat-column-getBye,
.mat-column-winOut,
.mat-column-worstRecord,
.mat-column-bestRecord,
.mat-column-makeDivRd,
.mat-column-makeConfChamp,
.mat-column-makeChampionship,
.mat-column-makePlayoffs {
  max-width: 90px;
}

.mat-column-record,
.mat-column-currentRecord,
.mat-column-winChampionship,
.mat-column-winDivision,
.mat-column-getBye,
.mat-column-winOut,
.mat-column-worstRecord,
.mat-column-bestRecord,
.mat-column-makeDivRd,
.mat-column-makeConfChamp,
.mat-column-makeChampionship,
.mat-column-makePlayoffs {
  text-align: right;
  justify-content: flex-end;
  padding-right: 15px;
}

.mat-column-teamRating,
.mat-column-eloChange,
.mat-column-teamDivision,
.mat-column-teamName {
  text-align: left;
  justify-content: start;
}

.mat-column-teamName {
  min-width: 120px;
}

.mat-column-makePlayoffs {
  border-left: #585859 solid 1px;
}

.mat-row,
.mat-footer-row {
  max-height: 48px;
}

.positive-mat-chip {
  background-color: #008500;
}

.negative-mat-chip {
  background-color: #9a0000;
}
