<div class="table-container margin-top-25">
  <div style="display: block; height: 400px" *ngIf="data">
    <canvas baseChart
            [datasets]="data"
            [labels]="dataLabels"
            [options]="chartOptions"
            [legend]="chartLegend"
            [colors]="chartColors"
            [chartType]="chartType"
            [plugins]="chartPlugins">
    </canvas>
  </div>
  <div *ngIf="!chart && data.length == 0">
    <div style="min-height: 300px" class="center-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>
