<div class="center-text margin-top-10 large-bold-header-text">Welcome to Dynasty Daddy!</div>
<div fxLayout="row wrap" fxLayoutAlign="center" class="margin-top-15">
  <div class="flex-item-home center-text" style="font-size: 16px" fxFlex="60%" fxFlex.xs="100%" fxFlex.sm="80%">
    Dynasty Daddy is a free dynasty fantasy football tool that leverages KeepTradeCut player values and Sleeper League data to help users make quicker, more well informed fantasy football decisions.
  </div>
</div>

<div fxLayout="row wrap" fxLayoutAlign="center" class="margin-top-15" *ngIf="displayHomeModal()">
  <div class="flex-item-home center-text" fxFlex="50%" fxFlex.xs="80%" fxFlex.sm="80%">
    <mat-card style="background-color: {{getHomeModalBGColor()}}">
      <mat-card-title>{{getHomeModalHeader()}}</mat-card-title>
      <mat-card-content>{{getHomeModalBody()}}</mat-card-content>
    </mat-card>
  </div>
</div>

<div class=" margin-top-50" class="flex-start-container">
  <div fxLayout="row wrap" fxLayoutAlign="center" class="margin-top-50">
    <div class="flex-item-home center-text" style="min-width: 400px;">
      <div class="mid-bold-text">Let's get started!</div>
      <br>
      <div>
        <mat-radio-group [(ngModel)]="loginMethod" class="mat-dropdown-wide-200">
          <mat-radio-button value="sleeper_username" style="padding-right: 10px">Username</mat-radio-button>
          <mat-radio-button value="sleeper_league_id">League Id</mat-radio-button>
        </mat-radio-group>
      </div>
      <div *ngIf="loginMethod === 'sleeper_username'">
        <mat-form-field class="mat-dropdown-wide-200 margin-top-25" color="accent">
          <mat-label>Sleeper Username</mat-label>
          <input matInput type="text" [(ngModel)]="usernameInput">
          <button mat-button *ngIf="usernameInput" matSuffix mat-icon-button aria-label="Clear" (click)="usernameInput=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <div>
          <mat-form-field appearance="standard" color="accent">
            <mat-label>Select a year</mat-label>
            <mat-select [(ngModel)]="selectedYear">
              <mat-option *ngFor="let year of supportedYears" [value]="year">{{year}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button [disabled]="!usernameInput || (usernameInput == sleeperService.sleeperUser?.userData?.username && selectedYear == sleeperService.selectedYear)"
                  color="primary" (click)="fetchSleeperInfo()">Sign In
          </button>
        </div>
        <div class="margin-top-25" *ngIf="sleeperService.sleeperUser">
          <div>Hello <span class="warning__alert">{{sleeperService.sleeperUser?.userData.username}}</span>! We found <span
            class="warning__alert">{{sleeperService.sleeperUser?.leagues.length}}</span> leagues linked to this account in <span class="warning__alert">{{sleeperService.selectedYear}}</span>!
          </div>
          <br>
          <mat-form-field appearance="standard" color="accent" *ngIf="sleeperService.sleeperUser?.leagues.length > 0">
            <mat-label>Select a league</mat-label>
            <mat-select [(ngModel)]="leagueSwitchService.selectedLeague" (selectionChange)="leagueSwitchService.loadLeague($event.value)">
              <mat-option *ngFor="let league of sleeperService.sleeperUser?.leagues"
                          [value]="league">{{league.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="loginMethod === 'sleeper_league_id'">
        <mat-form-field class="mat-dropdown-wide-200 margin-top-25" color="accent">
          <mat-label>Sleeper League Id</mat-label>
          <input matInput type="text" [(ngModel)]="leagueIdInput">
          <button mat-button *ngIf="leagueIdInput" matSuffix mat-icon-button aria-label="Clear" (click)="leagueIdInput=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <div>
          <button mat-raised-button [disabled]="!leagueIdInput || usernameInput === sleeperService.selectedLeague?.leagueId"
                  color="primary" (click)="loginWithLeagueId()">Sign In
          </button>
        </div>
      </div>
      <div *ngIf="(loginMethod === 'sleeper_league_id' && !sleeperService.selectedLeague) || (loginMethod === 'sleeper_username' && !sleeperService.sleeperUser && !sleeperService.selectedLeague)">
        <div class="mid-bold-text margin-top-25 margin-bot-25">OR</div>
        <button mat-raised-button
                color="accent" (click)="loginWithDemo()">Try a Demo
        </button>
      </div>
      <div class="margin-top-25" *ngIf="sleeperService.sleeperTeamDetails && sleeperService.sleeperTeamDetails.length > 0">
        Congratulations<span class="warning__alert" *ngIf="sleeperService.sleeperUser"> {{sleeperService.sleeperUser?.userData.username}}</span>! The
        <span class="warning__alert">{{leagueSwitchService.selectedLeague.season}}</span> season of
        <span class="warning__alert">{{leagueSwitchService.selectedLeague.name}}</span> was loaded successfully!
      </div>
      <div *ngIf="sleeperService.selectedLeague && sleeperService.selectedLeague.prevLeagueId?.length > 5">
        <div class="mid-bold-text margin-top-25 margin-bot-25">OR</div>
        <button mat-stroked-button
                color="accent" (click)="loginWithPrevSeason()">View {{leagueSwitchService.selectedLeague.season - 1}} Season
        </button>
      </div>
    </div>
    <div [ngClass]="{'flex-item-home': !configService.isMobile, 'margin-top-50': configService.isMobile}">
      <div class="center-text">
        <div class="mid-bold-text">Join Our Community</div>
        <br>
        <iframe src="https://discord.com/widget?id=837372928005767220&theme=dark" width="350" height="500"
                allowtransparency="true" frameborder="0"
                sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts" class="discord-widget"></iframe>
      </div>
    </div>
  </div>
  <div class="large-bold-header-text center-text margin-top-120">
    Features of Dynasty Daddy
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="center" class="margin-top-25">
    <div class="flex-item-home" fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="80%">
      <div class="center-text mid-bold-text link--text__no__underline" [routerLink]="['./league/rankings']" [queryParams]="{ league: sleeperService.selectedLeague?.leagueId, user: sleeperService.sleeperUser?.userData?.username, year: sleeperService.selectedYear }"><mat-icon class="home-icon" style="padding-right: 35px">stacked_bar_chart</mat-icon>Power Rankings</div>
      <div class="center-text margin-top-25 margin-bot-50">
        Using KTC data, Dynasty Daddy will rank all teams by overall value, starter value, and position group. The data will be visualized in a chart as well as a collapsable table. This table can be expanded, sorted, and searched to enable more precise power rankings without being bombarded with a ton of numbers.
      </div>
    </div>
    <div class="flex-item-home" fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="80%">
      <div class="center-text mid-bold-text link--text__no__underline" [routerLink]="['./league/probability']" [queryParams]="{ league: sleeperService.selectedLeague?.leagueId, user: sleeperService.sleeperUser?.userData?.username, year: sleeperService.selectedYear }"><mat-icon class="home-icon" style="padding-right: 35px">calculate</mat-icon>Playoff Calculator</div>
      <div class="center-text margin-top-25 margin-bot-50">
        Calculates Weekly & Season probabilities based on teams' schedules. Using 10,000 simulations, Dynasty Daddy determines a team's odds to make the playoffs, make the finals, win the finals, record, and more. You can also select winners for upcoming weeks to see how the playoffs shake out depending on who wins each match up.
      </div>
    </div>
    <div class="flex-item-home" fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="80%">
      <div class="center-text mid-bold-text link--text__no__underline" [routerLink]="['./players/trade']" [queryParams]="{ league: sleeperService.selectedLeague?.leagueId, user: sleeperService.sleeperUser?.userData?.username, year: sleeperService.selectedYear }"><mat-icon class="home-icon" style="padding-right: 35px">compare_arrows</mat-icon>Trade Calculator</div>
      <div class="center-text margin-top-25 margin-bot-50">
        Using player values, you can build trades to maximize your teams value. Similar to the KTC trade calculator, however it will filter out player recommendations based on the teams selected in trades. This unlocks the ability to quickly find valid trades while using consistent player values. Additional power ranking data will appear when signed in to inform the user on team positional rankings as well.
      </div>
    </div>
    <div class="flex-item-home" fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="80%">
      <div class="center-text mid-bold-text link--text__no__underline" [routerLink]="['./league/draft']" [queryParams]="{ league: sleeperService.selectedLeague?.leagueId, user: sleeperService.sleeperUser?.userData?.username, year: sleeperService.selectedYear }"><mat-icon class="home-icon" style="padding-right: 35px">storage</mat-icon>Draft Center <span class="warning__alert small-text__light">Beta</span></div>
      <div class="center-text margin-top-25 margin-bot-50">
        Generate Draft Recaps of your league drafts to see who made the best value draft picks. Using the redraft keeper candidate tool, determine which players are the best to keep. Also check out the early version of the mock draft tool, where you can create your own mock drafts using KeepTradeCut's values!
      </div>
    </div>
    <div class="flex-item-home" fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="80%">
      <div class="center-text mid-bold-text link--text__no__underline" [routerLink]="['./league/trade/finder']" [queryParams]="{ league: sleeperService.selectedLeague?.leagueId, user: sleeperService.sleeperUser?.userData?.username, year: sleeperService.selectedYear }"><mat-icon class="home-icon" style="padding-right: 35px">person_search</mat-icon>Trade Finder</div>
      <div class="center-text margin-top-25 margin-bot-50">
        Find trades for players you want to trade soon. Be able to generate trades quickly and navigate to the Trade Calculator if you want to dig into a particular offer more! Trade packages generated use our trade calculator logic under the surface to guarantee that we are creating the most realistic trades as possible.
      </div>
    </div>
    <div class="flex-item-home" fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="80%">
      <div class="center-text mid-bold-text link--text__no__underline" [routerLink]="['./league/standings']" [queryParams]="{ league: sleeperService.selectedLeague?.leagueId, user: sleeperService.sleeperUser?.userData?.username, year: sleeperService.selectedYear }"><mat-icon class="home-icon" style="padding-right: 35px">leaderboard</mat-icon>Standings</div>
      <div class="center-text margin-top-25 margin-bot-50">
        Display advanced league standings & metrics to understand how each team is performing. View strength of schedule, close match ups, highest scoring weeks, and more! Additional schedule comparison insights are also on this page.
      </div>
    </div>
    <div class="flex-item-home" fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="80%">
      <div class="center-text mid-bold-text link--text__no__underline" [routerLink]="['./players/values']" [queryParams]="{ league: sleeperService.selectedLeague?.leagueId, user: sleeperService.sleeperUser?.userData?.username, year: sleeperService.selectedYear }"><mat-icon class="home-icon" style="padding-right: 35px">trending_up</mat-icon>Player Values</div>
      <div class="center-text margin-top-25 margin-bot-50">
        View up to date player values from the current day. Filter on free agents, rookies and search for particular players. Navigate to team & player pages for more details on specific teams or players. Player values are updated every day to guarantee you are receiving up to date values to make your fantasy football decisions.
      </div>
    </div>
    <div class="flex-item-home" fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="80%">
      <div class="center-text mid-bold-text link--text__no__underline" [routerLink]="['./players/comparison']" [queryParams]="{ league: sleeperService.selectedLeague?.leagueId, user: sleeperService.sleeperUser?.userData?.username, year: sleeperService.selectedYear }"><mat-icon class="home-icon" style="padding-right: 35px">insights</mat-icon>Player Comparison Tool</div>
      <div class="center-text margin-top-25 margin-bot-50">
        Compare player values overtime to get more insight into how the player's value is trending. Add & query to make personalized views to meed the needs of you research. This tool can also display trade packages from the trade calculator!
      </div>
    </div>
  </div>
  <div class="large-bold-header-text center-text margin-top-120">
    Thanks for checking out Dynasty Daddy
  </div>
  <div class="center-text margin-top-15" style="font-size: 16px">
    Support Dynasty Daddy at the links in the footer!
  </div>
</div>
