<div class="center-text margin-top-10 large-bold-header-text">Welcome to Dynasty Daddy!</div>
<div fxLayout="row wrap" fxLayoutAlign="center" class="margin-top-15">
  <div class="flex-item-home center-text" style="font-size: 16px" fxFlex="60%" fxFlex.xs="100%" fxFlex.sm="80%">
    Dynasty Daddy is a free dynasty fantasy football tool that leverages fantasy market player values and fantasy League data to help users make quicker, more well informed fantasy football decisions.
  </div>
</div>

<div fxLayout="row wrap" fxLayoutAlign="center" class="margin-top-15" *ngIf="displayHomeModal()">
  <div class="flex-item-home center-text" fxFlex="50%" fxFlex.xs="80%" fxFlex.sm="80%">
    <mat-card style="background-color: {{getHomeModalBGColor()}}">
      <mat-card-title>{{getHomeModalHeader()}}</mat-card-title>
      <mat-card-content>{{getHomeModalBody()}}</mat-card-content>
    </mat-card>
  </div>
</div>

<div class=" margin-top-50" class="flex-start-container">
  <div fxLayout="row wrap" fxLayoutAlign="center" class="margin-top-50">
    <div class="flex-item-home center-text" style="min-width: 400px;">
      <div class="mid-bold-text">Let's get started!</div>
      <mat-tab-group mat-align-tabs="center" class="margin-top-25" selectedIndex="{{selectedTab}}">
        <mat-tab>
          <ng-template mat-tab-label>
            <img width="30px" height="30px" src="https://play-lh.googleusercontent.com/Ox2yWLWnOTu8x2ZWVQuuf0VqK_27kEqDMnI91fO6-1HHkvZ24wTYCZRbVZfRdx3DXn4=w480-h960-rw">
          </ng-template>
          <div style="overflow: hidden !important;">
          <br>
            <div class="margin-bot-20 center-text">
              <span class="mid-bold-text">Sleeper</span>
              <span *ngIf="leagueService.selectedLeague && leagueService.selectedLeague.leaguePlatform === 0">
                <mat-icon (click)="openSettingsDialog()" matTooltip="Edit League Settings" matTooltipPosition="above" class="edit-button">edit_outline</mat-icon>
              </span>
            </div>
          <div>
            <mat-radio-group [(ngModel)]="sleeperLoginMethod" class="mat-dropdown-wide-200">
              <mat-radio-button value="sleeper_username" style="padding-right: 10px">Username</mat-radio-button>
              <mat-radio-button value="sleeper_league_id">League Id</mat-radio-button>
            </mat-radio-group>
          </div>
          <div *ngIf="sleeperLoginMethod === 'sleeper_username'">
            <mat-form-field class="mat-dropdown-wide-200 margin-top-25" color="accent">
              <mat-label>Sleeper Username</mat-label>
              <input matInput type="text" [(ngModel)]="usernameInput">
              <button mat-button *ngIf="usernameInput" matSuffix mat-icon-button aria-label="Clear" (click)="usernameInput=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
            <div>
              <mat-form-field appearance="standard" color="accent">
                <mat-label>Select a year</mat-label>
                <mat-select [(ngModel)]="selectedYear">
                  <mat-option *ngFor="let year of supportedYears" [value]="year">{{year}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <button mat-raised-button [disabled]="!usernameInput"
                      color="accent" (click)="fetchSleeperInfo()" gaEvent="login_sleeper_username" gaCategory="platform_login">Sign In
              </button>
            </div>
            <div class="margin-top-25" *ngIf="leagueService.leagueUser && leagueService.leagueUser.leaguePlatform === 0">
              <div><span *ngIf="leagueService.leagueUser.userData.username !== 'undefined'">Hello <span class="warning__alert">{{leagueService.leagueUser?.userData.username}}</span>!</span> We found <span
                class="warning__alert">{{leagueService.leagueUser?.leagues.length}}</span> leagues linked to this account in <span class="warning__alert">{{leagueService.selectedYear}}</span>.
              </div>
              <br>
              <div class="mat-form-field-center">
                <mat-form-field appearance="standard" color="accent" *ngIf="leagueService.leagueUser?.leagues.length > 0">
                  <mat-label>Select a league</mat-label>
                  <mat-select [(ngModel)]="leagueSwitchService.selectedLeague" (selectionChange)="leagueSwitchService.loadLeague($event.value)" [disabled]="leagueService.leagueStatus === 'LOADING'">
                    <mat-option *ngFor="let league of leagueService.leagueUser?.leagues"
                                [value]="league">{{league.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div *ngIf="sleeperLoginMethod === 'sleeper_league_id'">
            <mat-form-field class="mat-dropdown-wide-200 margin-top-25" color="accent">
              <mat-label>Sleeper League Id</mat-label>
              <input matInput type="text" [(ngModel)]="sleeperLeagueIdInput">
              <button mat-button *ngIf="sleeperLeagueIdInput" matSuffix mat-icon-button aria-label="Clear" (click)="sleeperLeagueIdInput=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
            <div>
              <button mat-raised-button [disabled]="!sleeperLeagueIdInput || usernameInput === leagueService.selectedLeague?.leagueId"
                      color="accent" (click)="loginWithSleeperLeagueId()"gaEvent="login_sleeper_league_id" gaCategory="platform_login">Sign In
              </button>
            </div>
          </div>
          <div *ngIf="(sleeperLoginMethod === 'sleeper_league_id' && !leagueService.selectedLeague) || (sleeperLoginMethod === 'sleeper_username' && !leagueService.leagueUser && !leagueService.selectedLeague)">
            <div class="mid-bold-text margin-top-25 margin-bot-25">OR</div>
            <button mat-raised-button
                    color="accent" (click)="loginWithDemo()">Try a Demo
            </button>
          </div>
          </div>
        </mat-tab>
        <mat-tab *ngIf="configService.getConfigOptionByKey('allow_mfl_login')?.configValue === 'true'">
          <ng-template mat-tab-label>
            <img width="30px" height="30px" src="http://myfantasyleague.com/images/mfl_logo/updates/new_mfl_logo_80x80.gif">
          </ng-template>
          <div style="overflow: hidden !important;">
            <br>
            <div class="margin-bot-10 center-text">
              <span class="mid-bold-text">MyFantasyLeague <span class="warning__alert small-text__light">Beta</span></span>
              <span *ngIf="leagueService.selectedLeague && leagueService.selectedLeague.leaguePlatform === 1">
                <mat-icon (click)="openSettingsDialog()" matTooltip="Edit League Settings" matTooltipPosition="above" class="edit-button">edit_outline</mat-icon>
              </span>
            </div>
            <div>
              <mat-radio-group [(ngModel)]="mflLoginMethod" class="mat-dropdown-wide-200 margin-top-15">
                <mat-radio-button value="mfl_username" style="padding-right: 10px">Username</mat-radio-button>
                <mat-radio-button value="mfl_league_id">League Id</mat-radio-button>
              </mat-radio-group>
            </div>
            <div *ngIf="mflLoginMethod === 'mfl_username'">
              <mat-form-field class="mat-dropdown-wide-200 margin-top-25" color="accent">
                <mat-label>MFL Username</mat-label>
                <input matInput type="text" [(ngModel)]="mflUsernameInput">
                <button mat-button *ngIf="mflUsernameInput" matSuffix mat-icon-button aria-label="Clear" (click)="mflUsernameInput=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
              <div>
                <mat-form-field class="mat-dropdown-wide-200" color="accent">
                  <mat-label>MFL Password</mat-label>
                  <input matInput type="password" [(ngModel)]="mflPasswordInput">
                  <button mat-button *ngIf="mflPasswordInput" matSuffix mat-icon-button aria-label="Clear" (click)="mflPasswordInput=''">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>
              <div>
                <button mat-raised-button [disabled]="!mflUsernameInput || !mflPasswordInput"
                        color="accent" (click)="fetchMFLInfo()" gaEvent="login_mfl_username" gaCategory="platform_login">Sign In
                </button>
                <div class="margin-top-10 small-text__light">
                  We do not store any personal data, it is only passed to the MFL to retrieve data.
                </div>
              </div>
              <div class="margin-top-25" *ngIf="leagueService.leagueUser && leagueService.leagueUser.leaguePlatform === 1">
                <div><span *ngIf="leagueService.leagueUser.userData.username !== 'undefined'">Hello <span class="warning__alert">{{leagueService.leagueUser?.userData.username}}</span>!</span> We found <span
                  class="warning__alert">{{leagueService.leagueUser?.leagues.length}}</span> leagues linked to this account in <span class="warning__alert">{{leagueService.selectedYear}}</span>.
                </div>
                <br>
                <div class="mat-form-field-center">
                  <mat-form-field appearance="standard" color="accent" *ngIf="leagueService.leagueUser?.leagues.length > 0">
                    <mat-label>Select a league</mat-label>
                    <mat-select [(ngModel)]="mflLeagueIdInput" (selectionChange)="loginWithMFLLeagueId()" [disabled]="leagueService.leagueStatus === 'LOADING'">
                      <mat-option *ngFor="let league of leagueService.leagueUser?.leagues"
                                  [value]="league.leagueId">{{league.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div *ngIf="mflLoginMethod === 'mfl_league_id'">
              <mat-form-field class="mat-dropdown-wide-200 margin-top-25" color="accent">
                <mat-label>MFL League Id</mat-label>
                <input matInput type="text" [(ngModel)]="mflLeagueIdInput">
                <button mat-button *ngIf="mflLeagueIdInput" matSuffix mat-icon-button aria-label="Clear" (click)="mflLeagueIdInput=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
              <div>
                <mat-form-field appearance="standard" color="accent">
                  <mat-label>Select a year</mat-label>
                  <mat-select [(ngModel)]="selectedYear">
                    <mat-option *ngFor="let year of supportedYears" [value]="year">{{year}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div>
                <button mat-raised-button [disabled]="!mflLeagueIdInput"
                        color="accent" (click)="loginWithMFLLeagueId()" gaEvent="login_mfl_league_id" gaCategory="platform_login">Sign In
                </button>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab *ngIf="configService.getConfigOptionByKey('allow_ff_login')?.configValue === 'true'">
          <ng-template mat-tab-label>
            <img width="30px" height="30px" src="https://d1h60c43tcq0zx.cloudfront.net/static/images/icons/apple-touch-icon-f3d0ad2586e334ad16152ed2ea83733c.png">
          </ng-template>
          <div style="overflow: hidden !important;">
          <br>
            <div class="margin-bot-20 center-text">
              <span class="mid-bold-text">Fleaflicker <span class="warning__alert small-text__light">Beta</span></span>
              <span *ngIf="leagueService.selectedLeague && leagueService.selectedLeague.leaguePlatform === 2">
                <mat-icon (click)="openSettingsDialog()" matTooltip="Edit League Settings" matTooltipPosition="above" class="edit-button">edit_outline</mat-icon>
              </span>
            </div>
          <div>
            <mat-radio-group [(ngModel)]="fleaflickerLoginMethod" class="mat-dropdown-wide-200">
              <mat-radio-button value="fleaflicker_email" style="padding-right: 10px">Email</mat-radio-button>
              <mat-radio-button value="fleaflicker_league_id">League Id</mat-radio-button>
            </mat-radio-group>
          </div>
          <div *ngIf="fleaflickerLoginMethod === 'fleaflicker_email'">
            <mat-form-field class="mat-dropdown-wide-200 margin-top-25" color="accent">
              <mat-label>Fleaflicker Email</mat-label>
              <input matInput type="text" [(ngModel)]="fleaflickerEmail">
              <button mat-button *ngIf="fleaflickerEmail" matSuffix mat-icon-button aria-label="Clear" (click)="fleaflickerEmail=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
            <div>
              <mat-form-field appearance="standard" color="accent">
                <mat-label>Select a year</mat-label>
                <mat-select [(ngModel)]="selectedYear">
                  <mat-option *ngFor="let year of supportedYears" [value]="year">{{year}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <button mat-raised-button [disabled]="!fleaflickerEmail"
                      color="accent" (click)="fetchFleaflickerInfo()" gaEvent="login_ff_email" gaCategory="platform_login">Sign In
              </button>
            </div>
            <div class="margin-top-25" *ngIf="leagueService.leagueUser && leagueService.leagueUser.leaguePlatform === 2">
              <div><span *ngIf="leagueService.leagueUser.userData.username !== 'undefined'">Hello <span class="warning__alert">{{leagueService.leagueUser?.userData.username}}</span>!</span> We found <span
                class="warning__alert">{{leagueService.leagueUser?.leagues.length}}</span> leagues linked to this account in <span class="warning__alert">{{leagueService.selectedYear}}</span>.
              </div>
              <br>
              <div class="mat-form-field-center">
                <mat-form-field appearance="standard" color="accent" *ngIf="leagueService.leagueUser?.leagues.length > 0">
                  <mat-label>Select a league</mat-label>
                  <mat-select [(ngModel)]="fleaflickerLeagueIdInput" (selectionChange)="loginWithFleaflickerLeagueId()" [disabled]="leagueService.leagueStatus === 'LOADING'">
                    <mat-option *ngFor="let league of leagueService.leagueUser?.leagues"
                                [value]="league.leagueId">{{league.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div *ngIf="fleaflickerLoginMethod=== 'fleaflicker_league_id'">
            <mat-form-field class="mat-dropdown-wide-200 margin-top-25" color="accent">
              <mat-label>Fleaflicker League Id</mat-label>
              <input matInput type="text" [(ngModel)]="fleaflickerLeagueIdInput">
              <button mat-button *ngIf="fleaflickerLeagueIdInput" matSuffix mat-icon-button aria-label="Clear" (click)="fleaflickerLeagueIdInput=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
            <div>
              <mat-form-field appearance="standard" color="accent">
                <mat-label>Select a year</mat-label>
                <mat-select [(ngModel)]="selectedYear">
                  <mat-option *ngFor="let year of supportedYears" [value]="year">{{year}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <button mat-raised-button [disabled]="!fleaflickerLeagueIdInput || usernameInput === leagueService.selectedLeague?.leagueId"
                      color="accent" (click)="loginWithFleaflickerLeagueId()" gaEvent="login_ff_league_id" gaCategory="platform_login">Sign In
              </button>
            </div>
          </div>
          </div>
        </mat-tab>
        <mat-tab *ngIf="configService.getConfigOptionByKey('allow_espn_login')?.configValue === 'true'">
          <ng-template mat-tab-label>
            <img width="30px" height="30px" src="https://espnpressroom.com/us/files/2018/03/App-Icon-iOS-mic-flag-cut-to-shape.png">
          </ng-template>
          <div style="overflow: hidden !important;">
          <br>
            <div class="margin-bot-20 center-text">
              <span class="mid-bold-text">ESPN <span class="warning__alert small-text__light">Beta</span></span>
              <span *ngIf="leagueService.selectedLeague && leagueService.selectedLeague.leaguePlatform === 3">
                <mat-icon (click)="openSettingsDialog()" matTooltip="Edit League Settings" matTooltipPosition="above" class="edit-button">edit_outline</mat-icon>
              </span>
            </div>
          <div *ngIf="espnLoginMethod=== 'espn_league_id'">
            <mat-form-field class="mat-dropdown-wide-200 margin-top-25" color="accent">
              <mat-label>ESPN League Id</mat-label>
              <input matInput type="text" [(ngModel)]="espnLeagueId">
              <button mat-button *ngIf="espnLeagueId" matSuffix mat-icon-button aria-label="Clear" (click)="espnLeagueId=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
            <div>
              <mat-form-field appearance="standard" color="accent">
                <mat-label>Select a year</mat-label>
                <mat-select [(ngModel)]="selectedYear">
                  <mat-option *ngFor="let year of supportedYears" [value]="year">{{year}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <button mat-raised-button [disabled]="!espnLeagueId || usernameInput === leagueService.selectedLeague?.leagueId"
                      color="accent" (click)="loginWithESPNLeagueId()" gaEvent="login_espn_league_id" gaCategory="platform_login">Sign In
              </button>
            </div>
          </div>
          </div>
        </mat-tab>
      </mat-tab-group>
      <div *ngIf="leagueService.leagueStatus === 'LOADING'" class="center-spinner margin-top-25">
        <mat-spinner [diameter]="50"></mat-spinner>
      </div>
      <div *ngIf="leagueService.isLeagueLoaded()">
        <div class="margin-top-25">
          <div *ngIf="leagueService.leagueUser && leagueService.leagueUser?.userData.username !== 'undefined'">Congratulations<span class="warning__alert"> {{leagueService.leagueUser?.userData.username}}</span>!</div> The
          <span class="warning__alert">{{leagueSwitchService.selectedLeague.season}}</span> season of
          <span class="warning__alert">{{leagueSwitchService.selectedLeague.name}}</span> was loaded successfully from
          <span class="warning__alert">{{getPlatformDisplayName()}}</span>!
        </div>
        <div *ngIf="leagueService.selectedLeague">You can navigate to other pages or <span class="link--text__dot__underline" [routerLink]="['./league/rankings']"  gaEvent="nav_power_rankings" gaCategory="page_nav">click here to checkout out your league power rankings.</span></div>
        <div *ngIf="configService.getConfigOptionByKey('enable_wrapped')?.configValue === 'true'" class="margin-top-15">
          <button mat-button [routerLink]="['./wrapped']" [queryParams]="leagueSwitchService.buildQueryParams()" class="wrapped-button" gaEvent="nav_wrapped" gaCategory="page_nav">Check out Wrapped <mat-icon class="header-icon">redeem</mat-icon></button>
        </div>
        <div *ngIf="leagueService.selectedLeague && leagueService.selectedLeague.prevLeagueId?.length >= 5">
          <div class="mid-bold-text margin-top-25 margin-bot-25">OR</div>
          <button mat-stroked-button
                  color="accent" (click)="loginWithPrevSeason()">View {{leagueSwitchService.selectedLeague.season - 1}} Season
          </button>
        </div>
      </div>
    </div>
    <div [ngClass]="{'flex-item-home': !configService.isMobile, 'margin-top-50': configService.isMobile}">
      <div class="center-text">
        <div class="mid-bold-text">Join Our Community</div>
        <br>
        <div class="center-text">
          <span  (click)="loadTwitterTimeline()"><img src="https://img.shields.io/badge/Twitter-1DA1F2?style=for-the-badge&logo=twitter&logoColor=white" alt="Twitter" style="cursor: pointer"/></span>
          <span style="margin-right: 5px; margin-left: 5px;" (click)="dynastyDaddySocials = 'discord'"><img src="https://img.shields.io/badge/Discord-5865F2?style=for-the-badge&logo=discord&logoColor=white" alt="Join Community Badge" style="cursor: pointer"/></span>
          <span (click)="dynastyDaddySocials = 'youtube'"><img src="https://img.shields.io/badge/YouTube-FF0000?style=for-the-badge&logo=youtube&logoColor=white" alt="Subscribe" style="cursor: pointer"/></span>
        </div>
        <div *ngIf="dynastyDaddySocials == 'twitter'">
          <div style="text-align: -webkit-center;">
            <a class="twitter-timeline" href="https://twitter.com/DynastyDaddyff?ref_src=twsrc%5Etfw" width="350" height="400" data-tweet-limit="3">Loading Feed<mat-spinner [diameter]="20"></mat-spinner></a>
          </div>
        </div>
        <div *ngIf="dynastyDaddySocials == 'discord'">
          <iframe src="https://discord.com/widget?id=837372928005767220&theme=dark" width="350" height="400" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        </div>
        <div *ngIf="dynastyDaddySocials == 'youtube'">
          <iframe width="350" height="197" src="https://www.youtube.com/embed/videoseries?list=PLj5YOlMjbtAIRSFnPi-D6HJxeX-HjtGw2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="large-bold-header-text center-text margin-top-50">
    Dynasty Daddy Preferred Creators
  </div>

  <div class="margin-top-15 center-text" style="text-align: -webkit-center;">
    <mat-carousel
      timings="250ms ease-in"
      [autoplay]="true"
      interval="5000"
      color="accent"
      maxWidth="1000px"
      maintainAspectRatio="true"
      proportion="25"
      slides="5"
      [loop]="true"
      [hideArrows]="true"
      [hideIndicators]="configService.isMobile ? true : false"
      [useKeyboard]="true"
      [useMouseWheel]="false"
      orientation="ltr">
      <mat-carousel-slide
        #matCarouselSlide
        *ngFor="let slide of configService.preferredCreators; let i = index"
        [image]="slide.image"
        [alt]="slide.alt"
        overlayColor="#00000040"
        [hideOverlay]="false">
      <div style="width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center" (click)="openSlideUrl(slide)">
    </div>
    </mat-carousel-slide>
    </mat-carousel>
  </div>

  <div class="large-bold-header-text center-text margin-top-50">
    Features of Dynasty Daddy
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="center" class="margin-top-25">
    <div class="flex-item-home" fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="80%">
      <div class="center-text mid-bold-text link--text__no__underline" [routerLink]="['./league/rankings']" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_power_rankings" gaCategory="page_nav"><mat-icon class="home-icon" style="padding-right: 35px">stacked_bar_chart</mat-icon>Power Rankings</div>
      <div class="center-text margin-top-25 margin-bot-50">
        Using fantasy market data, Dynasty Daddy will rank all teams by overall value, starter value, and position group. The data will be visualized in a chart as well as a collapsable table. This table can be expanded, sorted, and searched to enable more precise power rankings without being bombarded with a ton of numbers.
      </div>
    </div>
    <div class="flex-item-home" fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="80%">
      <div class="center-text mid-bold-text link--text__no__underline" [routerLink]="['./league/probability']" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_playoff_calculator" gaCategory="page_nav"><mat-icon class="home-icon" style="padding-right: 35px">calculate</mat-icon>Playoff Calculator</div>
      <div class="center-text margin-top-25 margin-bot-50">
        Calculates Weekly & Season probabilities based on teams' schedules. Using 10,000 simulations, Dynasty Daddy determines a team's odds to make the playoffs, make the finals, win the finals, record, and more. You can also select winners for upcoming weeks to see how the playoffs shake out depending on who wins each match-up.
      </div>
    </div>
    <div class="flex-item-home" fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="80%">
      <div class="center-text mid-bold-text link--text__no__underline" [routerLink]="['./players/trade']" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_trade_calculator" gaCategory="page_nav"><mat-icon class="home-icon" style="padding-right: 35px">compare_arrows</mat-icon>Trade Calculator</div>
      <div class="center-text margin-top-25 margin-bot-50">
        Using player values, you can build trades to maximize your teams value. It will filter out player recommendations based on the teams selected in trades. This unlocks the ability to quickly find valid trades while using consistent player values. Additional power ranking data will appear when signed in to inform the user on team positional rankings as well.
      </div>
    </div>
    <div class="flex-item-home" fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="80%">
      <div class="center-text mid-bold-text link--text__no__underline" [routerLink]="['./league/draft']" [queryParams]="leagueSwitchService.buildQueryParams()"  gaEvent="nav_draft_center" gaCategory="page_nav"><mat-icon class="home-icon" style="padding-right: 35px">storage</mat-icon>Draft Center <span class="warning__alert small-text__light">Beta</span></div>
      <div class="center-text margin-top-25 margin-bot-50">
        Generate Draft Recaps of your league drafts to see who made the best value draft picks. Using the redraft keeper candidate tool, determine which players are the best to keep. Also check out the early version of the mock draft tool, where you can create your own mock drafts using fantasy market values!
      </div>
    </div>
    <div class="flex-item-home" fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="80%">
      <div class="center-text mid-bold-text link--text__no__underline" [routerLink]="['./league/trade/finder']" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_trade_finder" gaCategory="page_nav"><mat-icon class="home-icon" style="padding-right: 35px">person_search</mat-icon>Trade Finder</div>
      <div class="center-text margin-top-25 margin-bot-50">
        Find trades for players you want to trade soon. Be able to generate trades quickly and navigate to the Trade Calculator if you want to dig into a particular offer more! Trade packages generated use our trade calculator logic under the surface to guarantee that we are creating the most realistic trades as possible.
      </div>
    </div>
    <div class="flex-item-home" fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="80%">
      <div class="center-text mid-bold-text link--text__no__underline" [routerLink]="['./league/standings']" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_standings" gaCategory="page_nav"><mat-icon class="home-icon" style="padding-right: 35px">leaderboard</mat-icon>Standings</div>
      <div class="center-text margin-top-25 margin-bot-50">
        Display advanced league standings & metrics to understand how each team is performing. View strength of schedule, close match ups, highest scoring weeks, and more! Additional schedule comparison insights are also on this page.
      </div>
    </div>
    <div class="flex-item-home" fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="80%">
      <div class="center-text mid-bold-text link--text__no__underline" [routerLink]="['./league/portfolio']" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_portfolio" gaCategory="page_nav"><mat-icon class="home-icon" style="padding-right: 35px">account_balance</mat-icon>Fantasy Portfolio  <span class="warning__alert small-text__light">Beta</span></div>
      <div class="center-text margin-top-25 margin-bot-50">
       Track your fantasy player portfolio's value over time. Break down what players you have invested the most into and diversify your player portfolio accross all leagues. Select which fantasy market to value players at and make sure you are building a portfolio for long term success.
      </div>
    </div>
    <div class="flex-item-home" fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="80%">
      <div class="center-text mid-bold-text link--text__no__underline" [routerLink]="['./players/values']" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_player_values" gaCategory="page_nav"><mat-icon class="home-icon" style="padding-right: 35px">trending_up</mat-icon>Player Values</div>
      <div class="center-text margin-top-25 margin-bot-50">
        View up to date player values from the current day. Filter on free agents, rookies and search for particular players. Navigate to team & player pages for more details on specific teams or players. Player values are updated every day to guarantee you are receiving up to date values to make your fantasy football decisions.
      </div>
    </div>
    <div class="flex-item-home" fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="80%">
      <div class="center-text mid-bold-text link--text__no__underline" [routerLink]="['./players/comparison']" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_value_comparisons" gaCategory="page_nav"><mat-icon class="home-icon" style="padding-right: 35px">insights</mat-icon>Player Comparison Tool</div>
      <div class="center-text margin-top-25 margin-bot-50">
        Compare player values overtime to get more insight into how the player's value is trending. Add & query to make personalized views to meed the needs of you research. This tool can also display trade packages from the trade calculator!
      </div>
    </div>
    <div class="flex-item-home" fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="80%">
      <div class="center-text mid-bold-text"><mat-icon class="home-icon" style="padding-right: 35px">redeem</mat-icon>Wrapped</div>
      <div class="center-text margin-top-25 margin-bot-50">
        Creates a Spotify Wrapped style recap for your fantasy league. Recapping the best fantasy trades, transactions, and teams in your league in a visually pleasing presentation that can easily be shared with league mates and others on social media.
      </div>
    </div>
  </div>
  <div class="large-bold-header-text center-text margin-top-65">
    Thanks for checking out Dynasty Daddy
  </div>
  <div class="center-text margin-top-15" style="font-size: 16px">
    Support Dynasty Daddy at the links in the footer!
  </div>
</div>
