.community-box {
  border: 1px solid grey;
  min-width: 350px;
  min-height: 500px;
}

.discord-widget {
  padding: 4px;
}

.edit-button {
  font-size: large;
  vertical-align: top;
  padding-left: 5px;
  cursor: pointer;
}

.dropdown-img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.home-button {
  margin: 1%;
}