@use '@angular/material' as mat;

@import "../../../../styles.scss";

.mat-column-position,
.mat-column-avg_adp,
.mat-column-age,
.mat-column-change,
.mat-column-actions {
  max-width: 82px;
}

.mat-column-injury {
  max-width: 60px;
}

.mat-column-full_name {
  min-width: 150px;
}

.mat-column-full_name,
.mat-column-owner {
  text-overflow: clip;
}

.mat-column-full_name,
.mat-column-position,
.mat-column-age,
.mat-column-injury,
.mat-column-owner {
  text-align: right;
  justify-content: flex-start;
}

.mat-column-avg_adp,
.mat-column-halfppr,
.mat-column-trade_value,
.mat-column-sf_trade_value,
.mat-column-change,
.mat-column-actions {
  text-align: right;
  justify-content: flex-end;
}

.mat-column-halfppr,
.mat-column-trade_value,
.mat-column-sf_trade_value {
  max-width: 100px;
}

.ktc-table-element-row {
  cursor: pointer;
}

.ktc-table-element-row:hover {
  background: $dark-bg-lighter-30;
}

.ktc-table-element-row:active {
  background: mat.get-color-from-palette($mat-accent, main);
}

.ktc-table-container-wrapper {
  overflow-x: auto;
  width: clamp(300px, 100vw, 1000px)
}