<div [ngClass]="{'ktc-table-container-wrapper': configService.isMobile}">
<div class="margin-top-10 mat-elevation-z8" [hidden]="playerValueService.filteredPlayers.length === 0">
  <mat-table [dataSource]="dataSource" matSort>

    <!-- Name Column -->
    <ng-container matColumnDef="full_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{configService.isMobile ? element.first_name.substr(0, 1) + '. ' +
        element.last_name : element.full_name}} <span *ngIf="(element.experience === 0 && element.position !== 'PI')"
          matBadge="R" matBadgeOverlap="false" matBadgeColor="accent"></span>
      </mat-cell>
    </ng-container>

    <!-- Pos Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{configService.isMobile ? 'Pos' :
        'Position'}}</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position == 'PI' ? 'PICK' : element.position + ' ' + (playerInfoCache[element.name_id]?.rank || '-')}}</mat-cell>
    </ng-container>

    <!-- Age Column -->
    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Age</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{(element.age == -1 || !element.age) ? '-' : element.age + ' y.o.'}}
      </mat-cell>
    </ng-container>

    <!-- Injury Icon -->
    <ng-container matColumnDef="injury">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element"><span *ngIf="element.injury_status != ''"
          [matTooltip]="element.injury_status" [matTooltipPosition]="'above'"><mat-icon color="warn"
            *ngIf="element.injury_status == 'Questionable'">question_mark</mat-icon><mat-icon color="warn"
            *ngIf="element.injury_status == 'Doubtful'">question_mark</mat-icon><mat-icon color="warn"
            *ngIf="element.injury_status == 'COV'">coronavirus</mat-icon><mat-icon class="urgent__alert"
            *ngIf="element.injury_status == 'IR' || element.injury_status == 'PUP'">healing</mat-icon><mat-icon
            color="warn" *ngIf="element.injury_status == 'Sus'">report_problem</mat-icon><mat-icon
            *ngIf="element.injury_status == 'NA'">question_mark</mat-icon><mat-icon color="warn"
            *ngIf="element.injury_status == 'Out'">healing</mat-icon></span></mat-cell>
    </ng-container>

    <!-- Fantasy Points -->
    <ng-container matColumnDef="halfppr">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{playerService.playerStatsYear}} Points</mat-header-cell>
      <mat-cell *matCellDef="let element">{{playerInfoCache[element.name_id]?.points || playerService.getPlayerPointsByFormat(element.sleeper_id, this.leagueService.getLeagueScoringFormat()) || '-'}}</mat-cell>
    </ng-container>

    <!-- Avg ADP Column -->
    <ng-container matColumnDef="avg_adp">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Pos ADP</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.avg_adp || '-'}}</mat-cell>
    </ng-container>

    <!-- Value Column -->
    <ng-container matColumnDef="trade_value">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{configService.isMobile ? 'Value' : 'Trade Value'}}</mat-header-cell>
      <mat-cell *matCellDef="let element"
        [ngClass]="{'warning__alert': playerInfoCache[element.name_id]?.isLow, 'success__alert': playerInfoCache[element.name_id]?.isHigh}">
        {{playerInfoCache[element.name_id]?.value}} </mat-cell>
    </ng-container>

    <!-- % change Column -->
    <ng-container matColumnDef="change">
      <mat-header-cell *matHeaderCellDef mat-sort-header>% Change</mat-header-cell>
      <mat-cell *matCellDef="let element"> <span
          [ngClass]="{'success__alert': playerInfoCache[element.name_id]?.change > 0, 'warning__alert': playerInfoCache[element.name_id]?.change < 0}">
          {{playerInfoCache[element.name_id]?.change}}%</span></mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="$event.stopPropagation();">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openPlayerComparison(element)" gaEvent="nav_value_comparisons"
            gaCategory="page_nav">
            <span>Add to Player Comparison</span>
          </button>
          <button *ngIf="element.position !== 'PI'" mat-menu-item [routerLink]="['../details', element.name_id]"
            [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_player_page" gaCategory="page_nav">
            <span>View Player Page</span>
          </button>
          <button mat-menu-item *ngIf="selectedLeague && element.position !== 'PI' && element.owner"
            [routerLink]="['../../league/team', element.owner?.ownerName]"
            [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_team_page" gaCategory="page_nav">
            <span>View Team Page</span>
          </button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <ng-container *ngIf="selectedLeague" matColumnDef="owner">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Owner</mat-header-cell>
      <mat-cell *matCellDef="let element" style="text-overflow-ellipsis: true">
        <div *ngIf="leagueService.isLeagueLoaded()">{{element.owner?.ownerName || '-'}}</div>
        <mat-progress-bar *ngIf="leagueService.leagueStatus === 'LOADING'" mode="indeterminate" color="accent"
          style="max-width: 200px"></mat-progress-bar>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="ktc-table-element-row" *matRowDef="let row; columns: displayedColumns;"
      [routerLink]="row.position !== 'PI' ? ['../details', row.name_id] : []"
      [queryParams]="leagueSwitchService.buildQueryParams()"
      [ngClass]="{'mat-table-highlight': leagueService.leagueUser && leagueService.leagueUser?.userData?.user_id === row.owner?.userId && selectedLeague}"
      gaEvent="nav_player_page" gaCategory="page_nav"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
<div class="mid-bold-text center-text warning__alert margin-top-50" [hidden]="playerValueService.filteredPlayers.length > 0">No results found. Try a different search.</div>
</div>