<div class="center-text margin-top-50">
    <div class="warning__alert">{{errorHeader}}</div>
    <br>
    <button *ngIf="!leagueService.leagueUser" mat-raised-button color="warn" routerLink="./home" gaEvent="nav_home_page" gaCategory="page_nav">Choose League</button>
    <mat-form-field appearance="standard" color="accent" style="font-size: 14px;" *ngIf="leagueService.leagueUser?.leagues.length > 0">
      <mat-label>Select a league</mat-label>
      <mat-select (selectionChange)="leagueSwitchService.loadLeague($event.value)">
        <mat-option *ngFor="let league of leagueService.leagueUser?.leagues"
                    [value]="league">{{league.name}}</mat-option>
      </mat-select>
    </mat-form-field>
</div>
