<div class="margin-top-10 large-bold-header-text center-text">Draft Center</div>
<div class="center-text margin-top-10">
  View past drafts with current day values, or create a mock draft for upcoming draft with the new rookie class.
</div>
<div *ngIf="mockDraftService.leagueLoaded && (mockDraftService.teamPicks.length > 0 || sleeperService.completedDrafts.length > 0)" class="grid-100 button-right margin-top-10">
  <mat-form-field appearance="outline" color="accent">
    <mat-label>Select a Draft</mat-label>
    <mat-select [(ngModel)]="mockDraftService.selectedDraft">
      <mat-optgroup label="Upcoming" *ngIf="mockDraftService.teamPicks.length > 0">
        <mat-option value="upcoming">Mock Draft: {{mockDraftService.teamPicks.length / sleeperService.selectedLeague.totalRosters}} Rounds</mat-option>
      </mat-optgroup>
      <mat-optgroup label="Completed" *ngIf="sleeperService.completedDrafts.length > 0">
        <mat-option *ngFor="let draft of sleeperService.completedDrafts"
                    [value]="draft">Draft: {{draft.draft.season}} - {{draft.draft.rounds}} Rounds
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
</div>

<div *ngIf="mockDraftService.leagueLoaded">
  <div *ngIf="mockDraftService.selectedDraft == 'upcoming'" class="margin-top-25 mock-draft-table-container">
    <div class="mid-bold-text center-text warning__alert margin-bot-10 margin-top-10">This feature is currently in Beta. There may be inconsistencies with the draft order or long load times.</div>
    <div>
      <mat-button-toggle-group [(ngModel)]="mockDraftService.mockDraftConfig" class="button-left"
                               style="overflow: auto">
        <mat-button-toggle value="player">Player Value</mat-button-toggle>
        <!--      <mat-button-toggle value="team">Team Needs</mat-button-toggle>-->
        <mat-button-toggle value="custom">Custom</mat-button-toggle>
      </mat-button-toggle-group>
      <span class="container_spacer"></span>
      <button class="button-right" mat-raised-button color="accent" (click)="resetMockDraft()">Reset</button>
    </div>
    <app-draft-table [mockDraftConfig]="mockDraftService.mockDraftConfig" [isReset]="resetTrigger"></app-draft-table>
  </div>

  <div *ngIf="mockDraftService.selectedDraft && mockDraftService.selectedDraft !== 'upcoming'" class="margin-top-25">
    <app-completed-draft-table [selectedDraft]="mockDraftService.selectedDraft"></app-completed-draft-table>
  </div>

</div>

<div class="center-text margin-top-50" *ngIf="!sleeperService.leagueLoaded">
  <div class="warning__alert">Cannot find drafts. Please select a league.</div>
  <br>
  <button *ngIf="!sleeperService.sleeperUser" mat-raised-button color="warn" [routerLink]="['./home']">Choose League</button>
  <mat-form-field appearance="standard" color="accent" style="font-size: 14px;" *ngIf="sleeperService.sleeperUser?.leagues.length > 0">
    <mat-label>Select a league</mat-label>
    <mat-select [(ngModel)]="leagueSwitchService.selectedLeague" (selectionChange)="leagueSwitchService.loadLeague($event.value)">
      <mat-option *ngFor="let league of sleeperService.sleeperUser?.leagues"
                  [value]="league">{{league.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="center-text margin-top-50" *ngIf="mockDraftService.leagueLoaded && mockDraftService.teamPicks.length == 0 && sleeperService.completedDrafts.length == 0 && sleeperService.upcomingDrafts.length == 0 && sleeperService.leagueLoaded">
  <div class="warning__alert">Cannot generate drafts. Please select a different year or league.</div>
  <br>
  <button *ngIf="!sleeperService.sleeperUser" mat-raised-button color="warn" [routerLink]="['./home']" [queryParams]="{ league: sleeperService.selectedLeague?.leagueId, user: sleeperService.sleeperUser?.userData?.username, year: sleeperService.selectedYear }">Choose League</button>
  <mat-form-field appearance="standard" color="accent" style="font-size: 14px;" *ngIf="sleeperService.sleeperUser?.leagues.length > 0">
    <mat-label>Select a league</mat-label>
    <mat-select [(ngModel)]="leagueSwitchService.selectedLeague" (selectionChange)="leagueSwitchService.loadLeague($event.value)">
      <mat-option *ngFor="let league of sleeperService.sleeperUser?.leagues"
                  [value]="league">{{league.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div *ngIf="sleeperService.leagueLoaded && (!mockDraftService.leagueLoaded || (mockDraftService.selectedDraft == 'upcoming' && mockDraftService.teamPicks.length == 0))">
  <div style="min-height: 300px" class="center-spinner">
    <mat-spinner></mat-spinner>
  </div>
</div>
