<h1 class="margin-top-10 large-bold-header-text center-text">Fantasy Mock Draft</h1>
<div class="center-text margin-top-10">
  Prepare for your fantasy season with the Fantasy Mock Draft Tool. Sync with your fantasy league and generate mock draft using fantasy markets (KeepTradeCut, etc.) or Average Draft Position (ADP) across <span class="warning__alert">{{draftCount?.toLocaleString() || '1,000+'}}</span> real drafts!
</div>

<tool-help [toolName]="'Fantasy Mock Draft Tool'"></tool-help>

<div>
  <div *ngIf="mockDraftService.selectedDraft == 'upcoming'" class="margin-top-25" [ngClass]="{'mock-draft-mobile': configService.isMobile}">
    <div class="mock-draft-table-container">
      <app-draft-table [teamPicks]="mockDraftService.teamPicks" [isMockDraft]="true"></app-draft-table>
    </div>
  </div>

  <div *ngIf="leagueService.isLeagueLoaded() && mockDraftService.selectedDraft && mockDraftService.selectedDraft !== 'upcoming'" class="margin-top-25">
    <app-completed-draft-table [selectedDraft]="mockDraftService.selectedDraft" [selectedMarket]="playerService.selectedMarket"></app-completed-draft-table>
  </div>

  <div *ngIf="leagueService.isLeagueLoaded() && mockDraftService.selectedDraft && mockDraftService.selectedDraft !== 'upcoming' && !mockDraftService.selectedDraft['picks']?.[0].playerId" class="margin-top-25 center-text">
    <div class="warning__alert">Unable to generate draft recap for {{leagueService.selectedLeague.name}}. Want to create a mock draft?</div>
    <div class="margin-top-25">
      <button mat-raised-button color="accent" (click)="mockDraftService.createMockDraft()" gaEvent="click_mock_draft" gaCategory="click"><mat-icon>format_list_numbered</mat-icon> Create Mock Draft</button>
    </div>
  </div>

</div>

<div *ngIf="(leagueService.leagueStatus$ | async) === 'LOADING' || (leagueService.isLeagueLoaded() && mockDraftService.selectedDraft == 'upcoming' && mockDraftService.teamPicks.length == 0)">
  <div style="min-height: 300px" class="center-spinner">
    <mat-spinner></mat-spinner>
  </div>
</div>
