<div style="margin-left: 20%; margin-right: 20%">
  <div class="center-text">
    <div class="large-bold-header-text margin-top-10">About</div>
  </div>

  <div class="center-text mid-bold-text margin-bot-25 margin-top-50">What is Dynasty Daddy?</div>
  <div>
    The goal is to provide users with a frictionless way to see player value, team value, draft breakdowns, and more. When managing my teams I would constantly have to switch between multiple websites to figure out what moves I should make. I wanted to find a way to spend less time doing research and leverage the data in more ways than before. Thus Dynasty Daddy was born to help me beat my friends in fantasy easier!
  </div>

  <div class="center-text mid-bold-text margin-bot-25 margin-top-25">Who am I?</div>
  <div>
    I am Jeremy Timperio, a full stack software engineer. This project is a passion project of mine because I love fantasy football and thought it would be a great way to challenge myself to design, implement and document an entire full-stack project. As with many side projects, this is for me to learn and grow while creating something I will use everyday in my fantasy leagues. Hope you enjoy!
  </div>


  <div class="center-text margin-bot-25 margin-top-25">
    <span class="mid-bold-text" style="padding-right: 10px">If you're feeling generous check out</span>
  </div>
  <div class="center-text">
    <a href="https://discord.gg/SJJuQBJqda" style="margin-right: 5px"><img src="https://img.shields.io/badge/Discord-5865F2?style=for-the-badge&logo=discord&logoColor=white" alt="Join Community Badge"/></a>
    <a href="https://www.youtube.com/channel/UC9SOfhKyR3MQj8xB778rhnA/featured" style="margin-right: 5px"><img src="https://img.shields.io/badge/YouTube-FF0000?style=for-the-badge&logo=youtube&logoColor=white" alt="Subscribe"/></a>
    <a href="https://www.linkedin.com/in/jmtimper/"><img src="https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white" alt="LinkedIn"/></a>
  </div>
</div>
