.responsive {
    width: 90%;
    height: auto;
}

.user-stat {
    padding-top: 5px;
}

table.mat-table {
    width: 100%;
}

.mat-column-actions,
.mat-column-delete {
    max-width: 100px;
    text-align: right;
}

.table-container-wrapper {
    width: 100%;
    min-width: 800px;
    overflow-x: scroll;
    margin: 0 auto;
}