<!-- draft intro -->
<div *ngIf="wrappedService.frameNumber === baseFrame">
  <div [@fadeGrowStagger]="1" class="wrapped-context-low center-text wrapped-header-style" *ngIf="showContent">
    <div *ngFor="let i of draftIntro" class="center-text wrapped-header-style">{{i}}</div>
  </div>
</div>

<!-- best worst draft -->
<div *ngIf="wrappedService.frameNumber === baseFrame + 1" class="image-section">

  <div [@fadeGrowStagger]="bestWorstDraft.length + 1" *ngIf="showContent" class="wrapped-context">
    <div class="center-text wrapped-header-style">Some people really made a statement this draft...</div>
    <div *ngFor="let i of bestWorstDraft" class="extra-card-padding">
      <app-wrapped-card [content]="i"></app-wrapped-card>
    </div>
  </div>
</div>

<!-- best overall picks -->
<div *ngIf="wrappedService.frameNumber === baseFrame + 2">

  <div [@fadeGrowStagger]="bestPicksInTheDraft.length + 1" *ngIf="showContent" class="wrapped-context-high">
    <div class="center-text wrapped-header-style">Let's look at the top talent in this draft</div>
    <div *ngFor="let i of bestPicksInTheDraft">
      <app-wrapped-card [content]="i"></app-wrapped-card>
    </div>
  </div>
</div>

<!-- best steals of the draft -->
<div *ngIf="wrappedService.frameNumber === baseFrame + 3">

  <div [@fadeGrowStagger]="bestValuePicks.length + 1" *ngIf="showContent" class="wrapped-context-high">
    <div class="center-text wrapped-header-style">These owners could remake Ocean's Eleven with these steals...</div>
    <div *ngFor="let i of bestValuePicks">
      <app-wrapped-card [content]="i"></app-wrapped-card>
    </div>
  </div>
</div>

<!-- worst picks of the draft -->
<div *ngIf="wrappedService.frameNumber === baseFrame + 4">

  <div [@fadeGrowStagger]="bestValuePicks.length + 1" *ngIf="showContent" class="wrapped-context-high">
    <div class="center-text wrapped-header-style">A swing and a miss... the biggest draft night blunders</div>
    <div *ngFor="let i of worstValuePicks">
      <app-wrapped-card [content]="i"></app-wrapped-card>
    </div>
  </div>
</div>

<div class="wrapped-context-next" *ngIf="showNext">
  <div @fadeSlideInOut class="center-text" (click)="nextFrame()"><mat-icon class="wrapped-top-icon">arrow_forward</mat-icon></div>
</div>

<div class="wrapped-context-exit" *ngIf="showNext">
  <div @fadeSlideInOut class="center-text" [routerLink]="['./home']" [queryParams]="leagueSwitchService.buildQueryParams()"><mat-icon class="wrapped-top-icon">close</mat-icon></div>
</div>

<div class="background">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
