<table style="width:100%">
  <tr>
    <td class="td-game--team"></td>
    <td class="text__light"></td>
  </tr>
</table>
<mat-card class="mat-elevation-z4">
  <table style="width:100%">
    <tr>
      <td class="td-game--team" *ngIf="team1 && team1.owner">
        <img #image [src]="team1?.owner?.getAvatarForLeague(leagueService.selectedLeague.leaguePlatform)"
             onerror="style.display = 'none'" class="games-image">
        <span>
          {{displayService.truncate(team1.owner?.teamName, 30)}}
        </span>
      </td>
      <td class="td-game--metrics game-score__color" *ngIf="leagueService.selectedLeague.medianWins" (click)="updateMedianResultOption(game.matchUpDetails.selectedTeam1MedianWin, 1)" [ngClass]="{'game-score__color': game.matchUpDetails.selectedTeam1MedianWin === 0, 'game-win__color': game.matchUpDetails.selectedTeam1MedianWin === 1, 'game-loss__color': game.matchUpDetails.selectedTeam1MedianWin === -1}">
        <button mat-icon-button *ngIf="game.matchUpDetails.selectedTeam1MedianWin === 0" class="mid-bold-text" matTooltip="Did team beat Median?" matTooltipPosition="above">M</button>
        <button mat-icon-button *ngIf="game.matchUpDetails.selectedTeam1MedianWin === 1" class="mid-bold-text" matTooltip="Greater than Median (+1 win)" matTooltipPosition="above">{{'>'}}M</button>
        <button mat-icon-button *ngIf="game.matchUpDetails.selectedTeam1MedianWin === -1" class="mid-bold-text" matTooltip="Less than Median (+1 loss)" matTooltipPosition="above">{{'<'}}M</button>
      </td>
      <td class="td-game--metrics game-score__color" (click)="updateGameResultOption(1)" [ngClass]="{'game-score__color': game.matchUpDetails.selectedWinner === 0, 'game-win__color': game.matchUpDetails.selectedWinner === 1, 'game-loss__color': game.matchUpDetails.selectedWinner === 2, 'game-tie__color': game.matchUpDetails.selectedWinner === 3}">
        <button mat-icon-button *ngIf="game.matchUpDetails.selectedWinner === 0" class="mid-bold-text">Pick</button>
        <button mat-icon-button *ngIf="game.matchUpDetails.selectedWinner === 1" class="mid-bold-text">Win</button>
        <button mat-icon-button *ngIf="game.matchUpDetails.selectedWinner === 2" class="mid-bold-text">Loss</button>
        <button mat-icon-button *ngIf="game.matchUpDetails.selectedWinner === 3" class="mid-bold-text">Tie</button>
      </td>
    </tr>
    <tr>
      <td class="td-game--team" *ngIf="team2 && team2.owner">
        <img #image [src]="team2?.owner?.getAvatarForLeague(leagueService.selectedLeague.leaguePlatform)"
             onerror="style.display = 'none'" class="games-image">
        <span>
          {{displayService.truncate(team2.owner?.teamName, 30)}}
        </span>
      </td>
      <td class="td-game--metrics game-score__color" *ngIf="leagueService.selectedLeague.medianWins" (click)="updateMedianResultOption(game.matchUpDetails.selectedTeam2MedianWin, 2)" [ngClass]="{'game-score__color': game.matchUpDetails.selectedTeam2MedianWin === 0, 'game-win__color': game.matchUpDetails.selectedTeam2MedianWin === 1, 'game-loss__color': game.matchUpDetails.selectedTeam2MedianWin === -1}">
        <button mat-icon-button *ngIf="game.matchUpDetails.selectedTeam2MedianWin === 0" class="mid-bold-text" matTooltip="Did team beat Median?" matTooltipPosition="below">M</button>
        <button mat-icon-button *ngIf="game.matchUpDetails.selectedTeam2MedianWin === 1" class="mid-bold-text" matTooltip="Greater than Median (+1 win)" matTooltipPosition="below">{{'>'}}M</button>
        <button mat-icon-button *ngIf="game.matchUpDetails.selectedTeam2MedianWin === -1" class="mid-bold-text" matTooltip="Less than Median (+1 loss)" matTooltipPosition="below">{{'<'}}M</button>
      </td>
      <td class="td-game--metrics" (click)="updateGameResultOption(2)" [ngClass]="{'game-score__color': game.matchUpDetails.selectedWinner === 0, 'game-win__color': game.matchUpDetails.selectedWinner === 2, 'game-loss__color': game.matchUpDetails.selectedWinner === 1, 'game-tie__color': game.matchUpDetails.selectedWinner === 3}" >
        <button mat-icon-button *ngIf="game.matchUpDetails.selectedWinner === 0" class="mid-bold-text">Pick</button>
        <button mat-icon-button *ngIf="game.matchUpDetails.selectedWinner === 2" class="mid-bold-text">Win</button>
        <button mat-icon-button *ngIf="game.matchUpDetails.selectedWinner === 1" class="mid-bold-text">Loss</button>
        <button mat-icon-button *ngIf="game.matchUpDetails.selectedWinner === 3" class="mid-bold-text">Tie</button>
      </td>
    </tr>
  </table>
</mat-card>
