<app-header (toggleMenu)="drawer.toggle()"></app-header>
<mat-drawer-container autosize style="min-height: 100%">
  <mat-drawer #drawer class="standard-sidenav" mode="{{configService.isMobile ? 'over' : 'side'}}">
    <app-sidebar (toggleMenu)="drawer.toggle()"></app-sidebar>
  </mat-drawer>

  <mat-drawer #drawerTool class="standard-sidenav" mode="side" position="end">
    <app-draft-toolbar></app-draft-toolbar>
  </mat-drawer>

  <mat-drawer-content style="overflow: hidden;">
    <div class="main">
      <div class="content-wrapper" [ngClass]="{'mobile-padding': configService.isMobile, 'large-page': isLargeContainer}">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="footer">
      <app-footer></app-footer>
    </div>
  </mat-drawer-content>

</mat-drawer-container>