<!-- total transactions frame -->
<div *ngIf="wrappedService.frameNumber === baseFrame">
  <div [@fadeGrowStagger]="totalTransactions.length" class="wrapped-context-low" *ngIf="showContent">
    <div *ngFor="let i of totalTransactions" class="center-text wrapped-header-style">{{i}}</div>
  </div>
</div>

<!-- most/least transactions -->
<div *ngIf="wrappedService.frameNumber === baseFrame + 1">

  <div [@fadeGrowStagger]="transactionsWinners.length + 1" *ngIf="showContent" class="wrapped-context">
    <div class="center-text wrapped-header-style">This season two teams stood out among the others...</div>
    <div *ngFor="let i of transactionsWinners" class="extra-card-padding">
      <app-wrapped-card [content]="i"></app-wrapped-card>
    </div>
  </div>
</div>

<!-- best waiver wire adds -->
<div *ngIf="wrappedService.frameNumber === baseFrame + 2">
  <div [@fadeGrowStagger]="transactionsPlayers.length + 1" class="wrapped-context-high" *ngIf="showContent">
    <div class="center-text wrapped-header-style">Let's look at the best waiver signings this season</div>
    <div *ngFor="let i of transactionsPlayers">
      <app-wrapped-card [content]="i"></app-wrapped-card>
    </div>
  </div>
</div>

<!-- trade total -->
<div *ngIf="wrappedService.frameNumber === baseFrame + 3">

  <div [@fadeGrowStagger]="tradesIntro.length" class="wrapped-context-low" *ngIf="showContent">
    <div *ngFor="let i of tradesIntro" class="center-text wrapped-header-style">{{i}}</div>
  </div>
</div>

<!-- biggest trades -->
<div *ngIf="wrappedService.frameNumber === baseFrame + 4">

  <div [@fadeGrowStagger]="biggestTrades.length + 1" class="wrapped-context-high" *ngIf="showContent">
    <div class="center-text wrapped-header-style">Y'all didn't hold any punches when it came to big trades</div>
    <div *ngFor="let i of biggestTrades">
      <app-wrapped-card-trade [content]="i"></app-wrapped-card-trade>
    </div>
  </div>
</div>

<!-- biggest fleeces -->
<div *ngIf="wrappedService.frameNumber === baseFrame + 5">

  <div [@fadeGrowStagger]="biggestFleeces.length + 1" class="wrapped-context-high" *ngIf="showContent">
    <div class="center-text wrapped-header-style">Fleece Alert! How did these trades get accepted?</div>
    <div *ngFor="let i of biggestFleeces">
      <app-wrapped-card-trade [content]="i" [showTradeWinner]="true"></app-wrapped-card-trade>
    </div>
  </div>
</div>

<div class="wrapped-context-next" *ngIf="showNext">
  <div @fadeSlideInOut class="center-text" (click)="nextFrame()"><mat-icon class="wrapped-top-icon">arrow_forward</mat-icon></div>
</div>

<div class="wrapped-context-exit" *ngIf="showNext">
  <div @fadeSlideInOut class="center-text" [routerLink]="['./home']" [queryParams]="leagueSwitchService.buildQueryParams()"><mat-icon class="wrapped-top-icon">close</mat-icon></div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMin slice" viewBox="24 105 156 95" >
  <defs>
      <style type="text/css">
      @keyframes rotate {
         100% {
            transform: rotate(360deg)
         }
      }

      .top-outer {
         transform-origin: 73px 69px;
         animation: rotate 30s linear infinite;
      }

      .top-inner {
         transform-origin: 73px 69px;
         animation: rotate 20s linear infinite;
      }

      .bottom-outer {
         transform-origin: 134px 222px;
         animation: rotate 30s linear infinite;
      }

      .bottom-inner {
              transform-origin: 134px  222px;
              animation: rotate 20s linear infinite;
      }
      </style>
  </defs>
  <rect x="0" y="0" width="300" height="300" fill="#E22227"/>
  <path class="top-outer" fill="#EF8716" stroke="#371300" stroke-width="1" d="M68 1c23,0 67,17 69,39 4,38 5,52 -5,69 -20,36 -68,46 -120,-9 -27,-28 -7,-101 56,-99z"/>
  <path class="top-inner" fill="#537571" stroke="#DCB467" stroke-width="1" d="M69 22c33,-7 52,21 54,37 3,26 -1,28 -8,40 -15,25 -48,25 -85,-14 -19,-20 -4,-53 39,-63z"/>
  <path class="bottom-outer" fill="#DCB467" stroke="#371300" stroke-width="1" d="M158 158c30,13 56,50 44,75 -9,18 -22,46 -42,55 -20,10 -48,2 -73,-19 -29,-25 -27,-55 -9,-79 17,-22 43,-48 80,-32z"/>
  <path class="bottom-inner" fill="#263D56" stroke="#537571" stroke-width="1" d="M136 180c32,-9 45,13 46,29 3,27 8,29 0,42 -14,25 -52,24 -79,0 -21,-18 -2,-61 33,-71z"/>
</svg>
