<div>
  <div [ngClass]="{'pos-table-container-wrapper': configService.isMobile}">
    <div class="mat-elevation-z8 pos-table-width" [hidden]="players?.length === 0">
      <mat-table [dataSource]="dataSource" matSort matSortActive="{{isSuperFlex ? 'sf_trade_value' : 'trade_value'}}"
                 matSortDirection="desc">

        <!-- Name Column -->
        <ng-container matColumnDef="full_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.first_name.substr(0, 1) + '. ' + element.last_name}} <span
            *ngIf="(element.experience === 0 && element.position !== 'PI')" matBadge="R" matBadgeOverlap="false" matBadgeColor="accent"></span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="points">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Points</mat-header-cell>
          <mat-cell *matCellDef="let element">{{playerService.getPlayerPointsByFormat(element.sleeper_id, leagueService.getLeagueScoringFormat()) || '-'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="pass_att">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Pass Att</mat-header-cell>
          <mat-cell *matCellDef="let element">{{(isPerGame ?
            ((playerService.playerStats[element.sleeper_id]?.pass_att / playerService.playerStats[element.sleeper_id]?.gp) || 0) 
            : playerService.playerStats[element.sleeper_id]?.pass_att || 0) | number:'1.0-2'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="pass_cmp">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Pass Cmp</mat-header-cell>
          <mat-cell *matCellDef="let element">{{(isPerGame ?
            ((playerService.playerStats[element.sleeper_id]?.pass_cmp / playerService.playerStats[element.sleeper_id]?.gp) || 0) 
            : playerService.playerStats[element.sleeper_id]?.pass_cmp || 0) | number:'1.0-2'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="cmp_pct">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Cmp %</mat-header-cell>
          <mat-cell *matCellDef="let element">{{roundPercent(playerService.playerStats[element.sleeper_id]?.cmp_pct / playerService.playerStats[element.sleeper_id]?.gp) || 0}}%</mat-cell>
        </ng-container>

        <ng-container matColumnDef="pass_yd">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Pass Yards</mat-header-cell>
          <mat-cell *matCellDef="let element">{{(isPerGame ?
            ((playerService.playerStats[element.sleeper_id]?.pass_yd / playerService.playerStats[element.sleeper_id]?.gp) || 0) 
            : playerService.playerStats[element.sleeper_id]?.pass_yd || 0) | number:'1.0-2'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="pass_td">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Pass TDs</mat-header-cell>
          <mat-cell *matCellDef="let element">{{(isPerGame ?
            ((playerService.playerStats[element.sleeper_id]?.pass_td / playerService.playerStats[element.sleeper_id]?.gp) || 0) 
            : playerService.playerStats[element.sleeper_id]?.pass_td || 0) | number:'1.0-2'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="pass_int">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Pass Ints</mat-header-cell>
          <mat-cell *matCellDef="let element">{{(isPerGame ?
            ((playerService.playerStats[element.sleeper_id]?.pass_int / playerService.playerStats[element.sleeper_id]?.gp) || 0) 
            : playerService.playerStats[element.sleeper_id]?.pass_int || 0) | number:'1.0-2'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="rush_att">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Rush Att</mat-header-cell>
          <mat-cell *matCellDef="let element">{{(isPerGame ?
            ((playerService.playerStats[element.sleeper_id]?.rush_att / playerService.playerStats[element.sleeper_id]?.gp) || 0) 
            : playerService.playerStats[element.sleeper_id]?.rush_att || 0) | number:'1.0-2'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="rush_yd">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Rush Yds</mat-header-cell>
          <mat-cell *matCellDef="let element">{{(isPerGame ?
            ((playerService.playerStats[element.sleeper_id]?.rush_yd / playerService.playerStats[element.sleeper_id]?.gp) || 0) 
            : playerService.playerStats[element.sleeper_id]?.rush_yd || 0) | number:'1.0-2'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="rush_ypa">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Rush YPA</mat-header-cell>
          <mat-cell *matCellDef="let element">{{playerService.playerStats[element.sleeper_id]?.rush_ypa || 0}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="rush_td">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Rush TDs</mat-header-cell>
          <mat-cell *matCellDef="let element">{{(isPerGame ?
            ((playerService.playerStats[element.sleeper_id]?.rush_td / playerService.playerStats[element.sleeper_id]?.gp) || 0) 
            : playerService.playerStats[element.sleeper_id]?.rush_td || 0) | number:'1.0-2'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="pass_sack">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Sacks</mat-header-cell>
          <mat-cell *matCellDef="let element">{{(isPerGame ?
            ((playerService.playerStats[element.sleeper_id]?.pass_sack / playerService.playerStats[element.sleeper_id]?.gp) || 0) 
            : playerService.playerStats[element.sleeper_id]?.pass_sack || 0) | number:'1.0-2'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="fum_lost">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Fum</mat-header-cell>
          <mat-cell *matCellDef="let element">{{(isPerGame ?
            ((playerService.playerStats[element.sleeper_id]?.fum_lost / playerService.playerStats[element.sleeper_id]?.gp) || 0) 
            : playerService.playerStats[element.sleeper_id]?.fum_lost || 0) | number:'1.0-2'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="rec">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Rec</mat-header-cell>
          <mat-cell *matCellDef="let element">{{(isPerGame ?
            ((playerService.playerStats[element.sleeper_id]?.rec / playerService.playerStats[element.sleeper_id]?.gp) || 0) 
            : playerService.playerStats[element.sleeper_id]?.rec || 0) | number:'1.0-2'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="rec_tgt">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Targets</mat-header-cell>
          <mat-cell *matCellDef="let element">{{(isPerGame ?
            ((playerService.playerStats[element.sleeper_id]?.rec_tgt / playerService.playerStats[element.sleeper_id]?.gp) || 0) 
            : playerService.playerStats[element.sleeper_id]?.rec_tgt || 0) | number:'1.0-2'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="rec_yd">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Rec Yd</mat-header-cell>
          <mat-cell *matCellDef="let element">{{(isPerGame ?
            ((playerService.playerStats[element.sleeper_id]?.rec_yd / playerService.playerStats[element.sleeper_id]?.gp) || 0) 
            : playerService.playerStats[element.sleeper_id]?.rec_yd || 0) | number:'1.0-2'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="rec_ypr">
          <mat-header-cell *matHeaderCellDef mat-sort-header>YPR</mat-header-cell>
          <mat-cell *matCellDef="let element">{{playerService.playerStats[element.sleeper_id]?.rec_ypr || 0}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="rec_td">
          <mat-header-cell *matHeaderCellDef mat-sort-header>TD</mat-header-cell>
          <mat-cell *matCellDef="let element">{{(isPerGame ?
            ((playerService.playerStats[element.sleeper_id]?.rec_td / playerService.playerStats[element.sleeper_id]?.gp) || 0) 
            : playerService.playerStats[element.sleeper_id]?.rec_td || 0) | number:'1.0-2'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="rec_rz_tgt">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Rec RZ T</mat-header-cell>
          <mat-cell *matCellDef="let element">{{(isPerGame ?
            ((playerService.playerStats[element.sleeper_id]?.rec_rz_tgt / playerService.playerStats[element.sleeper_id]?.gp) || 0) 
            : playerService.playerStats[element.sleeper_id]?.rec_rz_tgt || 0) | number:'1.0-2'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="pass_rz_att">
          <mat-header-cell *matHeaderCellDef mat-sort-header>RZ Att</mat-header-cell>
          <mat-cell *matCellDef="let element">{{(isPerGame ?
            ((playerService.playerStats[element.sleeper_id]?.pass_rz_att / playerService.playerStats[element.sleeper_id]?.gp) || 0) 
            : playerService.playerStats[element.sleeper_id]?.pass_rz_att || 0) | number:'1.0-2'}}</mat-cell>
        </ng-container>

        <!-- actions column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element" (click)="$event.stopPropagation();">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openPlayerComparison(element)" gaEvent="nav_value_comparisons" gaCategory="page_nav">
                <span>Add to Player Comparison</span>
              </button>
              <button *ngIf="element.position !== 'PI'" mat-menu-item [routerLink]="['../details', element.name_id]" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_player_page" gaCategory="page_nav">
                <span>View Player Page</span>
              </button>
              <button mat-menu-item *ngIf="leagueService.selectedLeague && element.position !== 'PI' && element.owner" [routerLink]="['../../league/team', element.owner?.ownerName]" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_team_page" gaCategory="page_nav">
                <span>View Team Page</span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <ng-container *ngIf="leagueService.selectedLeague" matColumnDef="owner">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Owner</mat-header-cell>
          <mat-cell *matCellDef="let element" style="text-overflow-ellipsis: true">{{element.owner?.ownerName || '-'}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row class="ktc-table-element-row" *matRowDef="let row; columns: displayedColumns;"
                 [ngClass]="{'mat-table-highlight': leagueService.leagueUser && leagueService.leagueUser?.userData?.user_id === row.owner?.userId && leagueService.selectedLeague}"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
  <div class="mid-bold-text center-text warning__alert margin-top-25" [hidden]="players?.length > 0">No results found. Try a different search.</div>
</div>
