@use '@angular/material' as mat;

// Fonts
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$fontConfig: (
  display-4: mat.define-typography-level(112px, 112px, 300, 'Roboto', -0.0134em),
  display-3: mat.define-typography-level(56px, 56px, 400, 'Roboto', -0.0089em),
  display-2: mat.define-typography-level(45px, 48px, 400, 'Roboto', 0.0000em),
  display-1: mat.define-typography-level(34px, 40px, 400, 'Roboto', 0.0074em),
  headline: mat.define-typography-level(24px, 32px, 400, 'Roboto', 0.0000em),
  title: mat.define-typography-level(20px, 32px, 500, 'Roboto', 0.0075em),
  subheading-2: mat.define-typography-level(16px, 28px, 400, 'Roboto', 0.0094em),
  subheading-1: mat.define-typography-level(15px, 24px, 500, 'Roboto', 0.0067em),
  body-2: mat.define-typography-level(14px, 24px, 500, 'Roboto', 0.0179em),
  body-1: mat.define-typography-level(14px, 20px, 400, 'Roboto', 0.0179em),
  button: mat.define-typography-level(14px, 14px, 500, 'Roboto', 0.0893em),
  caption: mat.define-typography-level(12px, 20px, 400, 'Roboto', 0.0333em),
  input: mat.define-typography-level(inherit, 1.125, 400, 'Roboto', 1.5px)
);

// Foreground Elements

// Light Theme Text
$dark-text: #000000;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$mat-light-theme-foreground: (
  base: black,
  divider: $dark-dividers,
  dividers: $dark-dividers,
  disabled: $dark-disabled-text,
  disabled-button: rgba($dark-text, 0.26),
  disabled-text: $dark-disabled-text,
  elevation: black,
  secondary-text: $dark-accent-text,
  hint-text: $dark-disabled-text,
  accent-text: $dark-accent-text,
  icon: $dark-accent-text,
  icons: $dark-accent-text,
  text: $dark-primary-text,
  slider-min: $dark-primary-text,
  slider-off: rgba($dark-text, 0.26),
  slider-off-active: $dark-disabled-text,
);

// Dark Theme text
$light-text: #ffffff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

$mat-dark-theme-foreground: (
  base: $light-text,
  divider: $light-dividers,
  dividers: $light-dividers,
  disabled: $light-disabled-text,
  disabled-button: rgba($light-text, 0.3),
  disabled-text: $light-disabled-text,
  elevation: black,
  hint-text: $light-disabled-text,
  secondary-text: $light-accent-text,
  accent-text: $light-accent-text,
  text: $light-text,
  slider-min: $light-text,
  slider-off: rgba($light-text, 0.3),
  slider-off-active: rgba($light-text, 0.3),
);

// Background config
// Light bg
$light-background: #fafafa;
$light-bg-darker-5: darken($light-background, 5%);
$light-bg-darker-10: darken($light-background, 10%);
$light-bg-darker-20: darken($light-background, 20%);
$light-bg-darker-30: darken($light-background, 30%);
$light-bg-lighter-5: lighten($light-background, 5%);
$dark-bg-tooltip: lighten(#1d1d28, 20%);
$dark-bg-alpha-4: rgba(#1d1d28, 0.04);
$dark-bg-alpha-12: rgba(#1d1d28, 0.12);

$mat-light-theme-background: (
  background: $light-background,
  status-bar: $light-bg-darker-20,
  app-bar: $light-bg-darker-5,
  hover: $dark-bg-alpha-4,
  card: $light-bg-lighter-5,
  dialog: $light-bg-lighter-5,
  tooltip: $dark-bg-tooltip,
  disabled-button: $dark-bg-alpha-12,
  raised-button: $light-bg-lighter-5,
  focused-button: $dark-focused,
  selected-button: $light-bg-darker-20,
  selected-disabled-button: $light-bg-darker-30,
  disabled-button-toggle: $light-bg-darker-10,
  unselected-chip: $light-bg-darker-10,
  disabled-list-option: $light-bg-darker-10,
);

// Dark bg
$dark-background: #1d1d28;
$dark-bg-lighter-5: lighten($dark-background, 5%);
$dark-bg-lighter-10: lighten($dark-background, 10%);
$dark-bg-lighter-20: lighten($dark-background, 20%);
$dark-bg-lighter-30: lighten($dark-background, 30%);
$dark-bg-lighter-40: lighten($dark-background, 40%);
$light-bg-alpha-4: rgba(#fafafa, 0.04);
$light-bg-alpha-12: rgba(#fafafa, 0.12);

// Background palette for dark themes.
$mat-dark-theme-background: (
  background: $dark-background,
  status-bar: $dark-bg-lighter-20,
  app-bar: $dark-bg-lighter-5,
  hover: $light-bg-alpha-4,
  card: $dark-bg-lighter-5,
  dialog: $dark-bg-lighter-5,
  tooltip: $dark-bg-lighter-20,
  disabled-button: $light-bg-alpha-12,
  raised-button: $dark-bg-lighter-5,
  focused-button: $light-focused,
  selected-button: $dark-bg-lighter-20,
  selected-disabled-button: $dark-bg-lighter-30,
  disabled-button-toggle: $dark-bg-lighter-10,
  unselected-chip: $dark-bg-lighter-20,
  disabled-list-option: $dark-bg-lighter-10,
);

// Compute font config
@include mat.core($fontConfig);

body {
  --primary-color: #c33163;
  --primary-lighter-color: #edc1d0;
  --primary-darker-color: #ae1f47;
  --text-primary-color: #{$light-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$light-primary-text};
}

$mat-primary: (
  main: #c33163,
  lighter: #edc1d0,
  darker: #ae1f47,
  200: #c33163,
  // For slide toggle,
  contrast : (main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-primary: mat.define-palette($mat-primary, main, lighter, darker);

body {
  --accent-color: #3f7bfb;
  --accent-lighter-color: #c5d7fe;
  --accent-darker-color: #295ef9;
  --text-accent-color: #{$light-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$light-primary-text};
}

$mat-accent: (
  main: #3f7bfb,
  lighter: #c5d7fe,
  darker: #295ef9,
  200: #3f7bfb,
  // For slide toggle,
  contrast : (main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-accent: mat.define-palette($mat-accent, main, lighter, darker);

body {
  --warn-color: #faa356;
  --warn-lighter-color: #fee3cc;
  --warn-darker-color: #f8883c;
  --text-warn-color: #{$dark-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$dark-primary-text};
}

$mat-warn: (
  main: #faa356,
  lighter: #fee3cc,
  darker: #f8883c,
  200: #faa356,
  // For slide toggle,
  contrast : (main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);
$theme-warn: mat.define-palette($mat-warn, main, lighter, darker);

$theme: (
  primary: $theme-primary,
  accent: $theme-accent,
  warn: $theme-warn,
  is-dark: true,
  foreground: $mat-dark-theme-foreground,
  background: $mat-dark-theme-background,
);
$altTheme: (
  primary: $theme-primary,
  accent: $theme-accent,
  warn: $theme-warn,
  is-dark: false,
  foreground: $mat-light-theme-foreground,
  background: $mat-light-theme-background,
);

// Theme Init
@include mat.all-component-themes($theme);

.theme-alternate {
  @include mat.all-component-themes($altTheme);
}

// scroll bar override
*::-webkit-scrollbar {
  width: 0.5em;
	background-color: #1d1d28;
}

*::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #1d1d28;
}

*::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #3f7bfb;
}

// Specific component overrides, pieces that are not in line with the general theming

// Handle buttons appropriately, with respect to line-height
.mat-raised-button,
.mat-stroked-button,
.mat-flat-button {
  padding: 0 1.15em;
  margin: 0 .65em;
  min-width: 3em;
  line-height: 36.4px
}

.mat-standard-chip {
  padding: .5em .85em;
  min-height: 2.5em;
}

// alert color map
$mat-alert: (
  main: #fe8180,
  lighter: #ffadad,
  darker: #e31d1d,
  200: #fe5d5c,
  // For slide toggle,
  contrast : (main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);

// success color map
$mat-success: (
  main: #57eba1,
  lighter: #57eba1,
  darker: #008f51,
  200: #39d98a,
  // For slide toggle,
  contrast : (main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);

app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

html,
body,
app-root,
.app-frame {
  // background: #303030;
  background: #1d1d28;
  font-family: 'Roboto';
  font-size: 14px;
  margin: 0;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  color: #e0e0e0;
}

.content-wrapper {
  display: flex;
  flex: 1 1 auto;
  /* 1 */
  position: relative;
  flex-direction: column;
  min-width: 1px;
  max-width: 1600px;
  margin: 0 auto;
  z-index: 1;
  width: 100%;
  /* 2 */
  padding: 8px 24px 24px;
}

.content-wrapper__mobile {
  display: flex;
  flex: 1 1 auto;
  /* 1 */
  position: relative;
  flex-direction: column;
  min-width: 1px;
  max-width: 1600px;
  margin: 0 auto;
  z-index: 1;
  width: 100%;
  /* 2 */
  padding-right: 5px;
  padding-left: 5px;
}

.main {
  min-height: 100%;
  margin-bottom: -50px;
}

.main:after {
  content: "";
  display: block;
  height: 100px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.footer {
  display: flex;
  flex: 1 1 auto;
  position: relative;
  flex-direction: column;
  min-width: 1px;
  max-width: 1400px;
  margin: auto;
  z-index: 1;
  width: 100%;
  text-align: left;
  margin-bottom: 15px;
}

.games-container {
  display: flex;
  flex-direction: column;
  padding: 8px 10%;
  min-width: 300px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 15px 0 0;
}

.container__no-padding {
  display: flex;
  flex-wrap: wrap;
}

.container_spacer {
  flex: 1 1 auto;
}

.button-right {
  float: right;
}

.button-left {
  float: left;
}

.starter-icon {
  font-size: 14px;
  cursor: help;
}

.info-icon {
  font-size: 14px !important;
  height: unset !important;
  text-align-last: justify;
  cursor: help;
}

.generic-icon {
  font-size: 16px;
  vertical-align: text-top;
}

.header-icon {
  font-size: 22px;
}

/**
 * grids
 */

.grid-10 {
  width: calc(10% - 14px);
}

.grid-15 {
  width: calc(15% - 14px);
}

.grid-16 {
  width: calc(16% - 14px);
}

.grid-20 {
  width: calc(20% - 14px);
}

.grid-25 {
  width: calc(25% - 14px);
}

.grid-30 {
  width: calc(30% - 14px);
}

.grid-33 {
  width: calc(33.3333% - 14px);
}

.grid-50 {
  width: calc(50% - 14px);
}

.grid-60 {
  width: calc(60% - 14px);
}

.grid-66 {
  width: calc(66.6666% - 14px);
}

.grid-70 {
  width: calc(70% - 14px);
}

.grid-75 {
  width: calc(75% - 14px);
}

.grid-100 {
  width: calc(100% - 14px);
}

/**
 * margins
 */

.margin-bot-10 {
  margin-bottom: 10px;
}

.margin-bot-15 {
  margin-bottom: 15px;
}

.margin-bot-20 {
  margin-bottom: 20px;
}

.margin-bot-25 {
  margin-bottom: 25px;
}

.margin-bot-50 {
  margin-bottom: 50px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-25 {
  margin-top: 25px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-65 {
  margin-top: 65px;
}

.margin-top-90 {
  margin-top: 90px;
}

.margin-top-120 {
  margin-top: 120px;
}

.margin-20 {
  margin: 20px;
}

.player-value-checkbox-margin {
  margin: 0 12px;
}

.player-value-checkbox-margin__mobile {
  margin: 0 3px;
}

/**
 * text
 */
.small-text__light {
  color: lightgray;
  font-size: 12px;
}

.text__light {
  color: lightgray;
}

.mid-bold-text {
  font-weight: bold;
  font-size: 16px;
}

.large-bold-header-text {
  font-size: 24px;
  font-weight: bold;
}

.center-text {
  text-align: center;
}

.center-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-align-text {
  text-align: right;
}

.term-description-text {
  max-width: 800px;
  margin: 0 auto;
}

.link--text__no__underline:hover {
  color: mat.get-color-from-palette($mat-accent, main);
  cursor: pointer;
}

.link--text__no__underline__warnings:hover {
  color: mat.get-color-from-palette($mat-warn, main);
  cursor: pointer;
}

.link--text__dot__underline {
  border-bottom: 2px dotted;
}

.link--text__dot__underline:hover {
  color: mat.get-color-from-palette($mat-accent, main);
  cursor: pointer;
}

.modal-players-list__item {
  padding: 8px;
  border: 1px solid $dark-bg-lighter-30;
  cursor: pointer;
}

.modal-players-list__item:hover {
  background-color: mat.get-color-from-palette($mat-accent, main);
}


/**
 * breaks
 */
.vertical-break__left {
  border-left: thin solid #D3D3D3;
}

.vertical-break__right {
  border-right: thin solid #D3D3D3;
}

.vertical-break__right__dark {
  border-right: thin solid grey;
}

hr.dark {
  border-top: 1px solid #A9A9A9;
}

.arrow-icon__nav {
  font-size: 20px;
  vertical-align: middle;
  font-weight: bold;
}

.transaction-icon,
.add-icon-button {
  font-size: 22px;
  vertical-align: middle
}

.home-icon {
  font-size: 30px;
  vertical-align: text-bottom;
}

.player-comp-icon {
  font-size: 20px;
  vertical-align: middle;
  padding-right: 10px;
}

/**
 * colors
 */

.success__alert {
  color: mat.get-color-from-palette($mat-success, main);
}

.warning__alert {
  color: mat.get-color-from-palette($mat-warn, main);
}

.urgent__alert {
  color: mat.get-color-from-palette($mat-alert, main);
}

.info__alert {
  color: mat.get-color-from-palette($mat-accent, main);
}

.accent__background {
  background: mat.get-color-from-palette($mat-accent, main);
}

.light_bg_color {
  color: $dark-bg-lighter-40;
}

.primary__color {
  color: mat.get-color-from-palette($mat-primary, main);
}

.mat-table-highlight {
  background-color: $dark-bg-lighter-20;
}

.accent_color {
  color: mat.get-color-from-palette($mat-accent, main);
}

/**
 * mat dropdowns
 */
.mat-dropdown-wide-200 {
  width: 200px;
}

.mat-dropdown-wide-250 {
  width: 250px;
}

.mat-dropdown-wide-300 {
  width: 300px;
}

.mat-dropdown-wide-100 {
  width: 100px;
}

.mat-dropdown-wide-100-percent {
  width: 100%;
}


/**
 * mat table
 */
.table-element-row td {
  border-bottom-width: 0;
}

.table-element-detail {
  overflow: hidden;
  display: flex;
}

.table-container {
  display: flex;
  flex-direction: column;
  //padding: 8px 24px 24px;
  min-width: 300px;
  justify-content: center;
}

.standings-table-container {
  display: flex;
  flex-direction: column;
  //padding: 8px 24px 24px;
  min-width: 800px;
  justify-content: center;
}

.box-score-table-container {
  display: flex;
  flex-direction: column;
  padding: 3px 8px 8px;
  min-width: 1000px;
  justify-content: center;
}

.player-comp-container {
  position: relative;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  justify-content: center;
}

.trade-table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  justify-content: center;
  margin: 0px auto;
  max-width: 1200px;
  white-space: nowrap;
}

.ktc-table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  justify-content: center;
  margin: 0px auto;
  max-width: 1000px;
  white-space: nowrap;
  overflow-y: hidden;
  padding: 3px 8px 8px;
  overflow-x: auto;
}

.pos-table-container {
  display: flex;
  flex-direction: column;
  padding: 3px 8px 8px;
  min-width: 1000px;
  justify-content: center;
}

.mock-draft-table-container {
  display: flex;
  flex-direction: column;
  padding: 3px 8px 8px;
  min-width: 400px;
  max-width: 1000px;
  justify-content: center;
  margin: 0px auto;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  padding: 3px 8px 8px;
  min-width: 400px;
  max-width: 1200px;
  justify-content: center;
  margin: 0px auto;
}

.playoff-calc-table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0px auto;
}

.flex-start-container {
  display: flex;
  flex-flow: column;
}

.flex-details-container {
  display: flex;
  flex-flow: row wrap;
}

.flex-item-home {
  align-self: auto;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 15px;
}

.flex-item-details {
  align-self: auto;
}


table {
  width: 100%;
}

tr.table-detail-row {
  height: 0;
}

.mat-table-right {
  display: flex;
  justify-content: flex-end;
}

.table-dropdown-right {
  display: flex;
  justify-content: flex-end;
  padding-right: 25%;
}

.mat-form-field-center {
  display: flex;
  justify-content: center;
}


.mat-table-center-text {
  justify-content: center;
}

// activity feed
.transaction--feed {
  border-left: 1px dashed #7f7f7f;
}

.transaction--box {
  display: flex;
  flex-direction: column;
  //padding-left: 20px;
  max-width: 300px;
  margin: 15px auto;
}

.metrics--box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding: 15px;
}

/**
 * transactions styling
 */
.transaction--box__row {
  display: flex;
  justify-content: space-between;
}

.transaction--box__end {
  width: 20%;
  text-align: right;
}

.transaction--box__start {
  width: 70%;
  text-align: left;
}

.table-image {
  width: 100%;
  height: auto;
  max-width: 40px;
  max-height: 40px;
  padding: 1px 15px 1px 1px;
}

.games-image {
  width: 100%;
  height: auto;
  max-width: 25px;
  max-height: 20px;
  padding-right: 5px;
}


/**/
/* query builder style overrides*/
/**/
.query-row {
  position: relative;
  margin-top: 12px;
  margin-left: 24px;
  padding: 14px;
  border-radius: 5px;
  border: 1px solid #577380;
}

.query-row::after {
  content: '';
  position: absolute;
  top: 50% !important;
  bottom: -13px !important;
  left: -16px !important;
  width: 10px !important;
  height: auto !important;
  border-color: #577380 !important;
  border-width: 0 0 0 1px !important;
}

.query-row::before {
  content: '';
  position: absolute;
  top: -13px !important;
  bottom: 50% !important;
  left: -16px !important;
  width: 10px !important;
  height: auto !important;
  border-color: #577380 !important;
  border-width: 0 0 1px 1px !important;
}

.query-error {
  border-color: mat.get-color-from-palette($mat-warn, main);
}

.query-warning {
  margin-top: 4px;
  text-align: center;
  color: mat.get-color-from-palette($mat-warn, main);
}

.mat-tab-body-content {
  overflow-y: hidden !important;
}

// button stylings
/* Declare border pulse animation */
@keyframes borderPulse {
  0% {
      box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255, .4), 0px 0px 0px 0px rgba(255, 255, 255, 1);
  }

  100% {
      box-shadow: inset 0px 0px 0px 3px rgba(117, 117, 255, .2), 0px 0px 0px 10px rgba(255, 255, 255, 0);
  }
}


/* Initiate Auto-Pulse animations */
button.pulse-button {
  animation: borderPulse 1000ms infinite ease-out, colorShift 10000ms infinite ease-in;
}

// Wrapped styling
.wrapped-button {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.wrapped-context-next {
  width: 100%;
  position: absolute;
  top: 5vh;
  left: 42vw;
  z-index: 5;
}

.wrapped-context {
  width: 100%;
  position: absolute;
  top: 25vh;
}

.wrapped-context-low {
  width: 100%;
  position: absolute;
  top: 40vh;
}

.wrapped-context-high {
  width: 100%;
  position: absolute;
  top: 10vh;
}

.wrapped-context-exit {
  width: 100%;
  position: absolute;
  top: 5vh;
  left: -42vw;
  z-index: 5;
}

.wrapped-top-icon {
  font-size: clamp(24px, 2.5vw, 56px);
  height: unset !important;
  width: unset !important;
  vertical-align: middle;
  cursor: pointer;
}

.wrapped-header-style {
  color: white;
  font-weight: bold;
  z-index: 1;
  font-size: clamp(18px, 3.5vw, 108px);
}

/** Mat dialog overrides */
.cdk-global-scrollblock {
  position: static;
  overflow: hidden !important;
}
