@import "../../../styles.scss";

.trade-dropdown {
  width: 100% !important;
  padding-left: 12.5%;
  padding-right: 12.5%;
}

.trade-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.trade-table {
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;
  padding-left: 10%;
  padding-right: 5%;
}

.trade-name-col {
  width: 40%;
}

.trade-info-col {
  width: 50%;
}

.trade-value-col {
  text-align: right;
  width: 10%;
  color: mat-color($mat-accent, lighter);
}

.trade-value-col-drop {
  text-align: right;
  width: 10%;
}

.trade-rm-icon:hover {
  transform: scale(0.9);
}

.trade-rm-icon {
  transform: scale(0.8);
  cursor: pointer;
  padding-left: 2px;
  vertical-align: middle;
}

.value-adj-text {
  font-style: italic;
}

.trade-arrow-icon__small {
  vertical-align: text-top;
  font-size: 14px;
  font-weight: bold;
}

.trade-arrow-icon {
  vertical-align: text-top;
  font-size: 16px;
}

.trade_insights {
  margin: 24px 24px 0 24px;
  min-width: 300px;
}

.trade-table-item {
  border-color: #7f7f7f;
  border-style: solid;
  border-width: 1px;
  margin-top: 5px;
}

::ng-deep .langSelect div.mat-select-arrow-wrapper {
  display: none;
}

::ng-deep .langSelect.mat-select {
  display: inline;
}

.team-dropdown-arrow-icon {
  margin-right: 5px !important;
  vertical-align: text-bottom !important;
  /*height: 16px !important;*/
  width: 16px !important;
  cursor: pointer;
}

.teamSelect {
  font-size: 14px !important;
}

.failed-trade-text-color {
  color: mat-color($mat-alert, lighter);
}

.uneven-trade-bg-color {
  background-color: mat-color($mat-alert, darker);
  color: mat-color($mat-alert, lighter);
}

.fair-trade-bg-color {
  background-color: $dark-bg-lighter-20;
}
