<div class="trade-table-container">
  <div class="margin-top-10 large-bold-header-text center-text">Trade Calculator</div>
  <div class="center-text margin-top-10">
    Add players to create trades.
  </div>

  <div class="margin-top-15" style="padding-left: 10%; padding-right: 10%">
    <span class="button-left">
      <mat-slide-toggle [(ngModel)]="isSuperFlex" (change)="processTrade()" color="accent">SuperFlex</mat-slide-toggle>
    </span>
    <span *ngIf="!configService.isMobile" class="container_spacer"></span>
    <span class="button-right">
      <button mat-raised-button (click)="clearTradeTable()"><mat-icon>refresh</mat-icon> Clear</button>
      <button mat-icon-button (click)="toggleAdvancedSettings = !toggleAdvancedSettings"><mat-icon>settings</mat-icon></button>
    </span>
  </div>
  <div *ngIf="toggleAdvancedSettings" style="padding-left: 10%; padding-right: 10%">
    <span class="button-left">
      <span class="small-text__light" style="padding-right: 5px">Trade Acceptance %: </span>
      <mat-slider
        [max]="10"
        [min]="1"
        [step]=".5"
        [thumbLabel]="true"
        [tickInterval]="1"
        [(ngModel)]="acceptanceVariance"
        (change)="processTrade()"></mat-slider>
    </span>
    <span class="container_spacer"></span>
    <span class="button-right">
      <fantasy-market-dropdown [selectedMarket]="playerService.selectedMarket" (selectedMarketChange)="onMarketChange($event)"></fantasy-market-dropdown>
    </span>
  </div>


  <div fxLayout="row wrap" fxLayoutAlign="center" class="margin-top-25">
    <div fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="100%">
      <div class="mid-bold-text center-text margin-bot-10 margin-top-25">
        <mat-icon (click)=team2Select.open()
                  *ngIf="leagueService.selectedLeague"
                  class="team-dropdown-arrow-icon" style="overflow: unset !important;">arrow_drop_down
          <mat-select
            #team2Select
            [(ngModel)]="selectedTeam2"
            class="langSelect">
            <mat-option class="teamSelect" (click)="selectionMadeTeam2()" [value]="'none'">{{selectedTeam2 == 'none' ? '' : 'None'}}</mat-option>
            <mat-option class="teamSelect" (click)="selectionMadeTeam2()" *ngFor="let team of leagueService.leagueTeamDetails" [value]="team.owner.userId">{{team.owner.ownerName}}</mat-option>
          </mat-select>
        </mat-icon>
        {{(team2Rankings?.team?.owner?.ownerName || 'Team 1') | truncate:22}} gets...
      </div>
      <div>
        <mat-form-field class="trade-dropdown" color="accent">
          <mat-select [formControl]="playerCtrl" placeholder="Select Player" #singleSelect disableOptionCentering>
            <mat-option>
              <ngx-mat-select-search [formControl]="playerFilterCtrl" placeholderLabel="Search Player..." noEntriesFoundLabel="No players found"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let player of filteredTeam1Players | async" [value]="null" (click)="addPlayerToTeam1(player)">
              {{player.full_name}} <span class="small-text__light">{{player.owner?.ownerName || '' | truncate:15}}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <table class="trade-table">
        <tr *ngFor="let player of team1PlayerList; let i = index">
          <td class="trade-name-col">
              <span *ngIf="player.position != 'PI'" class="link--text__no__underline" [routerLink]="['../details', player.name_id]" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_player_page" gaCategory="page_nav">
              {{player.full_name}}
            </span>
            <span *ngIf="player.position == 'PI'">
              {{player.full_name}}
            </span>
          </td>
          <td class="trade-info-col">
            <span *ngIf="player.position != 'PI'" class="small-text__light">{{player.position}}{{(this.leagueService?.selectedLeague?.isSuperflex || true) ? player.sf_position_rank : player.position_rank}} • {{player.team}} • {{player.age}} y.o</span>
          </td>
          <td class="mid-bold-text trade-value-col">{{isSuperFlex ? player.sf_trade_value : player.trade_value}}</td>
          <mat-icon class="trade-rm-icon" (click)="removePlayerFromTeam1(i)">cancel</mat-icon>
        </tr>
        <tr *ngIf="tradeTool.tradePackage?.valueAdjustmentSide == 1 && tradeTool.tradePackage?.valueAdjustment != 0">
          <td class="value-adj-text trade-name-col">Value Adjustment</td>
          <td class="small-text__light"></td>
          <td class="mid-bold-text trade-value-col">+{{tradeTool.tradePackage?.valueAdjustment}}</td>
        </tr>
        <tr *ngIf="favoredSide == 2 && team1PlayerList.length != 0 && recommendedPlayers.length !== 0">
          <td></td>
          <td (click)="evenOutTrade()" class="trade-info-col small-text__light link--text__no__underline" style="text-decoration-line: underline; font-style: italic">Even Out Trade</td>
        <tr>
        <tr *ngIf="!showDrops && tradeTool.tradePackage !== null && (tradeTool.tradePackage?.team1Assets.length !== 0 && tradeTool.tradePackage?.team2Assets?.length !== 0) && tradeTool.tradePackage?.valueToEvenTrade <= tradeTool.tradePackage?.acceptanceBufferAmount && team2PlayerDropList.length > 0">
          <td></td>
          <td (click)="toggleRecommendedDrops()" class="trade-info-col small-text__light link--text__no__underline" style="text-decoration-line: underline; font-style: italic">Recommend Drops</td>
        <tr>
        <tr *ngIf="team2PlayerDropList.length > 0 && showDrops" class="margin-top-25 small-text__light warning__alert" >Recommended Drops</tr>
        <ng-container *ngIf="showDrops">
          <tr *ngFor="let player of team2PlayerDropList; let i = index">
            <td></td>
            <td class="trade-info-col">
              <span *ngIf="player.position != 'PI'" class="warning__alert small-text__light link--text__no__underline__warnings" [routerLink]="['../details', player.name_id]" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_player_page" gaCategory="page_nav">
                {{player.full_name}}
              </span>
            </td>
            <td class="small-text__light warning__alert trade-value-col-drop">
              -{{isSuperFlex ? player.sf_trade_value : player.trade_value}}
            </td>
          </tr>
        </ng-container>
      </table>
      <div *ngIf="configService.isMobile" class="margin-top-25 center-text large-bold-header-text">Total: {{tradeTool.tradePackage?.getTradeValueBySide(1)}}</div>
    </div>
    <div fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="100%">
      <div class="mid-bold-text center-text margin-bot-10 margin-top-25">
        <mat-icon (click)=team1Select.open()
                  *ngIf="leagueService.selectedLeague"
                  class="team-dropdown-arrow-icon" style="overflow: unset !important;">arrow_drop_down
          <mat-select
            #team1Select
            [(ngModel)]="selectedTeam1"
          class="langSelect">
            <mat-option class="teamSelect" [value]="'none'" (click)="selectionMadeTeam1()">{{selectedTeam1 == 'none' ? '' : 'None'}}</mat-option>
            <mat-option class="teamSelect" (click)="selectionMadeTeam1()" *ngFor="let team of leagueService.leagueTeamDetails" [value]="team.owner.userId">{{team.owner.ownerName}}</mat-option>
          </mat-select>
        </mat-icon>
        {{team1Rankings?.team.owner.ownerName || 'Team 2' | truncate:22}} gets...
      </div>
      <div>
        <mat-form-field class="trade-dropdown" color="accent">
          <mat-select [formControl]="player2Ctrl" placeholder="Select Player" #singleSelect2>
            <mat-option>
              <ngx-mat-select-search [formControl]="player2FilterCtrl" placeholderLabel="Search Player..." noEntriesFoundLabel="No players found"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let player of filteredTeam2Players | async" [value]="null" (click)="addPlayerToTeam2(player)">
              {{player.full_name}} <span class="small-text__light">{{player.owner?.ownerName || '' | truncate:15}}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <table class="trade-table">
        <tr *ngFor="let player of team2PlayerList; let i = index">
          <td class="trade-name-col">
              <span *ngIf="player.position != 'PI'" class="link--text__no__underline" [routerLink]="['../details', player.name_id]" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_player_page" gaCategory="page_nav">
              {{player.full_name}}
            </span>
            <span *ngIf="player.position == 'PI'">
              {{player.full_name}}
            </span>
          </td>
          <td class="trade-info-col">
            <span *ngIf="player.position != 'PI'" class="small-text__light">{{player.position}}{{(this.leagueService?.selectedLeague?.isSuperflex || true) ? player.sf_position_rank : player.position_rank}} • {{player.team}} • {{player.age}} y.o</span>
          </td>
          <td class="mid-bold-text trade-value-col">
            {{isSuperFlex ? player.sf_trade_value : player.trade_value}}
          </td>
          <mat-icon class="trade-rm-icon" (click)="removePlayerFromTeam2(i)">cancel</mat-icon>
        </tr>
        <tr *ngIf="tradeTool.tradePackage?.valueAdjustmentSide == 2 && tradeTool.tradePackage?.valueAdjustment != 0">
          <td class="value-adj-text trade-name-col">Value Adjustment</td>
          <td class="small-text__light"></td>
          <td class="mid-bold-text trade-value-col">+{{tradeTool.tradePackage.valueAdjustment}}</td>
        </tr>
        <tr *ngIf="favoredSide == 1 && team2PlayerList.length != 0 && recommendedPlayers.length != 0">
          <td></td>
          <td (click)="evenOutTrade()" class="trade-info-col small-text__light link--text__no__underline" style="text-decoration-line: underline; font-style: italic">Even Out Trade</td>
        <tr>
        <tr *ngIf="!showDrops && tradeTool.tradePackage !== null && (tradeTool.tradePackage?.team1Assets.length !== 0 && tradeTool.tradePackage?.team2Assets?.length !== 0) && tradeTool.tradePackage?.valueToEvenTrade <= tradeTool.tradePackage?.acceptanceBufferAmount && team1PlayerDropList.length > 0">
          <td></td>
          <td (click)="toggleRecommendedDrops()" class="trade-info-col small-text__light link--text__no__underline" style="text-decoration-line: underline; font-style: italic">Recommend Drops</td>
        <tr>
        <tr *ngIf="team1PlayerDropList.length > 0 && showDrops" class="margin-top-25 small-text__light warning__alert" >Recommended Drops</tr>
        <ng-container *ngIf="showDrops">
          <tr *ngFor="let player of team1PlayerDropList; let i = index">
            <td></td>
            <td class="trade-info-col">
              <span *ngIf="player.position != 'PI'" class="warning__alert small-text__light link--text__no__underline__warnings" [routerLink]="['../details', player.name_id]" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_player_page" gaCategory="page_nav">
                {{player.full_name}}
              </span>
            </td>
            <td class="small-text__light warning__alert trade-value-col-drop">
              -{{isSuperFlex ? player.sf_trade_value : player.trade_value}}
            </td>
          </tr>
        </ng-container>
      </table>
      <div *ngIf="configService.isMobile" class="margin-top-25 center-text large-bold-header-text">Total: {{tradeTool.tradePackage?.getTradeValueBySide(2)}}</div>
    </div>
    <div fxFlex="40%" fxFlex.xs="40%" fxFlex.sm="40%" *ngIf="!configService.isMobile">
      <div class="margin-top-25 center-text large-bold-header-text">{{team2Rankings?.team.owner.ownerName || 'Team 2' | truncate: 20}}: {{tradeTool.tradePackage?.getTradeValueBySide(1) | number}}</div>
    </div>
    <div fxFlex="40%" fxFlex.xs="40%" fxFlex.sm="40%" *ngIf="!configService.isMobile">
      <div class="margin-top-25 center-text large-bold-header-text">{{team1Rankings?.team.owner.ownerName || 'Team 1' | truncate: 20}}: {{tradeTool.tradePackage?.getTradeValueBySide(2) | number}}</div>
    </div>
    <div fxFlex="80%" fxFlex.xs="80%" fxFlex.sm="80%" [ngClass]="{'uneven-trade-bg-color': tradeTool.tradePackage?.valueToEvenTrade > tradeTool.tradePackage?.acceptanceBufferAmount, 'fair-trade-bg-color': tradeTool.tradePackage?.valueToEvenTrade < tradeTool.tradePackage?.acceptanceBufferAmount || !tradeTool.tradePackage}" class="margin-top-25 margin-bot-50">
      <div *ngIf="tradeTool.tradePackage === null || (tradeTool.tradePackage?.team1Assets.length === 0 && tradeTool.tradePackage?.team2Assets.length === 0)" class="mid-bold-text center-text margin-top-15 margin-bot-15" style="color: lightgray">Add Player to Trade</div>
      <div *ngIf="tradeTool.tradePackage !== null && (tradeTool.tradePackage?.team1Assets.length !== 0 && tradeTool.tradePackage?.team2Assets?.length !== 0) && tradeTool.tradePackage?.valueToEvenTrade <= tradeTool.tradePackage?.acceptanceBufferAmount" class="center-text margin-top-15 margin-bot-15 accent">
        <div class="large-bold-header-text accent_color">Fair Trade</div>
        <div (click)="openPlayerComparisonPage()" class="link--text__no__underline small-text__light margin-top-10" style="text-decoration-line: underline;">View in Player Comparison</div>
      </div>
      <div *ngIf="tradeTool.tradePackage?.valueToEvenTrade > tradeTool.tradePackage?.acceptanceBufferAmount">
        <div class="mid-bold-text center-text margin-top-10" style="color: lightgray">
          <mat-icon class="trade-arrow-icon" *ngIf="favoredSide == 1">arrow_back</mat-icon>
          Favors {{favoredSide == 2 ? team1Rankings?.team.owner.ownerName || 'Team 2' : team2Rankings?.team.owner.ownerName || 'Team 1'}}
          <mat-icon class="trade-arrow-icon" *ngIf="favoredSide == 2">arrow_forward</mat-icon>
        </div>
        <div class="small-text__light center-text margin-bot-10 failed-trade-text-color">
          <mat-icon class="trade-arrow-icon__small" *ngIf="favoredSide == 2">arrow_back</mat-icon>
          Add a player with <span style="font-weight: bolder">{{tradeTool.tradePackage?.valueToEvenTrade | number}}</span> value to even trade
          <mat-icon class="trade-arrow-icon__small" *ngIf="favoredSide == 1">arrow_forward</mat-icon>
          <div (click)="openPlayerComparisonPage()" class="link--text__no__underline" style="text-decoration-line: underline;">View in Player Comparison</div>
        </div>
      </div>
    </div>
    <div *ngIf="tradeTool.tradePackage && (tradeTool.tradePackage.team2Assets.length != 0 || tradeTool.tradePackage.team1Assets.length != 0) && tradeTool.tradePackage?.valueToEvenTrade > tradeTool.tradePackage?.acceptanceBufferAmount && recommendedPlayers.length != 0" class="trade_insights" fxFlex="37.5%" fxFlex.xs="80%" fxFlex.sm="80%">
      <mat-card>
        <mat-card-content>
          <div class="center-text mid-bold-text margin-bot-10">Players to Even the Trade<span *ngIf="leagueService.selectedLeague && team1Rankings && team2Rankings">{{(favoredSide == 2 ? ' from ' + team1Rankings?.team.owner.ownerName : ' from ' + team2Rankings?.team.owner.ownerName) || '' | truncate: 26}}</span></div>
        </mat-card-content>
        <table class="trade-table-item" *ngFor="let player of recommendedPlayers">
          <tr>
            <td *ngIf="player.position == 'PI'" style="width: 70%">{{player.full_name}}</td>
            <td *ngIf="player.position != 'PI'" style="width: 70%" class="link--text__no__underline" [routerLink]="['../details', player.name_id]" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_player_page" gaCategory="page_nav">{{player.full_name}}</td>
            <td style="width: 30%">{{isSuperFlex ? player.sf_trade_value : player.trade_value}}</td>
            <td style="width: 5px" (click)="favoredSide == 2 ? addPlayerToTeam1(player) : addPlayerToTeam2(player)">
              <mat-icon class="trade-rm-icon">add_circle</mat-icon>
            </td>
          </tr>
        </table>
      </mat-card>
    </div>
    <div *ngIf="tradeTool.tradePackage && leagueService.selectedLeague" class="trade_insights" fxFlex="37.5%" fxFlex.xs="80%" fxFlex.sm="80%">
      <mat-card style="min-height: 245px">
        <div class="center-text mid-bold-text" style="margin-bottom: 5px">Team Position Ranks</div>
        <table style="border-collapse: separate; border-spacing: 0 10px;">
          <tr>
            <td style="width: 50%">{{team2Rankings?.team.owner.ownerName || '-' | truncate:20}}</td>
            <td style="width: 4%" class="center-text text__light">NAME</td>
            <td style="width: 50%; text-align: right;">{{team1Rankings?.team.owner.ownerName || '-' | truncate:20}}</td>
          </tr>
          <tr>
            <td style="width: 48%" >
              <span>{{team2Rankings ? displayService.getTierFromNumber(team2MockRankings?.tier || team2Rankings?.tier) : '-'}}</span>
              <span style="padding-left: 5px;" *ngIf="getPowerRankingsDifference(2, 6) && getPowerRankingsDifference(2, 6) !== 0" [ngClass]="{'success__alert': team1MockRankings && team2MockRankings && getPowerRankingsDifference(2, 6) > 0, 'warning__alert': team1MockRankings && team2MockRankings && getPowerRankingsDifference(2, 6) < 0}">
                <span *ngIf="getPowerRankingsDifference(2, 6) < 0"><mat-icon class="trade-arrow-icon__small">trending_down</mat-icon></span><span *ngIf="getPowerRankingsDifference(2, 6) > 0"><mat-icon class="trade-arrow-icon__small">trending_up</mat-icon></span>
            </span>
            </td>
            <td style="width: 4%" class="center-text text__light">TIER</td>
            <td style="width: 50%; text-align: right;">
              <span style="padding-right: 5px;" *ngIf="getPowerRankingsDifference(1, 6) && getPowerRankingsDifference(1, 6) !== 0" [ngClass]="{'success__alert': team1MockRankings && team2MockRankings && getPowerRankingsDifference(1, 6) > 0, 'warning__alert': team1MockRankings && team2MockRankings && getPowerRankingsDifference(1, 6) < 0}">
                <span *ngIf="getPowerRankingsDifference(1, 6) < 0"><mat-icon class="trade-arrow-icon__small">trending_down</mat-icon></span><span *ngIf="getPowerRankingsDifference(1, 6) > 0"><mat-icon class="trade-arrow-icon__small">trending_up</mat-icon></span>
            </span>
              <span>{{team1Rankings ? displayService.getTierFromNumber(team1MockRankings?.tier || team1Rankings?.tier) : '-'}}</span>
            </td>
          </tr>
          <tr>
            <td style="width: 48%" >
            <span>{{team2MockRankings?.roster[0].rank || team2Rankings?.roster[0].rank || '-'}}</span>
            <span style="padding-left: 5px; font-style: italic;" *ngIf="getPowerRankingsDifference(2, 0) && getPowerRankingsDifference(2, 0) !== 0" [ngClass]="{'success__alert': team1MockRankings && team2MockRankings && getPowerRankingsDifference(2, 0) > 0, 'warning__alert': team1MockRankings && team2MockRankings && getPowerRankingsDifference(2, 0) < 0}">
                <span *ngIf="getPowerRankingsDifference(2, 0) > 0">+</span>{{getPowerRankingsDifference(2, 0)}}
            </span>
            </td>
            <td style="width: 4%" class="center-text text__light">QB</td>
            <td style="width: 48%; text-align: right;">
            <span style="padding-right: 5px; font-style: italic;" *ngIf="getPowerRankingsDifference(1, 0) && getPowerRankingsDifference(1, 0) !== 0" [ngClass]="{'success__alert': team1MockRankings && team2MockRankings && getPowerRankingsDifference(1, 0) > 0, 'warning__alert': team1MockRankings && team2MockRankings && getPowerRankingsDifference(1, 0) < 0}">
                <span *ngIf="getPowerRankingsDifference(1, 0) > 0">+</span>{{getPowerRankingsDifference(1, 0)}}
            </span>
              <span>{{team1MockRankings?.roster[0].rank || team1Rankings?.roster[0].rank || '-'}}</span>
            </td>          </tr>
          <tr>
            <td style="width: 48%" >
            <span>{{team2MockRankings?.roster[1].rank || team2Rankings?.roster[1].rank || '-'}}</span>
            <span style="padding-left: 5px; font-style: italic;" *ngIf="getPowerRankingsDifference(2, 1) && getPowerRankingsDifference(2, 1) !== 0" [ngClass]="{'success__alert': team1MockRankings && team2MockRankings && getPowerRankingsDifference(2, 1) > 0, 'warning__alert': team1MockRankings && team2MockRankings && getPowerRankingsDifference(2, 1) < 0}">
                <span *ngIf="getPowerRankingsDifference(2, 1) > 0">+</span>{{getPowerRankingsDifference(2, 1)}}
            </span>
            </td>
            <td style="width: 4%" class="center-text text__light">RB</td>
            <td style="width: 48%; text-align: right;">
            <span style="padding-right: 5px; font-style: italic;" *ngIf="getPowerRankingsDifference(1, 1) && getPowerRankingsDifference(1, 1) !== 0" [ngClass]="{'success__alert': team1MockRankings && team2MockRankings && getPowerRankingsDifference(1, 1) > 0, 'warning__alert': team1MockRankings && team2MockRankings && getPowerRankingsDifference(1, 1) < 0}">
                <span *ngIf="getPowerRankingsDifference(1, 1) > 0">+</span>{{getPowerRankingsDifference(1, 1)}}
            </span>
              <span>{{team1MockRankings?.roster[1].rank || team1Rankings?.roster[1].rank || '-'}}</span>
            </td>
          </tr>
          <tr>
            <td style="width: 48%" >
              <span>{{team2MockRankings?.roster[2].rank || team2Rankings?.roster[2].rank || '-'}}</span>
              <span style="padding-left: 5px; font-style: italic;" *ngIf="getPowerRankingsDifference(2, 2) && getPowerRankingsDifference(2, 2) !== 0" [ngClass]="{'success__alert': team1MockRankings && team2MockRankings && getPowerRankingsDifference(2, 2) > 0, 'warning__alert': team1MockRankings && team2MockRankings && getPowerRankingsDifference(2, 2) < 0}">
                <span *ngIf="getPowerRankingsDifference(2, 2) > 0">+</span>{{getPowerRankingsDifference(2, 2)}}
              </span>
            </td>
            <td style="width: 4%" class="center-text text__light">WR</td>
            <td style="width: 48%; text-align: right;">
            <span style="padding-right: 5px; font-style: italic;" *ngIf="getPowerRankingsDifference(1, 2) && getPowerRankingsDifference(1, 2) !== 0" [ngClass]="{'success__alert': team1MockRankings && team2MockRankings && getPowerRankingsDifference(1, 2) > 0, 'warning__alert': team1MockRankings && team2MockRankings && getPowerRankingsDifference(1, 2) < 0}">
                <span *ngIf="getPowerRankingsDifference(1, 2) > 0">+</span>{{getPowerRankingsDifference(1, 2)}}
            </span>
              <span>{{team1MockRankings?.roster[2].rank || team1Rankings?.roster[2].rank || '-'}}</span>
            </td>
          </tr>
          <tr>
            <td style="width: 48%" >
            <span>{{team2MockRankings?.roster[3].rank || team2Rankings?.roster[3].rank || '-'}}</span>
            <span style="padding-left: 5px; font-style: italic;" *ngIf="getPowerRankingsDifference(2, 3) && getPowerRankingsDifference(2, 3) !== 0" [ngClass]="{'success__alert': team1MockRankings && team2MockRankings && getPowerRankingsDifference(2, 3) > 0, 'warning__alert': team1MockRankings && team2MockRankings && getPowerRankingsDifference(2, 3) < 0}">
                <span *ngIf="getPowerRankingsDifference(2, 3) > 0">+</span>{{getPowerRankingsDifference(2, 3)}}
            </span>
            </td>
            <td style="width: 4%" class="center-text text__light">TE</td>
            <td style="width: 48%; text-align: right;">
            <span style="padding-right: 5px; font-style: italic;" *ngIf="getPowerRankingsDifference(1, 3) && getPowerRankingsDifference(1, 3) !== 0" [ngClass]="{'success__alert': team1MockRankings && team2MockRankings && getPowerRankingsDifference(1, 3) > 0, 'warning__alert': team1MockRankings && team2MockRankings && getPowerRankingsDifference(1, 3) < 0}">
                <span *ngIf="getPowerRankingsDifference(1, 3) > 0">+</span>{{getPowerRankingsDifference(1, 3)}}
            </span>
              <span>{{team1MockRankings?.roster[3].rank || team1Rankings?.roster[3].rank || '-'}}</span>
            </td>
          </tr>
          <tr>
            <td style="width: 48%" >
            <span>{{team2MockRankings?.picks.rank || team2Rankings?.picks.rank || '-'}}</span>
            <span style="padding-left: 5px; font-style: italic;" *ngIf="getPowerRankingsDifference(2, 5) && getPowerRankingsDifference(2, 5) !== 0" [ngClass]="{'success__alert': team1MockRankings && team2MockRankings && getPowerRankingsDifference(2, 5) > 0, 'warning__alert': team1MockRankings && team2MockRankings && getPowerRankingsDifference(2, 5) < 0}">
                <span *ngIf="getPowerRankingsDifference(2, 5) > 0">+</span>{{getPowerRankingsDifference(2, 5)}}
            </span>
            </td>
            <td style="width: 4%" class="center-text text__light">PICKS</td>
            <td style="width: 48%; text-align: right;">
            <span style="padding-right: 5px; font-style: italic;" *ngIf="getPowerRankingsDifference(1, 5) && getPowerRankingsDifference(1, 5) !== 0" [ngClass]="{'success__alert': team1MockRankings && team2MockRankings && getPowerRankingsDifference(1, 5) > 0, 'warning__alert': team1MockRankings && team2MockRankings && getPowerRankingsDifference(1, 5) < 0}">
                <span *ngIf="getPowerRankingsDifference(1, 5) > 0">+</span>{{getPowerRankingsDifference(1, 5)}}
            </span>
              <span>{{team1MockRankings?.picks.rank || team1Rankings?.picks.rank || '-'}}</span>
            </td>
          </tr>
        </table>
      </mat-card>
    </div>
    <div *ngIf="!leagueService.selectedLeague" class="trade_insights" fxFlex="37.5%" fxFlex.xs="80%" fxFlex.sm="80%">
      <mat-card class="center-text" style="min-height: 245px">
        <div class="mid-bold-text center-text">Log into your League</div>
        <div class="margin-bot-10 center-text" style="margin-top: 80px">
          <button mat-raised-button color="warn" routerLink="./home" gaEvent="nav_home_page" gaCategory="page_nav">Select League</button>
        </div>
      </mat-card>
    </div>
    <div fxFlex="80%" fxFlex.xs="80%" fxFlex.sm="80%" class="margin-top-15 trade_insights">
      <app-trade-center-player-values [selectedMarket]="playerService.selectedMarket" [isSuperflex]="isSuperFlex" [selectedPlayers]="combinedPlayerList || []"></app-trade-center-player-values>
    </div>
  </div>
</div>

<div class="margin-top-50 center-text">
  <div class="large-bold-header-text center-text margin-bot-20">
    What is the Value Adjustment?
  </div>
  <div class="center-text" style="max-width: 800px; margin: 0 auto">
    The value adjustment is a calculated value to determine how much a player is worth in context of the trade. I wanted to make sure the fair trades weren't splitting a dollar into 100 pennies. Under the hood, the formula takes into consideration who is the key player in the trade and what proportion of the trade he accounts for.
  </div>
</div>
