<div class="center-text margin-bot-20" [ngClass]="{'large-bold-header-text': !configService.isMobile, 'mid-bold-text': configService.isMobile}"> Add/Remove Players
  <span class="button-right">
      <button mat-icon-button color="accent" class="button-right" (click)="finishAdding()"><mat-icon>close</mat-icon></button>
    </span>
</div>
<div class="margin-top-10 margin-bot-10" [ngClass]="{'center-text': configService.isMobile, 'right-align-text': !configService.isMobile}">
  <!--  <mat-radio-group [(ngModel)]="togglePresets">-->
  <!--    <mat-radio-button [value]="false" style="padding-right: 5px">View Individual Players</mat-radio-button>-->
  <!--    <mat-radio-button [value]="true" style="padding-left: 5px">View Presets</mat-radio-button>-->
  <!--  </mat-radio-group>-->
  <button mat-button *ngIf="toggleQueryMode === false" (click)="toggleQueryMode = true">
    <mat-icon class="player-comp-icon">build</mat-icon>
    Open Query
  </button>
  <button mat-button *ngIf="toggleQueryMode === true" (click)="toggleQueryMode = false">
    <mat-icon class="player-comp-icon">search</mat-icon>
    Open Search
  </button>
</div>

<mat-chip-list
  *ngIf="playerComparisonService.selectedPlayers.length !== 0 && (!playerComparisonService.isGroupMode || (playerComparisonService.isGroupMode && !data.isGroup2))">
  <mat-chip *ngFor="let player of playerComparisonService.selectedPlayers"
            (removed)="playerComparisonService.onRemove(player, false, data.fantasyMarket)">{{player.name}}
    <mat-icon matChipRemove>cancel</mat-icon>
  </mat-chip>
</mat-chip-list>

<mat-chip-list
  *ngIf="playerComparisonService.group2SelectedPlayers.length !== 0 && (playerComparisonService.isGroupMode && data.isGroup2)">
  <mat-chip *ngFor="let player of playerComparisonService.group2SelectedPlayers"
            (removed)="playerComparisonService.onRemove(player, true, data.fantasyMarket)">{{player.name}}
    <mat-icon matChipRemove>cancel</mat-icon>
  </mat-chip>
</mat-chip-list>


<div *ngIf="!toggleQueryMode">
  <div class="margin-top-10">
    <mat-form-field class="mat-dropdown-wide-100-percent" color="accent">
      <mat-label>Search Players by Name,
        Position, {{leagueService.selectedLeague ? 'NFL Team, or Fantasy Owner' : 'or NFL Team'}}</mat-label>
      <input matInput autocomplete="off" type="text" [(ngModel)]="playerSearch" (keyup)="updatePlayerFilters()">
      <button mat-button *ngIf="playerSearch" matSuffix mat-icon-button aria-label="Clear"
              (click)="playerSearch=''; updatePlayerFilters()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <span>
      <mat-checkbox class="player-value-checkbox-margin" color="accent" [(ngModel)]="filterPosGroup[0]"
                    (change)="updatePlayerFilters()">QB</mat-checkbox>
      <mat-checkbox class="player-value-checkbox-margin" color="accent" [(ngModel)]="filterPosGroup[1]"
                    (change)="updatePlayerFilters()">RB</mat-checkbox>
      <mat-checkbox class="player-value-checkbox-margin" color="accent" [(ngModel)]="filterPosGroup[2]"
                    (change)="updatePlayerFilters()">WR</mat-checkbox>
      <mat-checkbox class="player-value-checkbox-margin" color="accent" [(ngModel)]="filterPosGroup[3]"
                    (change)="updatePlayerFilters()">TE</mat-checkbox>
      <mat-checkbox class="player-value-checkbox-margin" color="accent" [(ngModel)]="filterPosGroup[4]"
                    (change)="updatePlayerFilters()">Picks</mat-checkbox>
      <mat-checkbox class="player-value-checkbox-margin" color="accent" [(ngModel)]="filterPosGroup[5]"
                    (change)="updatePlayerFilters()">{{configService.isMobile ? 'Rookies': 'Only Rookies'}}</mat-checkbox>
    </span>
  </div>
  <div class="margin-top-10">
    <div *ngFor="let player of filteredList" (click)="addPlayer(player)"
         class="modal-players-list__item">{{player.position}} - {{player.full_name}}
      <span class="light_bg_color"> {{player.team}}  {{player.position}}{{playerService.getTradeValue(player, this.leagueService?.selectedLeague?.isSuperflex || true, this.selectedMarket, 'rank')}}</span></div>
  </div>
  <br>
  <button mat-raised-button color="accent" class="button-right" (click)="finishAdding()">Finish</button>
</div>

<div *ngIf="toggleQueryMode" class="margin-top-10 margin-bot-20">
  <div class="center-text">
    <span class="warning__alert">{{queryList?.length || 0}}</span> players meet this search criteria.
  </div>
  <div class="margin-top-10">
    <app-player-query-builder [query]="playerComparisonService.query"></app-player-query-builder>
  </div>
  <div class="center-text margin-top-10">
    <span style="padding-right: 5px">
      <mat-form-field color="accent" style="width: 80px;">
        <mat-label>Set Limit</mat-label>
        <input matInput type="number" [max]="10" [min]="1" [(ngModel)]="playerComparisonService.limit" (keyup)="dirtyQuery = true">
      </mat-form-field>
    </span>
    <span>
      <mat-form-field color="accent">
        <mat-label>Set Aggregate</mat-label>
      <mat-select [(ngModel)]="playerComparisonService.selectedAggregate" (selectionChange)="dirtyQuery = true">
        <mat-option *ngFor="let opt of aggOptions" [value]="opt.value">
          {{ opt.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    </span>
    <span style="padding-left: 5px">
      <mat-form-field color="accent" style="width: 80px;">
        <mat-label>Order By</mat-label>
      <mat-select [(ngModel)]="playerComparisonService.isOrderByDesc" (selectionChange)="dirtyQuery = true">
        <mat-option [value]="false">
          ASC
        </mat-option>
        <mat-option [value]="true">
          DESC
        </mat-option>
      </mat-select>
      </mat-form-field>
    </span>
  </div>
  <div class="center-text margin-top-10">
    <button mat-raised-button color="accent" (click)="runQuery()">Run Query</button>
  </div>
  <div class="margin-top-25" [ngClass]="{'button-right': !configService.isMobile}">
    <mat-checkbox color="accent" [(ngModel)]="toggleOverwritePlayers" style="padding-right: 15px">
      {{configService.isMobile ? 'Replace' : 'Replace current selected players'}}
    </mat-checkbox>
    <button mat-raised-button color="warn" [disabled]="!queryList || queryList?.length === 0 || dirtyQuery"
            (click)="addQueryResults()">
      <mat-icon class="add-icon-button">add</mat-icon>
      {{queryList?.length || 0}} players
    </button>
  </div>
</div>
