<div *ngIf="teamPicks.length > 0" class="margin-top-10 draft-table">
  <table>
    <thead>
      <tr>
        <th *ngFor="let team of teamOrder, let ind = index;" class="owner-name-cell" (click)="toggleTeamFilter(team.roster?.rosterId, ind)" [ngClass]="{'edit-draft-player': mockDraftService.isOrderMode}">
          <div>
            <img #image [src]="team?.owner?.avatar" alt="Fantasy Team Avatar" class="draft-team-avatar"
            onerror="this.src='../../../assets/badges/ddlogo.svg';">
          </div>
          {{(team?.owner?.ownerName || 'Team') | truncate:15:'mid'}}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let row of formattedRows">
        <tr>
          <td *ngFor="let cell of row" class="draft-player-cell" style="background-color: {{getPickColor(cell)}}" [ngClass]="{'filtered-pick': isFilteredOut(cell, playerOrder[cell.pickNumber - 1]), 'edit-draft-player': mockDraftService.isOrderMode}">
            <div class="player-content" (click)="handlePickOnClick(playerOrder[cell.pickNumber - 1], cell.pickNumber)">
              <div>{{draft?.type === 3 ? '$' + cell.bidAmount : cell.pickdisplay}} {{getPlayerPositionRank(playerOrder[cell.pickNumber - 1])}} <span class="player-value-label">({{getDisplayValue(cell)}})</span></div>
              <div class="player-value-label">{{playerOrder[cell.pickNumber - 1]?.first_name || cell?.firstName || ''}}</div>
              <div>{{(playerOrder[cell.pickNumber - 1]?.last_name || cell?.lastName || '') | truncate:12}}</div>
              <img #image [src]="'https://sleepercdn.com/content/nfl/players/thumb/' + playerOrder[cell.pickNumber - 1]?.sleeper_id + '.jpg'" *ngIf="cell.originalRosterId === cell.rosterId"
                alt="Football Player" onerror="this.src='https://www.pff.com/images/webui/player_default.png';" [hidden]="image.hidden" class="player-draft-image">
              <div class="traded-pick-text" *ngIf="draft?.type === 3 || cell.originalRosterId != cell.rosterId">
                <div class="trade-content">
                  <mat-icon class="trade-arrow-icon">arrow_forward</mat-icon> {{getOwnerNameByRosterId(cell.rosterId) | truncate:10:'mid'}}
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
