<div *ngIf="mockDraftService.teamPicks.length > 0 && leagueService.isLeagueLoaded() && dataSource" class="margin-top-10">
  <mat-table [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="pickNumber">
      <mat-header-cell *matHeaderCellDef>Pick</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.pickdisplay}}</mat-cell>
    </ng-container>

    <!-- Team Column -->
    <ng-container matColumnDef="team">
      <mat-header-cell *matHeaderCellDef>Team</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon (click)=teamSelect.open() class="team-draft-player">arrow_drop_down
          <mat-select #teamSelect style="width: 25px; font-size: 14px;" appearance="none">
            <mat-option *ngFor="let team of leagueService.leagueTeamDetails" (click)="selectTeamForPick(team, element.pick-1)">{{team.owner.teamName}} - {{team.owner.ownerName}}</mat-option>
          </mat-select>
        </mat-icon>
        <div style="font-size: 16px">
          <img #image [src]="teamCache[element.rosterId]?.avatar"
          onerror="style.display = 'none'" class="table-image" style="padding: unset; padding-left: 5px; padding-right: 5px;" *ngIf="!configService.isMobile">
          <span style="vertical-align: super">{{element.pickTeam}}<span class="light_bg_color" style="font-size: 10px; padding-left: 5px" *ngIf="!configService.isMobile && element.originalRosterId !== element.rosterId && teamCache[element.originalRosterId]">Acquired from {{teamCache[element.originalRosterId]?.name}}</span></span>
        </div>
      </mat-cell>
    </ng-container>

    <!-- Team Needs Column -->
    <ng-container matColumnDef="teamNeeds">
      <mat-header-cell *matHeaderCellDef>Team Needs</mat-header-cell>
      <mat-cell *matCellDef="let element"><span style="font-size: 16px">{{teamCache[element.rosterId].teamNeeds}}</span></mat-cell>
    </ng-container>

    <!-- Value Column -->
    <ng-container matColumnDef="projectedPlayer">
      <mat-header-cell *matHeaderCellDef>Projected Pick</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div *ngIf="mockDraftService.mockDraftSelectedPlayers[element.pick-1]">
          {{configService.isMobile ? mockDraftService.mockDraftSelectedPlayers[element.pick-1].first_name.substr(0, 1) + '. ' +
          mockDraftService.mockDraftSelectedPlayers[element.pick-1].last_name : mockDraftService.mockDraftSelectedPlayers[element.pick-1].full_name}} - {{leagueService.selectedLeague.isSuperflex ? mockDraftService.mockDraftSelectedPlayers[element.pick-1].sf_trade_value : mockDraftService.mockDraftSelectedPlayers[element.pick-1].trade_value}}
        </div>
        <mat-icon (click)=singleSelect.open()
          *ngIf="leagueService.selectedLeague && !mockDraftService.mockDraftSelectedPlayers[element.pick-1]"
          class="draft-player">person_add
          <mat-select #singleSelect style="width: 25px; font-size: 14px;">
            <mat-option>
              <ngx-mat-select-search [formControl]="playerFilterCtrl" placeholderLabel="Search Player..."></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let player of filteredDraftPlayers | async" (click)="!isPlayerAlreadySelected(player, element.pick) ? draftPlayer(player, element.pick) : null" [disabled]="isPlayerAlreadySelected(player, element.pick)">
              {{player.full_name}} - {{!leagueService.selectedLeague.isSuperflex ? player.trade_value : player.sf_trade_value}} 
            </mat-option>
          </mat-select>
        </mat-icon>
        <mat-icon (click)="undraftPlayer(element.pick)"
        *ngIf="leagueService.selectedLeague && mockDraftService.mockDraftSelectedPlayers[element.pick-1]"
        class="draft-player">person_remove
      </mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'mat-table-highlight': leagueService.leagueUser?.userData.username === row.pickOwner}" style="max-height: 52px"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[pageLength, 2 * pageLength, 4 * pageLength]" showFirstLastButtons></mat-paginator>
</div>
