<div *ngIf="configService.isMobile && isMockDraft && teamPicks.length > 0">
  <h2 class="center-text mid-bold-text margin-top-10 margin-bot-25">
    <button mat-raised-button color="accent" (click)="configService.toggleToolbar$.next()"><mat-icon>settings</mat-icon> Edit Draft</button>
  </h2>
</div>

<div *ngIf="teamPicks.length > 0" class="margin-top-10 draft-table">
  <table>
    <thead>
      <tr>
        <th *ngFor="let team of teamOrder, let ind = index;" class="owner-name-cell" (click)="toggleTeamFilter(team.roster?.rosterId, ind)" [ngClass]="{'edit-draft-player': mockDraftService.isOrderMode}">
          <div>
            <img #image [src]="team?.owner?.avatar" alt="Fantasy Team Avatar" class="draft-team-avatar"
            onerror="this.src='../../../assets/badges/ddlogo.svg';">
          </div>
          {{(team?.owner?.ownerName || 'Team') | truncate:15:'mid'}}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let row of formattedRows">
        <tr>
          <td *ngFor="let cell of row" class="draft-player-cell" style="background-color: {{getPickColor(cell)}}" [ngClass]="{'filtered-pick': !mockDraftService.isOrderMode && isFilteredOut(cell, playerOrder[cell.pickNumber - 1]), 'edit-draft-player': mockDraftService.isOrderMode}">
            <div class="player-content" (click)="handlePickOnClick(playerOrder[cell.pickNumber - 1], cell.pickNumber)">
              <div>{{draft?.type === 3 ? '$' + cell.bidAmount : cell.pickdisplay}} {{getPlayerPositionRank(playerOrder[cell.pickNumber - 1])}} <span class="player-value-label" *ngIf="playerOrder[cell.pickNumber - 1]">({{getDisplayValue(cell)}})</span></div>
              <div class="player-value-label">{{playerOrder[cell.pickNumber - 1]?.first_name || cell?.firstName || ''}}</div>
              <div>{{(playerOrder[cell.pickNumber - 1]?.last_name || cell?.lastName || '') | truncate:12}}</div>
              <img #image [src]="playerOrder[cell.pickNumber - 1] ? 'https://sleepercdn.com/content/nfl/players/thumb/' + playerOrder[cell.pickNumber - 1]?.sleeper_id + '.jpg' : '../../../assets/img/players/player_default.webp'" *ngIf="cell.originalRosterId === cell.rosterId"
                alt="Football Player" class="player-draft-image" onerror="this.src='../../../assets/img/players/player_default.webp';" [hidden]="image.hidden">
              <div class="traded-pick-text" *ngIf="draft?.type === 3 || cell.originalRosterId != cell.rosterId">
                <div class="trade-content">
                  <mat-icon class="trade-arrow-icon">arrow_forward</mat-icon> {{getOwnerNameByRosterId(cell.rosterId) | truncate:10:'mid'}}
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
