.mat-column-pickNumber {
  max-width: 82px;
}

.mat-column-team {
  max-width: 700px;
  text-align: left;
  justify-content: start;
}

.mat-column-teamNeeds {
  max-width: 150px;
  text-align: left;
  justify-content: start;
}

.mat-column-projectedPlayer {
  max-width: 250px;
  text-align: right;
  justify-content: flex-end;
}

.draft-player {
  vertical-align: super;
  padding-left: 10px;
  cursor: pointer;
}

.team-draft-player {
  vertical-align: super;
  padding-right: 10px;
  cursor: pointer;
}

.draft-player {
  overflow: unset !important;
}

::ng-deep .draft-player .mat-select-arrow {
  display: none;
}

.team-draft-player {
  overflow: unset !important;
}

::ng-deep .team-draft-player .mat-select-arrow {
  display: none;
}
