@import "../../../../styles.scss";

.mat-row:nth-child(even){
  background-color: $dark-bg-lighter-10;
}

.box-score-element-row:hover {
  background: $dark-bg-lighter-30;
}

.content {
  width: 200px;
}

.item{
  margin-bottom: 16px;
  margin-right: 16px;
  width: 200px;
}
