<div class="center-text margin-bot-20 mid-bold-text">
  Did we get it wrong? Manually override league settings.
  <button mat-icon-button color="accent" class="button-right" (click)="closeDialog()"><mat-icon>close</mat-icon></button>
</div>
<div class="margin-top-25 mat-form-field-center">
  <mat-form-field appearance="standard" color="accent" style="width: 40%; padding-right: 5%">
    <mat-label>League Type</mat-label>
    <mat-select [(ngModel)]="selectedLeagueType" (selectionChange)="selectedLeagueType = $event.value">
      <mat-option *ngFor="let league of leagueTypes; let i = index"
                  [value]="i">{{league}}</mat-option>
    </mat-select>
  </mat-form-field>
  <span style="width: 40%; padding-left: 5%; align-self: center">
    <mat-slide-toggle [(ngModel)]="isMedian">Median
    </mat-slide-toggle>
  </span>
</div>
<div class="margin-top-15 mat-form-field-center">
  <mat-form-field appearance="standard" color="accent" style="width: 40%; padding-right: 5%">
    <mat-label>Roster Size</mat-label>
    <input type="number" [ngModel]="setRosterSize" (ngModelChange)="setRosterSize = $event" matInput>
  </mat-form-field>

  <span style="width: 40%; padding-left: 5%; align-self: center">
    <mat-slide-toggle [(ngModel)]="isSuperFlex">SuperFlex
    </mat-slide-toggle>
  </span>
</div>
<div class="margin-top-15 mat-form-field-center">
  <mat-form-field appearance="standard" color="accent" style="width: 40%; padding-right: 5%">
    <mat-label>Scoring format</mat-label>
    <mat-select [(ngModel)]="selectedScoringFormat" (selectionChange)="selectedScoringFormat = $event.value">
      <mat-option *ngFor="let format of scoringFormat; let i = index"
                  [value]="i">{{format}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="standard" color="accent" style="width: 40%; padding-left: 5%">
    <mat-label>Playoff Start Week</mat-label>
    <mat-select [(ngModel)]="selectedPlayoffStartWeek" (selectionChange)="selectedPlayoffStartWeek = $event.value">
      <mat-option *ngFor="let week of playoffWeeks; let i = index"
                  [value]="i + 1">{{week}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div *ngIf="leagueService.leagueStatus !== 'LOADING'">
<div class="margin-top-25 mat-form-field-center">
  <button mat-raised-button color="accent" (click)="reloadLeague()">Reload League</button>
</div>
<div class="margin-top-15 warning__alert center-text">
  <mat-icon class="generic-icon">warning</mat-icon> This will override the league settings until refresh
</div>
</div>
<div *ngIf="leagueService.leagueStatus === 'LOADING'" class="center-spinner margin-top-25">
  <mat-spinner [diameter]="50"></mat-spinner>
</div>
