<div class="center-text">
  <a style="padding-right: 10px" [routerLink]="['./about']" gaEvent="nav_about_me" gaCategory="page_nav"><span class="link--text__no__underline small-text__light">About</span></a>
  <a href="https://discord.gg/xJtzrvN7WC" target="_blank" style="padding-right: 10px"><span class="link--text__no__underline small-text__light">Discord</span></a>
  <a href="https://twitter.com/DynastyDaddyff" target="_blank" style="padding-right: 10px"><span class="link--text__no__underline small-text__light">Twitter</span></a>
  <a href="https://www.youtube.com/channel/UC9SOfhKyR3MQj8xB778rhnA/featured" target="_blank" style="padding-right: 10px"><span class="link--text__no__underline small-text__light">Youtube</span></a>
  <a href="https://www.linkedin.com/in/jmtimper/" target="_blank" style="padding-right: 10px"><span class="link--text__no__underline small-text__light">LinkedIn</span></a>
  <a href="https://www.buymeacoffee.com/jertimperio" target="_blank" style="padding-right: 10px"><span class="link--text__no__underline small-text__light">Donate</span></a>
</div>
