<div class="app-header">
  <div *ngIf="configService.isShowInfoHeader && !hasClosedHeader" class="center-text header-info"
    [ngStyle]="configService.isMobile ? {'font-size': '12px', 'height': '38px'} : {'font-size': '22px', 'height': '64px'}">
    {{configService.headerInfoText}}<span class="button-right" style="cursor: pointer; padding-right: 10px"
      [ngStyle]="configService.isMobile ? {'font-size': '30px'} : {'font-size': '40px'}"><mat-icon
        (click)="hasClosedHeader = true">close</mat-icon></span>
    <div><a href="{{configService.headerInfoURL}}" target="_blank" gaEvent="click_header_info"
        gaCategory="nav_sponsor"><span class="link--text__dot__underline">Click here for more!</span></a></div>
  </div>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span style="cursor: pointer" (click)="toggle()"><img class="header-img" src="assets/badges/ddlogo.svg" alt="DD" title="Dynasty Daddy"><span style="padding-left: 10px">{{configService.isMobile && leagueService.leagueUser?.leagues.length ? '' : 'Dynasty Daddy'}}</span></span>
    <span class="spacer"></span>
    <ng-container *ngIf="!configService.isMobile && !userService.user && !leagueService.isLeagueLoaded && (leagueService.leagueStatus$ | async) !== 'LOADING'">
      <button mat-icon-button (click)="userService.loginWithPatreon()">
        <img src="assets/patreon-tile.svg" alt="patreon-icon" class="club-logo">
    </button>
    </ng-container>
    <ng-container *ngIf="!configService.isMobile && !userService.user">
      <button *ngIf="leagueService.isLeagueLoaded()" mat-button matSuffix mat-icon-button matTooltip="Open League"
        matTooltipPosition="below" aria-label="Clear" (click)="leagueService.openLeague()">
        <mat-icon>offline_share</mat-icon>
      </button>
      <div *ngIf="(leagueService.leagueStatus$ | async) == 'LOADING'" style="margin-right: 10px">
        <mat-spinner color="accent" [diameter]="30"></mat-spinner>
      </div>
      <button *ngIf="leagueService.isLeagueLoaded()" mat-button matSuffix mat-icon-button
        matTooltip="Synced league data {{leagueSwitchService.getMinutesSinceLastRefresh()}} minute{{leagueSwitchService.getMinutesSinceLastRefresh() === 1 ? '' : 's'}} ago"
        matTooltipPosition="below" aria-label="Clear"
        (click)="leagueSwitchService.loadLeague(leagueSwitchService.selectedLeague)">
        <mat-icon>refresh</mat-icon>
      </button>
      <div *ngIf="(leagueService.leagueStatus$ | async) == 'LOADING'" style="margin-right: 10px">
        <mat-spinner color="accent" [diameter]="30"></mat-spinner>
      </div>
      <button mat-button [routerLink]="['./login']" *ngIf="!leagueService.leagueUser"><mat-icon
          class="header-icon">group_add</mat-icon> {{leagueService.selectedLeague?.leaguePlatform === 1 ? 'Change
        League' : 'Select Username'}}</button>

    </ng-container>
    <ng-container *ngIf="userService.user">
      <button mat-button matSuffix mat-icon-button matTooltip="User Settings"
      matTooltipPosition="below" aria-label="Clear" [routerLink]="['./user/settings']"
      [queryParams]="leagueSwitchService.buildQueryParams()">
      <img src="assets/clubs.svg" alt="user-settings" class="club-logo">
    </button>
    </ng-container>
    <league-dropdown [leagues]="leagueService.leagueUser?.leagues" [leagueId]="leagueService.selectedLeague?.leagueId" [isHeader]="true"></league-dropdown>
  </mat-toolbar>
</div>