<div class="app-header">
  <mat-toolbar color="primary" *ngIf="!configService.isMobile">
    <button mat-button [routerLink]="['./home']" [queryParams]="leagueSwitchService.buildQueryParams()"><mat-icon class="header-icon">home</mat-icon> Home</button>
    <button mat-button [matMenuTriggerFor]="leagueMenu"><mat-icon class="header-icon">people</mat-icon> League</button>
    <mat-menu #leagueMenu="matMenu">
      <button mat-menu-item [routerLink]="['./league/rankings']" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_power_rankings" gaCategory="page_nav">Power Rankings</button>
      <button mat-menu-item [routerLink]="['./league/standings']"  [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_standings" gaCategory="page_nav">Standings</button>
      <button mat-menu-item [routerLink]="['./league/probability']" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_playoff_calculator" gaCategory="page_nav">Playoff Calculator</button>
      <button mat-menu-item [routerLink]="['./league/trade/finder']"  [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_trade_finder" gaCategory="page_nav">Trade Finder</button>
      <button mat-menu-item [routerLink]="['./league/draft']"  [queryParams]="leagueSwitchService.buildQueryParams()"gaEvent="nav_draft_center" gaCategory="page_nav">Draft Center</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="playerMenu"><mat-icon style="font-size: 22px">insights</mat-icon> Players</button>
    <mat-menu #playerMenu="matMenu">
      <button mat-menu-item [routerLink]="['./players/values']" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_player_values" gaCategory="page_nav">Player Values</button>
      <button mat-menu-item [routerLink]="['./players/trade']"  [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_trade_calculator" gaCategory="page_nav">Trade Calculator</button>
      <button mat-menu-item [routerLink]="['./players/statistics']"  [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_positional_statistics" gaCategory="page_nav">Positional Statistics</button>
      <button mat-menu-item [routerLink]="['./players/comparison']"  [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_value_comparisons" gaCategory="page_nav">Value Comparisons</button>
    </mat-menu>
    <span class="spacer"></span>
    <button *ngIf="leagueService.isLeagueLoaded()" mat-button matSuffix mat-icon-button matTooltip="Open in Sleeper" matTooltipPosition="below" aria-label="Clear" (click)="openLeague()">
      <mat-icon >offline_share</mat-icon>
    </button>
    <div *ngIf="leagueService.leagueStatus == 'LOADING'" style="margin-right: 10px">
      <mat-spinner color="accent" [diameter]="30"></mat-spinner>
    </div>
    <div *ngIf="leagueService.leagueStatus == 'LOADING'" style="margin-right: 10px">
      <mat-spinner color="accent" [diameter]="30"></mat-spinner>
    </div>
    <button *ngIf="leagueService.isLeagueLoaded()" mat-button matSuffix mat-icon-button matTooltip="Synced league data {{leagueSwitchService.getMinutesSinceLastRefresh()}} minute{{leagueSwitchService.getMinutesSinceLastRefresh() === 1 ? '' : 's'}} ago" matTooltipPosition="below" aria-label="Clear" (click)="leagueSwitchService.loadLeague(leagueSwitchService.selectedLeague)">
      <mat-icon>refresh</mat-icon>
    </button>
    <button mat-button [routerLink]="['./login']" *ngIf="!leagueService.leagueUser"><mat-icon class="header-icon">group_add</mat-icon> Select Username</button>
    <mat-form-field appearance="standard" color="accent" style="font-size: 14px;" *ngIf="leagueService.leagueUser?.leagues.length > 0">
      <mat-label>Select a league</mat-label>
      <mat-select [(ngModel)]="leagueSwitchService.selectedLeague" (selectionChange)="leagueSwitchService.loadLeague($event.value)">
        <mat-option *ngFor="let league of leagueService.leagueUser?.leagues"
                    [value]="league">{{league.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar>
  <mat-toolbar color="primary" *ngIf="configService.isMobile">
    <button mat-icon-button [matMenuTriggerFor]="leagueMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #leagueMenu="matMenu">
      <button mat-menu-item [routerLink]="['./league/rankings']" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_power_rankings" gaCategory="page_nav"><mat-icon class="header-icon">stacked_bar_chart</mat-icon>Power Rankings</button>
      <button mat-menu-item [routerLink]="['./league/standings']" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_standings" gaCategory="page_nav"><mat-icon class="header-icon">leaderboard</mat-icon>Standings</button>
      <button mat-menu-item [routerLink]="['./league/probability']" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_playoff_calculator" gaCategory="page_nav"><mat-icon class="header-icon">calculate</mat-icon>Playoff Calculator</button>
      <button mat-menu-item [routerLink]="['./league/trade/finder']" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_trade_finder" gaCategory="page_nav"><mat-icon class="header-icon">person_search</mat-icon>Trade Finder</button>
      <button mat-menu-item [routerLink]="['./league/draft']" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_draft_center" gaCategory="page_nav"><mat-icon class="header-icon">storage</mat-icon>Draft Center</button>
      <button mat-menu-item [routerLink]="['./players/values']" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_player_values" gaCategory="page_nav"><mat-icon class="header-icon">trending_up</mat-icon>Player Values</button>
      <button mat-menu-item [routerLink]="['./players/trade']" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_trade_calculator" gaCategory="page_nav"><mat-icon class="header-icon">compare_arrows</mat-icon>Trade Calculator</button>
      <button mat-menu-item [routerLink]="['./players/statistics']" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_positional_statistics" gaCategory="page_nav"><mat-icon class="header-icon">topic</mat-icon>Positional Statistics</button>
      <button mat-menu-item [routerLink]="['./players/comparison']" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_value_comparisons" gaCategory="page_nav"><mat-icon class="header-icon">insights</mat-icon>Value Comparisons</button>
    </mat-menu>
    <span>Dynasty Daddy</span>
    <span class="spacer"></span>
    <button mat-icon-button class="header-icon" [routerLink]="['./home']" [queryParams]="leagueSwitchService.buildQueryParams()">
      <mat-icon>group_add</mat-icon>
    </button>
  </mat-toolbar>
</div>
