@use '@angular/material' as mat;

@import "../../../styles.scss";

.spacer {
  flex: 1 1 auto;
}

a {
  all: unset;
}

.header-info {
  background-color: mat.get-color-from-palette($mat-accent, darker);
}

.header-img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
