<mat-nav-list>
  <mat-list-item [routerLink]="['./home']" (click)="toggle()" [queryParams]="leagueSwitchService.buildQueryParams()">
    <mat-icon>home</mat-icon><span> Home</span>
  </mat-list-item>
  <mat-list-item [routerLink]="['./wrapped']" [queryParams]="leagueSwitchService.buildQueryParams()" class="wrapped-button" gaEvent="nav_wrapped" gaCategory="page_nav" *ngIf="configService.getConfigOptionByKey('enable_wrapped')?.configValue === 'true'">
    <mat-icon class="header-icon">redeem</mat-icon><span> Wrapped</span>
  </mat-list-item>
    <mat-form-field color="accent" class="sidebar-search">
      <mat-label>Search...</mat-label>
      <input matInput type="text" (keyup)="filterSearch()" [(ngModel)]="searchVal" class="mat-dropdown-wide-250">
      <button mat-button *ngIf="searchVal" matSuffix mat-icon-button aria-label="Clear" (click)="resetSearchValue()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  <mat-expansion-panel [class.mat-elevation-z0]="true" [expanded]="true" *ngIf="searchVal == '' || (isInSearch('Power Rankings') || isInSearch('League Standings') || isInSearch('Playoff Calculator') || isInSearch('Trade Finder') || isInSearch('Draft Center') || isInSearch('Fantasy Portfolio') || isInSearch('Mock Draft'))">
      <mat-expansion-panel-header>
          League Tools
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['./league/rankings']" *ngIf="searchVal == '' || isInSearch('Power Rankings')" (click)="toggle()" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_power_rankings" gaCategory="page_nav">
          <mat-icon>stacked_bar_chart</mat-icon>Power Rankings</a>
        <a mat-list-item [routerLink]="['./league/standings']" *ngIf="searchVal == '' || isInSearch('League Standings')" (click)="toggle()" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_standings" gaCategory="page_nav">
          <mat-icon>leaderboard</mat-icon>Standings</a>
        <a mat-list-item [routerLink]="['./league/probability']" *ngIf="searchVal == '' || isInSearch('Playoff Calculator')" (click)="toggle()" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_playoff_calculator" gaCategory="page_nav">
          <mat-icon>calculate</mat-icon>Playoff Calculator</a>
        <a mat-list-item [routerLink]="['./league/trade/finder']" *ngIf="searchVal == '' || isInSearch('Trade Finder')" (click)="toggle()" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_trade_finder" gaCategory="page_nav">
          <mat-icon>person_search</mat-icon>Trade Finder</a>
        <a mat-list-item [routerLink]="['./league/draft']" *ngIf="searchVal == '' || isInSearch('Draft Center') || isInSearch('Mock Draft')" (click)="toggle()" [queryParams]="leagueSwitchService.buildQueryParams()"gaEvent="nav_draft_center" gaCategory="page_nav">
          <mat-icon>storage</mat-icon>Draft Center</a>
        <a mat-list-item [routerLink]="['./league/portfolio']" *ngIf="searchVal == '' || isInSearch('Fantasy Portfolio')" (click)="toggle()" [queryParams]="leagueSwitchService.buildQueryParams()"gaEvent="nav_portfolio" gaCategory="page_nav">
          <mat-icon>account_balance</mat-icon>Fantasy Portfolio</a>
      </mat-nav-list>
  </mat-expansion-panel>
  <mat-expansion-panel [class.mat-elevation-z0]="true" [expanded]="true" *ngIf="searchVal == '' || (isInSearch('Value Comparisons') || isInSearch('Positional Statistics') || isInSearch('Trade Calculator') || isInSearch('Player Rankings'))">
      <mat-expansion-panel-header>
          Player Tools
      </mat-expansion-panel-header>
      <mat-nav-list>
          <a mat-list-item [routerLink]="['./players/values']" *ngIf="searchVal == '' || isInSearch('Player Rankings')" (click)="toggle()" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_player_values" gaCategory="page_nav">
            <mat-icon>trending_up</mat-icon>Player Rankings</a>
          <a mat-list-item [routerLink]="['./players/trade']" *ngIf="searchVal == '' || isInSearch('Trade Calculator')" (click)="toggle()" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_trade_calculator" gaCategory="page_nav">
            <mat-icon>compare_arrows</mat-icon>Trade Calculator</a>
          <a mat-list-item [routerLink]="['./players/statistics']" *ngIf="searchVal == '' || isInSearch('Positional Statistics')" (click)="toggle()" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_positional_statistics" gaCategory="page_nav">
            <mat-icon>topic</mat-icon>Positional Statistics</a>
          <a mat-list-item [routerLink]="['./players/comparison']" *ngIf="searchVal == '' || isInSearch('Value Comparisons')" (click)="toggle()" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_value_comparisons" gaCategory="page_nav">
            <mat-icon>insights</mat-icon>Value Comparisons</a>
      </mat-nav-list>
  </mat-expansion-panel>
  <mat-list-item *ngIf="leagueService.leagueStatus === 'LOADING'" [queryParams]="leagueSwitchService.buildQueryParams()">
    <mat-progress-bar  mode="indeterminate" color="accent"></mat-progress-bar>
  </mat-list-item>
  <mat-expansion-panel *ngIf="leagueService.isLeagueLoaded() && filteredTeams.length != 0" [class.mat-elevation-z0]="true" [expanded]="searchVal != '' ? true : false">
    <mat-expansion-panel-header>
        Team Pages
    </mat-expansion-panel-header>
    <mat-nav-list>
        <a mat-list-item *ngFor="let team of filteredTeams" [routerLink]="['./league/team', team.owner.ownerName]" (click)="toggle()" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_team_page" gaCategory="page_nav">
          <img #image [src]="team?.owner?.avatar"
          (error)="image.hidden = true" [hidden]="image.hidden" style="width: 20px;">{{team.owner.teamName | truncate: 20}}</a>
    </mat-nav-list>
</mat-expansion-panel>
  <mat-expansion-panel [class.mat-elevation-z0]="true" [expanded]="false" *ngIf="searchVal == ''">
    <mat-expansion-panel-header>
      Trending Players
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a mat-list-item (click)="formatTrendingPlayers(!isTrendingByNumber)" style="cursor: pointer;" class="player-trending-header">
        <mat-icon>trending_up</mat-icon>Rising Players <span class="player-item-right"><span [ngClass]="{'player-trend-active': isTrendingByNumber}">#</span> | <span [ngClass]="{'player-trend-active': !isTrendingByNumber}">%</span></span></a>
        <a mat-list-item *ngFor="let player of risingPlayers" [routerLink]="['./players/details', player.name_id]" (click)="toggle()" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_player_page" gaCategory="page_nav" class="player-item-container">
          <span class="player-item-left">{{player.position}} • {{player.first_name.substring(0,1)}}. {{player.last_name}}</span><span class="player-item-right success__alert">+{{getTrendingValue(player)}}</span></a>
        <a mat-list-item (click)="formatTrendingPlayers(!isTrendingByNumber)" style="cursor: pointer;" class="player-trending-header">
        <mat-icon>trending_down</mat-icon>Falling Players <span class="player-item-right"><span [ngClass]="{'player-trend-active': isTrendingByNumber}">#</span> | <span [ngClass]="{'player-trend-active': !isTrendingByNumber}">%</span></span></a>
        <a mat-list-item *ngFor="let player of fallingPlayers" [routerLink]="['./players/details', player.name_id]" (click)="toggle()" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_player_page" gaCategory="page_nav" class="player-item-container">
          <span class="player-item-left">{{player.position}} • {{player.first_name.substring(0,1)}}. {{player.last_name}}</span><span class="player-item-right warning__alert">{{getTrendingValue(player)}}</span></a>
    </mat-nav-list>
</mat-expansion-panel>
<mat-expansion-panel [class.mat-elevation-z0]="true" [expanded]="true" *ngIf="searchVal != '' && filteredPlayers.length > 0">
  <mat-expansion-panel-header>
      Player Pages
  </mat-expansion-panel-header>
  <mat-nav-list>
      <a mat-list-item *ngFor="let player of filteredPlayers" [routerLink]="['./players/details', player.name_id]" (click)="toggle()" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_player_page" gaCategory="page_nav" class="player-item-container">
        <span class="player-item-left">{{player.position}} • {{player.first_name.substring(0,1)}}. {{player.last_name}}</span><span class="player-item-right">{{this.isSuperflex ? player.sf_trade_value: player.trade_value}}</span></a>
  </mat-nav-list>
</mat-expansion-panel>
  <mat-list-item *ngIf="leagueService.leagueStatus === 'LOADING'" [queryParams]="leagueSwitchService.buildQueryParams()">
    <mat-progress-bar *ngIf="leagueService.leagueStatus === 'LOADING'" mode="indeterminate" color="accent"></mat-progress-bar>
  </mat-list-item>
  <mat-list-item *ngIf="leagueService.leagueStatus === 'LOADING'" [queryParams]="leagueSwitchService.buildQueryParams()">
    <mat-progress-bar  mode="indeterminate" color="accent"></mat-progress-bar>
  </mat-list-item>
  <mat-list-item *ngIf="leagueService.isLeagueLoaded() && (searchVal == '' || isInSearch('Open League'))" (click)="leagueService.openLeague()" [queryParams]="leagueSwitchService.buildQueryParams()">
    <mat-icon >offline_share</mat-icon><span> Open League</span>
  </mat-list-item>
  <mat-list-item *ngIf="leagueService.isLeagueLoaded() && (searchVal == '' || isInSearch('Refresh League'))" (click)="leagueSwitchService.loadLeague(leagueSwitchService.selectedLeague)" [queryParams]="leagueSwitchService.buildQueryParams()">
    <mat-icon>refresh</mat-icon><span> Refresh League</span>
  </mat-list-item>
  <mat-list-item *ngIf="searchVal == '' || isInSearch('Roster Review')" (click)="openUrl()" gaEvent="click_roster_review" gaCategory="nav_sponsor">
    <mat-icon>paid</mat-icon><span> Roster Review</span>
  </mat-list-item>
  <mat-expansion-panel [class.mat-elevation-z0]="true" [expanded]="searchVal != '' ? true : false" *ngIf="filteredCreators.length > 0">
    <mat-expansion-panel-header>
        Preferred Creators
    </mat-expansion-panel-header>
    <mat-nav-list>
        <a mat-list-item *ngFor="let creator of filteredCreators" (click)="openUrl(creator.url)" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_player_page" gaCategory="page_nav" class="player-item-container">
          <mat-icon>podcasts</mat-icon><span>{{creator.alt}}</span></a>
    </mat-nav-list>
  </mat-expansion-panel>
</mat-nav-list>
