@import "../../../styles.scss";

.top-left-cell {
  text-align-last: center;
  width: clamp(20px, 12vw, 180px);;
  height: clamp(20px, 12vw, 200px);;
}

.team-grid-img {
  text-align-last: center;
  width: clamp(20px, 12vw, 180px);;
  height: clamp(20px, 12vw, 200px);;
}

.middle-cell {
  width: clamp(20px, 12vw, 180px);
  height: clamp(20px, 12vw, 200px);;
  background-color: $dark-bg-lighter-10;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.middle-cell:hover {
  background-color: $dark-bg-lighter-30;
  cursor: pointer;
}

.player-name-text {
  z-index: 100;
  font-size: 12px;
  font-weight: bold;
  margin-top: -20px;
}

.player-name-text-mobile {
  z-index: 100;
  font-size: 8px;
  margin-top: -10px;
}

.player-grid-img {
  text-align-last: center;
  width: clamp(20px, 12vw, 180px);;
  // height: clamp(20px, 12vw, 180px);;
}
