<h1 class="margin-top-10 large-bold-header-text center-text">NFL Immaculate Gridiron {{gridGameService.gridDict['id']}}</h1>
<div class="center-text margin-top-10">
    {{pageDescription}}
</div>
<div *ngIf="gridGameService.gridDict['creator']" class="center-text margin-top-10">
    <span class="small-text__light">Custom Grid by: </span>
    <a href="{{gridGameService.gridDict['creatorLink']}}" target="_blank" style="padding-right: 10px; text-decoration: unset;"><span class="link--text__dot__underline small-text__light"> {{gridGameService.gridDict?.['creator']}}</span></a>        
</div>

<div *ngIf="gridGameService.status === 1"class="margin-top-25">
    <div style="overflow-x: auto;">
        <table class="grid-table">
            <tbody>
                <ng-container *ngFor="let row of gridGameService.gridResults; let i = index">
                    <tr class="grid-row">
                        <td *ngFor="let col of row; let j = index" (click)="j !== 0 && i !== 0 && !gridGameService.gridResults[j][i] && gridGameService.guessesLeft > 0 ? openPlayerSearch(j-1, i-1) : ''" [ngStyle]="gridGameService.gridResults[j][i] ? {'background': gridGameService.getCellColor(gridGameService.gridResults[j][i]?.percent)} : {}" style="position: relative;"
                            [ngClass]="{'top-left-cell': i === 0 || j === 0, 'middle-cell': i > 0 && j > 0}">
                            <div *ngIf="i === 0 && j !== 0">
                                <img [src]="getTeamImg(gridGameService.gridDict['xAxis'][j-1])" class="team-grid-img" *ngIf="gridGameService.gridDict['xAxis'][j-1]?.type == 'team'">
                                <div *ngIf="gridGameService.gridDict['xAxis'][j-1]?.type == 'award'">
                                    <div class="light_bg_color" *ngIf="!configService.isMobile">Won Award</div>
                                    <div [ngClass]="{'jersey-num-mobile': configService.isMobile, 'jersey-num': !configService.isMobile}" style="text-align: center;">{{getAwardDisplay(gridGameService.gridDict['xAxis'][j-1]?.value)}}</div>
                                    <div class="light_bg_color" [ngClass]="{'subtext-mobile': configService.isMobile}">Since 1999</div>
                                </div>
                                <div *ngIf="gridGameService.gridDict['xAxis'][j-1]?.type == 'stat'" class="center-text">
                                    <div [ngClass]="{'jersey-num-mobile': configService.isMobile, 'jersey-num': !configService.isMobile}">{{getStatThresholdDisplay(gridGameService.gridDict['xAxis'][j-1]?.value)}}</div>
                                    <div class="light_bg_color subtext" [ngClass]="{'subtext-desc-mobile': configService.isMobile}">{{getStatCategory(gridGameService.gridDict['xAxis'][j-1]?.value)}}</div>
                                    <div class="light_bg_color subtext" [ngClass]="{'subtext-mobile': configService.isMobile}">{{getStatScopeString(gridGameService.gridDict['xAxis'][j-1]?.value)}}</div>
                                    <div class="light_bg_color subtext" [ngClass]="{'subtext-mobile': configService.isMobile}" *ngIf="gridGameService.gridDict['xAxis'][j-1]?.value != 'only1Team'">Since 1999</div>
                                </div>
                            </div>
                            <div *ngIf="j === 0 && i !== 0">
                                <img [src]="getTeamImg(gridGameService.gridDict['yAxis'][i-1])" class="team-grid-img" *ngIf="gridGameService.gridDict['yAxis'][i-1]?.type == 'team' || gridGameService.gridDict['yAxis'][i-1]?.type == 'college'">
                                <div *ngIf="gridGameService.gridDict['yAxis'][i-1]?.type == 'jersey_number'">
                                    <div class="light_bg_color">{{configService.isMobile ? 'Jersey' : 'Jersey Number'}}</div>
                                    <div [ngClass]="{'jersey-num-mobile': configService.isMobile, 'jersey-num': !configService.isMobile}">{{gridGameService.gridDict['yAxis'][i-1]?.value}}</div>
                                    <div class="light_bg_color" [ngClass]="{'subtext-mobile': configService.isMobile}">Since 1999</div>
                                </div>
                                <div *ngIf="gridGameService.gridDict['yAxis'][i-1]?.type == 'stat'" class="center-text">
                                    <div [ngClass]="{'jersey-num-mobile': configService.isMobile, 'jersey-num': !configService.isMobile}">{{getStatThresholdDisplay(gridGameService.gridDict['yAxis'][i-1]?.value)}}</div>
                                    <div class="light_bg_color" [ngClass]="{'subtext-desc-mobile': configService.isMobile}">{{getStatCategory(gridGameService.gridDict['yAxis'][i-1]?.value)}}</div>
                                    <div class="light_bg_color" [ngClass]="{'subtext-mobile': configService.isMobile}">{{getStatScopeString(gridGameService.gridDict['yAxis'][i-1]?.value)}}</div>
                                    <div class="light_bg_color" [ngClass]="{'subtext-mobile': configService.isMobile}" *ngIf="gridGameService.gridDict['yAxis'][i-1]?.value != 'only1Team'">Since 1999</div>
                                </div>
                            </div>
                            <div *ngIf="j !== 0 && i !== 0 && gridGameService.gridResults[j][i]" style="text-align-last: center;">
                                <img [src]="gridGameService.gridResults[j][i].img" onerror="this.src='https://static.www.nfl.com/image/private/f_auto,q_auto/league/y9boy7grhaidqmrckryz'" class="player-grid-img">
                                <div [ngClass]="{'player-name-text-mobile': configService.isMobile, 'player-name-text': !configService.isMobile}" class="center-text">{{gridGameService.gridResults[j][i]?.name}}</div>
                                <div [ngClass]="{'percent-mobile': configService.isMobile, 'percent': !configService.isMobile}" *ngIf="gridGameService.gridResults[j][i].percent">{{gridGameService.gridResults[j][i].percent | percent:'1.2-2'}}</div>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>

    <div class="margin-top-25 center-text">
        <div class="light_bg_color">Guesses Left:</div>
        <div class="large-bold-header-text" *ngIf="!gridGameService.unlimitedMode">{{gridGameService.guessesLeft}}</div>
        <div class="large-bold-header-text" *ngIf="gridGameService.unlimitedMode"><mat-icon>all_inclusive</mat-icon> </div>
        <div class="margin-top-10">
            <button mat-button (click)="openResults()" *ngIf="gridGameService.guessesLeft === 0">View Results</button>
            <button mat-button (click)="openTwitter()">Twitter</button>
        </div>
    </div>

    <div class="margin-top-15 center-text">
        <button mat-button (click)="openHowToPlay()"><mat-icon>help</mat-icon> How to Play</button>
    </div>

    <div class="margin-top-15 center-text">
        <button mat-button [matMenuTriggerFor]="menu" (click)="openMenu()">Play Previous Grids</button>
        <mat-menu #menu="matMenu" matMenuPosition="above">
            <ng-container *ngIf="menuItems | async as items; else loading">
              <button mat-menu-item *ngFor="let item of items;  let i = index" (click)="selectHistoricalGrid(item, i !== 0)">Immaculate Gridiron {{ item.id }}</button>
            </ng-container>
            <ng-template #loading>
              <div class="spinner-container">
                <mat-spinner diameter="30"></mat-spinner>
              </div>
            </ng-template>
        </mat-menu>
    </div>

    <div class="margin-top-15 center-text">
        <button mat-button (click)="toggleUnlimitedMode()"><mat-icon>all_inclusive</mat-icon> {{gridGameService.unlimitedMode ? 'Disable': 'Enable'}} "Mr. Unlimited" Mode</button>
        <button mat-button (click)="resetGrid()"><mat-icon>restart_alt</mat-icon> Reset Grid</button>
    </div>

    <div class="margin-top-25 mid-bold-text center-text">
        Grid Partners
        <div class="margin-top-10">
            <button mat-stroked-button (click)="openPuckdoku()"><mat-icon>sports_hockey</mat-icon>Puckdoku</button>
        </div>
    </div>

</div>

<div class="center-spinner margin-top-120" *ngIf="gridGameService.status === 0">
    <mat-spinner></mat-spinner>
</div>