<h1 class="margin-top-10 large-bold-header-text center-text">Fantasy Football Trade Database</h1>
<div class="center-text margin-top-10">
    Search <span class="warning__alert">{{tradeCount.toLocaleString()}}</span> fantasy football trades from <span class="warning__alert">{{leagueCount.toLocaleString()}}</span> actual leagues. The database updates every 6 hours.
</div>

<tool-help [toolName]="'Trade Database'"></tool-help>

<div *ngIf="tradeVolumeStatus == 1">
    <bubble-packing-chart [data]="volumeData" (circleClicked)="addPlayerFromChart($event)" *ngIf="volumeData.length > 0"></bubble-packing-chart>
</div>
<div *ngIf="tradeVolumeStatus == 1">
    <div fxLayout="row wrap" fxLayoutAlign="center" class="margin-top-25" style="min-height: 89px;">
        <mat-form-field fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="40%" class="trade-dropdown" color="accent">
            <mat-select [formControl]="playerCtrl" placeholder="Select Player" #singleSelect disableOptionCentering>
                <mat-option>
                    <ngx-mat-select-search [formControl]="playerFilterCtrl" placeholderLabel="Search Player..." noEntriesFoundLabel="No players found"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let player of filteredSideAPlayers | async" [value]="null" (click)="addPlayerToSideA(player)">
                {{player.full_name}} <span class="small-text__light">{{player.position || ''}} • {{player.team || ''}}</span>
                </mat-option>
            </mat-select>
            <mat-chip-list *ngIf="tradeDatabaseService.sideAPlayers.length > 0">
                <mat-chip *ngFor="let player of tradeDatabaseService.sideAPlayers"
                [removable]="true" (removed)="removeFromSideA(player)">
                <span class="small-text__light chip-pos">{{player.position || ''}}</span> {{ player.full_name }}
                <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
        </mat-form-field>
        <mat-form-field fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="40%" class="trade-dropdown" color="accent">
            <mat-select [formControl]="player2Ctrl" placeholder="Select Player" #singleSelect disableOptionCentering>
                <mat-option>
                <ngx-mat-select-search [formControl]="player2FilterCtrl" placeholderLabel="Search Player..." noEntriesFoundLabel="No players found"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let player of filteredSideBPlayers | async" [value]="null" (click)="addPlayerToSideB(player)">
                {{player.full_name}} <span class="small-text__light">{{player.position || ''}} • {{player.team || ''}}</span>
                </mat-option>
            </mat-select>
            <mat-chip-list *ngIf="tradeDatabaseService.sideBPlayers.length > 0">
                <mat-chip *ngFor="let player of tradeDatabaseService.sideBPlayers"
                [removable]="true" (removed)="removeFromSideB(player)">
                <span class="small-text__light chip-pos">{{player.position || ''}}</span> {{ player.full_name }}
                <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
        </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center">
        <mat-form-field appearance="outline" color="accent" fxFlex="15%" fxFlex.xs="50%" fxFlex.sm="25%" class="trade-dropdown">
            <mat-label>League Type</mat-label>
            <mat-select [formControl]="tradeDatabaseService.selectedLeagueTypeFormat">
                <mat-select-trigger>
                {{tradeDatabaseService.selectedLeagueTypeFormat.value ? tradeDatabaseService.selectedLeagueTypeFormat.value : ''}}
                </mat-select-trigger>
                <mat-option *ngFor="let scoring of leagueType" [value]="scoring">{{scoring}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent" fxFlex="15%" fxFlex.xs="50%" fxFlex.sm="25%" class="trade-dropdown">
            <mat-label>Quarterbacks</mat-label>
            <mat-select [formControl]="tradeDatabaseService.selectedQbFormat" multiple>
                <mat-select-trigger>
                {{tradeDatabaseService.selectedQbFormat.value ? tradeDatabaseService.selectedQbFormat.value.join(',') : ''}}
                </mat-select-trigger>
                <mat-option *ngFor="let scoring of qbFormat" [value]="scoring">{{scoring}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent" fxFlex="15%" fxFlex.xs="50%" fxFlex.sm="25%" class="trade-dropdown">
            <mat-label>Scoring Format</mat-label>
            <mat-select [formControl]="tradeDatabaseService.selectedScoringFormat" multiple>
                <mat-select-trigger>
                {{tradeDatabaseService.selectedScoringFormat.value ? tradeDatabaseService.selectedScoringFormat.value.join(',') : ''}}
                </mat-select-trigger>
                <mat-option *ngFor="let scoring of scoringFormat" [value]="scoring">{{scoring}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent" fxFlex="15%" fxFlex.xs="50%" fxFlex.sm="25%" class="trade-dropdown">
            <mat-label>Tight End Premium</mat-label>
            <mat-select [formControl]="tradeDatabaseService.selectedTepFormat" multiple>
                <mat-select-trigger>
                {{tradeDatabaseService.selectedTepFormat.value ? tradeDatabaseService.selectedTepFormat.value.join(',') : ''}}
                </mat-select-trigger>
                <mat-option *ngFor="let scoring of tepFormat" [value]="scoring">{{scoring}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent" fxFlex="15%" fxFlex.xs="50%" fxFlex.sm="25%" class="trade-dropdown">
            <mat-label>Team Count</mat-label>
            <mat-select [formControl]="tradeDatabaseService.selectedTeamFormat" multiple>
                <mat-select-trigger>
                {{tradeDatabaseService.selectedTeamFormat.value ? tradeDatabaseService.selectedTeamFormat.value.join(',') : ''}}
                </mat-select-trigger>
                <mat-option *ngFor="let scoring of teamFormat" [value]="scoring">{{scoring}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent" fxFlex="15%" fxFlex.xs="50%" fxFlex.sm="25%" class="trade-dropdown">
            <mat-label>Starter Count</mat-label>
            <mat-select [formControl]="tradeDatabaseService.selectedStartersFormat" multiple>
                <mat-select-trigger>
                {{tradeDatabaseService.selectedStartersFormat.value ? tradeDatabaseService.selectedStartersFormat.value.join(',') : ''}}
                </mat-select-trigger>
                <mat-option *ngFor="let scoring of starterFormat" [value]="scoring">{{scoring}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="margin-top-25 center-text">
        <button mat-raised-button (click)="changeFilters()"><mat-icon>search</mat-icon> Search</button>
        <button mat-icon-button (click)="resetFilters()"><mat-icon>restart_alt</mat-icon></button>
    </div>
    <div class="margin-top-15 center-text" *ngIf="leagueService.selectedLeague">
        <button mat-button (click)="useMyLeague()"><mat-icon>tune</mat-icon> Use My League Settings</button>
    </div>
    <div class="margin-top-50" fxLayout="row wrap" fxLayoutAlign="center" *ngIf="tradeSearchStatus == 1">
        <div *ngFor="let trade of tradeDatabaseService.tradeSearchResults" fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="100%" class="trade-res-card">
            <trade-database-card [trade]="trade"></trade-database-card>
        </div>
    </div>
    <div class="center-spinner margin-top-50" *ngIf="tradeSearchStatus == 0">
        <mat-spinner></mat-spinner>
    </div>
    <div class="margin-top-15 center-text" *ngIf="tradeSearchStatus != 2">
        <button mat-icon-button [disabled]="tradeDatabaseService.tradePage <= 1" (click)="changePage(-1)"><mat-icon >chevron_left</mat-icon></button>
        <span>{{tradeDatabaseService.tradePage}}</span>
        <button mat-icon-button [disabled]="tradeDatabaseService.tradeSearchResults.length < 12" (click)="changePage(1)"><mat-icon >chevron_right</mat-icon></button>
    </div>
</div>

<div class="center-spinner margin-top-50" *ngIf="tradeVolumeStatus == 0">
    <mat-spinner></mat-spinner>
</div>