.responsive {
  width: 100%;
  height: auto;
}

.profile--pic {
  display: inline-block;
  /*max-width: 2000px;*/
  /*max-height: 2000px;*/
}

.standings-row {
  display: table;
  width: 100%; /*Optional*/
  /*table-layout: fixed; !*Optional*!*/
  border-spacing: 10px; /*Optional*/
}

.standings-col {
  display: table-cell;
}

.content {
  /*padding: 16px;*/
}

.content > mat-card {
  width: 200px;
}

.item{
  margin-bottom: 16px;
  margin-right: 16px;
  padding: 8px !important;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.insight__row {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.insight__row div:last-child {
  text-align: right;
}

.insight__row div {
  flex: 1 1 auto;
}
