<div *ngIf="pageLoaded == false">
  <div style="min-height: 300px" class="center-spinner">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div class="table-container" *ngIf="pageLoaded">
  <div class="margin-top-10">
    <span class="link--text__no__underline mid-bold-text" style="padding-right: 3px" [routerLink]="['../../rankings']" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_power_rankings" gaCategory="page_nav">Power Rankings</span>
    <mat-icon class="arrow-icon__nav">chevron_right</mat-icon>
    <span class="mid-bold-text">{{selectedTeam?.owner?.ownerName}}</span>
    <div class="link--text__no__underline mid-bold-text button-right" [routerLink]="['../../standings']" [queryParams]="leagueSwitchService.buildQueryParams()" *ngIf="!configService.isMobile" gaEvent="nav_standings" gaCategory="page_nav">
      View in Standings
      <mat-icon class="arrow-icon__nav">chevron_right</mat-icon>
    </div>
  </div>
  <div class="flex-details-container margin-top-50">
    <div class="flex-item-details grid-15">
      <div class="profile--pic">
        <img #image [src]="selectedTeam?.owner?.avatar"
             (error)="image.hidden = true" [hidden]="image.hidden" class="responsive">
      </div>
    </div>
    <div class="flex-item-details grid-70">
      <div [ngClass]="{'large-bold-header-text': !configService.isMobile, 'mid-bold-text': configService.isMobile}">Team {{selectedTeam?.owner?.teamName}}</div>
      <br>
      <div>
        <span
          style="padding-right: 15px">Managed by {{selectedTeam?.owner?.ownerName}}</span>
      </div>
      <br>
      <div class="standings-row" *ngIf="selectedTeam">
        <div class="standings-col vertical-break__right__dark">
          <div class="small-text__light text__light light_bg_color">Tier</div>
          <div class="mid-bold-text">{{displayService.getTierFromNumber(powerRankingsService.findTeamFromRankingsByRosterId(selectedTeam?.roster.rosterId).tier)}}</div>
        </div>
        <div class="standings-col vertical-break__right__dark" *ngIf="!configService.isMobile">
          <div class="small-text__light text__light light_bg_color">Starter Rank</div>
          <div class="mid-bold-text">{{powerRankingsService.findTeamFromRankingsByRosterId(selectedTeam?.roster.rosterId).starterRank}}</div>
        </div>
        <div class="standings-col vertical-break__right__dark" *ngIf="!configService.isMobile">
          <div class="small-text__light text__light light_bg_color">Overall Rank</div>
          <div class="mid-bold-text">{{powerRankingsService.findTeamFromRankingsByRosterId(selectedTeam?.roster.rosterId).overallRank}}</div>
        </div>
        <div class="standings-col vertical-break__right__dark" *ngIf="!configService.isMobile">
          <div class="small-text__light text__light light_bg_color">Average Points</div>
          <div class="mid-bold-text" *ngIf="seasonInsights">{{seasonInsights['avg_points']}}</div>
        </div>
        <div class="standings-col vertical-break__right__dark" *ngIf="!configService.isMobile">
          <div class="small-text__light text__light light_bg_color">Points For</div>
          <div class="mid-bold-text" *ngIf="seasonInsights">{{seasonInsights['points_for']}}</div>
        </div>
        <div class="standings-col" *ngIf="!configService.isMobile">
          <div class="small-text__light text__light light_bg_color">Max Points For</div>
          <div class="mid-bold-text" *ngIf="seasonInsights">{{seasonInsights['points_pot']}}</div>
        </div>
        <div class="standings-col" *ngIf="configService.isMobile">
          <div class="small-text__light text__light light_bg_color">Record</div>
          <div class="mid-bold-text" *ngIf="seasonInsights">{{selectedTeam?.roster.teamMetrics.wins}} - {{selectedTeam?.roster.teamMetrics.losses}}</div>
        </div>
      </div>
    </div>
    <div class="flex-item-details grid-15" *ngIf="!configService.isMobile">
      <div class="button-right center-text">
        <mat-card>
          <div class="text__light" style="padding-right: 10px; padding-left: 10px">Record</div>
          <div class="large-bold-header-text">{{selectedTeam?.roster.teamMetrics.wins}} - {{selectedTeam?.roster.teamMetrics.losses}}</div>
        </mat-card>
      </div>
    </div>
  </div>

  <mat-tab-group mat-align-tabs="center" class="margin-top-25">
    <mat-tab label="Team Insights">
        <div fxLayout="row wrap" fxLayoutAlign="center" class="margin-top-25">
          <div fxFlex="60%" fxFlex.xs="100%" fxFlex.sm="80%" class="item" style="display: block">
            <mat-card>
            <div class="mid-bold-text margin-top-10 center-text">Weekly Points Vs. Opponents</div>
            <div class="margin-top-10 margin-bot-10 center-text">Below is the {{leagueService.selectedYear}} Season match ups vs opponents.</div>
            <app-fantasy-team-details-weekly-points-chart
            [selectedTeam]="selectedTeam"></app-fantasy-team-details-weekly-points-chart>
            </mat-card>
          </div>
          <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="80%" class="item">
            <mat-card style="min-height: 400px">
              <div class="mid-bold-text center-text margin-bot-10">Season Metrics</div>
              <div class="insight__row">
                <div class="text__light">Games Played</div>
                <div class="mid-bold-text" *ngIf="seasonInsights !== null">{{seasonInsights['games_played']}}</div>
                <mat-progress-bar *ngIf="leagueService.leagueStatus === 'LOADING' || seasonInsights == null" mode="indeterminate" color="accent" style="max-width: 100px"></mat-progress-bar>
              </div>
              <div class="insight__row">
                <div class="text__light">Points For</div>
                <div class="mid-bold-text" *ngIf="seasonInsights !== null">{{seasonInsights['points_for']}}</div>
                <mat-progress-bar *ngIf="leagueService.leagueStatus === 'LOADING' || seasonInsights == null" mode="indeterminate" color="accent" style="max-width: 100px"></mat-progress-bar>
              </div>
              <div class="insight__row">
                <div class="text__light">Highest Score</div>
                <div class="mid-bold-text" *ngIf="seasonInsights !== null">{{seasonInsights['high']}}</div>
                <mat-progress-bar *ngIf="leagueService.leagueStatus === 'LOADING' || seasonInsights == null" mode="indeterminate" color="accent" style="max-width: 100px"></mat-progress-bar>
              </div>
              <div class="insight__row">
                <div class="text__light">Lowest Score</div>
                <div class="mid-bold-text" *ngIf="seasonInsights !== null">{{seasonInsights['low']}}</div>
                <mat-progress-bar *ngIf="leagueService.leagueStatus === 'LOADING' || seasonInsights == null" mode="indeterminate" color="accent" style="max-width: 100px"></mat-progress-bar>
              </div>
              <div class="insight__row">
                <div class="text__light">Average Points Per Week</div>
                <div class="mid-bold-text" *ngIf="seasonInsights !== null">{{seasonInsights['avg_points']}}</div>
                <mat-progress-bar *ngIf="leagueService.leagueStatus === 'LOADING' || seasonInsights == null" mode="indeterminate" color="accent" style="max-width: 100px"></mat-progress-bar>
              </div>
              <div class="insight__row">
                <div class="text__light">Variance</div>
                <div class="mid-bold-text" *ngIf="seasonInsights !== null">{{seasonInsights['variance']}}</div>
                <mat-progress-bar *ngIf="leagueService.leagueStatus === 'LOADING' || seasonInsights == null" mode="indeterminate" color="accent" style="max-width: 100px"></mat-progress-bar>
              </div>
              <div class="insight__row">
                <div class="text__light">Standard Deviation</div>
                <div class="mid-bold-text" *ngIf="seasonInsights !== null">{{seasonInsights['std']}}</div>
                <mat-progress-bar *ngIf="leagueService.leagueStatus === 'LOADING' || seasonInsights == null" mode="indeterminate" color="accent" style="max-width: 100px"></mat-progress-bar>
              </div>
              <div class="insight__row">
                <div class="text__light">Potential Points For</div>
                <div class="mid-bold-text" *ngIf="seasonInsights !== null">{{seasonInsights['points_pot']}}</div>
                <mat-progress-bar *ngIf="leagueService.leagueStatus === 'LOADING' || seasonInsights == null" mode="indeterminate" color="accent" style="max-width: 100px"></mat-progress-bar>
              </div>
              <div class="insight__row">
                <div class="text__light">Points Against</div>
                <div class="mid-bold-text" *ngIf="seasonInsights !== null">{{seasonInsights['points_against']}}</div>
                <mat-progress-bar *ngIf="leagueService.leagueStatus === 'LOADING' || seasonInsights == null" mode="indeterminate" color="accent" style="max-width: 100px"></mat-progress-bar>
              </div>
            </mat-card>
          </div>
        </div>
    </mat-tab>
    <mat-tab label="Roster Management">
      <div class="mid-bold-text margin-top-10 center-text">Roster Trends</div>
      <div class="margin-top-10 center-text">Biggest movers in the past month for {{selectedTeam?.owner?.teamName}}'s roster.</div>
      <div [ngClass]="{'right-align-text': !configService.isMobile, 'center-text': configService.isMobile}">
        <fantasy-market-dropdown [selectedMarket]="playerService.selectedMarket" (selectedMarketChange)="onMarketChange($event)"></fantasy-market-dropdown>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="center" *ngIf="roster.length > 0 && teamAggregates">
        <mat-card fxFlex="10%" fxFlex.xs="33%" fxFlex.sm="15%" class="item mat-elevation-z4">
          <div class="small-text__light text__light light_bg_color margin-bot-10">Overall</div>
          <table>
            <tr>
              <th style="text-align: left" class="small-text__light text__light light_bg_color">Value</th>
              <th style="text-align: right">{{teamAggregates['OV_value']}}</th>
            </tr>
            <tr>
              <th style="text-align: left" class="small-text__light text__light light_bg_color">Trend</th>
              <th style="text-align: right">{{teamAggregates['OV_change'] > 0 ? '+' : ''}}{{teamAggregates['OV_change']}}%</th>
            </tr>          
            <tr>
              <th style="text-align: left" class="small-text__light text__light light_bg_color">Avg. Age</th>
              <th style="text-align: right">{{teamAggregates['OV_avg_age']}}</th>
            </tr>
          </table>
        </mat-card>
        <mat-card fxFlex="10%" fxFlex.xs="33%" fxFlex.sm="15%" class="item mat-elevation-z4">
          <div class="small-text__light text__light light_bg_color margin-bot-10">QB Room</div>
          <table>
            <tr>
              <th style="text-align: left" class="small-text__light text__light light_bg_color">Value</th>
              <th style="text-align: right">{{teamAggregates['QB_value']}}</th>
            </tr>
            <tr>
              <th style="text-align: left" class="small-text__light text__light light_bg_color">Trend</th>
              <th style="text-align: right">{{teamAggregates['QB_change'] > 0 ? '+' : ''}}{{teamAggregates['QB_change']}}%</th>
            </tr>          
            <tr>
              <th style="text-align: left" class="small-text__light text__light light_bg_color">Avg. Age</th>
              <th style="text-align: right">{{teamAggregates['QB_avg_age']}}</th>
            </tr>
          </table>
        </mat-card>
        <mat-card fxFlex="10%" fxFlex.xs="33%" fxFlex.sm="15%" class="item mat-elevation-z4">
          <div class="small-text__light text__light light_bg_color margin-bot-10">RB Room</div>
          <table>
            <tr>
              <th style="text-align: left" class="small-text__light text__light light_bg_color">Value</th>
              <th style="text-align: right">{{teamAggregates['RB_value']}}</th>
            </tr>
            <tr>
              <th style="text-align: left" class="small-text__light text__light light_bg_color">Trend</th>
              <th style="text-align: right">{{teamAggregates['RB_change'] > 0 ? '+' : ''}}{{teamAggregates['RB_change']}}%</th>
            </tr>          
            <tr>
              <th style="text-align: left" class="small-text__light text__light light_bg_color">Avg. Age</th>
              <th style="text-align: right">{{teamAggregates['RB_avg_age']}}</th>
            </tr>
          </table>
        </mat-card>
        <mat-card fxFlex="10%" fxFlex.xs="33%" fxFlex.sm="15%" class="item mat-elevation-z4">
          <div class="small-text__light text__light light_bg_color margin-bot-10">WR Room</div>
          <table>
            <tr>
              <th style="text-align: left" class="small-text__light text__light light_bg_color">Value</th>
              <th style="text-align: right">{{teamAggregates['WR_value']}}</th>
            </tr>
            <tr>
              <th style="text-align: left" class="small-text__light text__light light_bg_color">Trend</th>
              <th style="text-align: right">{{teamAggregates['WR_change'] > 0 ? '+' : ''}}{{teamAggregates['WR_change']}}%</th>
            </tr>          
            <tr>
              <th style="text-align: left" class="small-text__light text__light light_bg_color">Avg. Age</th>
              <th style="text-align: right">{{teamAggregates['WR_avg_age']}}</th>
            </tr>
          </table>
        </mat-card>
        <mat-card fxFlex="10%" fxFlex.xs="33%" fxFlex.sm="15%" class="item mat-elevation-z4">
          <div class="small-text__light text__light light_bg_color margin-bot-10">TE Room</div>
          <table>
            <tr>
              <th style="text-align: left" class="small-text__light text__light light_bg_color">Value</th>
              <th style="text-align: right">{{teamAggregates['TE_value']}}</th>
            </tr>
            <tr>
              <th style="text-align: left" class="small-text__light text__light light_bg_color">Trend</th>
              <th style="text-align: right">{{teamAggregates['TE_change'] > 0 ? '+' : ''}}{{teamAggregates['TE_change']}}%</th>
            </tr>          
            <tr>
              <th style="text-align: left" class="small-text__light text__light light_bg_color">Avg. Age</th>
              <th style="text-align: right">{{teamAggregates['TE_avg_age']}}</th>
            </tr>
          </table>
        </mat-card>
      </div>
      <div class="content">
        <div fxLayout="row wrap" fxLayoutAlign="center" class="margin-top-25" *ngIf="roster.length > 0">
          <mat-card fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="40%" class="item mat-elevation-z4">
            <div class="mid-bold-text center-text margin-bot-25">Position Rankings</div>
            <app-fantasy-team-rankings-radar-chart [powerRankings]="powerRankingsService.powerRankings" [selectedTeam]="selectedTeam" [selectedMarket]="playerService.selectedMarket"></app-fantasy-team-rankings-radar-chart>
          </mat-card>
          <span fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="40%" >
            <mat-card class="item mat-elevation-z4">
              <div class="mid-bold-text center-text"><mat-icon style="font-size: 16px; height: unset !important;">trending_up</mat-icon>Biggest Risers</div>
              <table>
                <tr *ngFor="let player of getBiggestMovers(true)">
                  <th style="text-align: left">{{player.full_name}}</th>
                  <th style="text-align: right">+{{leagueService?.selectedLeague?.isSuperflex ? player.sf_change : player.standard_change}}%</th>
                </tr>
              </table>
            </mat-card>
            <mat-card class="item mat-elevation-z4">
              <div class="mid-bold-text center-text"><mat-icon style="font-size: 16px; height: unset !important;">trending_down</mat-icon>Biggest Fallers</div>
              <table>
                <tr *ngFor="let player of getBiggestMovers(false)">
                  <th style="text-align: left">{{player.full_name}}</th>
                  <th style="text-align: right">{{leagueService?.selectedLeague?.isSuperflex ? player.sf_change : player.standard_change}}%</th>
                </tr>
              </table>
            </mat-card>  
          </span>
        </div>
        <div class="mid-bold-text margin-top-25 center-text">Team Roster</div>
        <div class="margin-top-10 center-text">Below are the players sorted by most valuable to least valuable.</div>
        <div fxLayout="row wrap" fxLayoutAlign="center" class="margin-top-25" *ngIf="roster.length > 0">
          <mat-card fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" class="item mat-elevation-z4"
                    *ngFor="let player of roster">
            <mat-card-header>
              <mat-card-title>{{player?.full_name}}</mat-card-title>
              <mat-card-subtitle class="small-text__light">{{player.position}} {{player.age != -1 ? player.age : '-'}}
                y.o.
              </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image #image
                 [src]="'https://sleepercdn.com/content/nfl/players/thumb/' + player?.sleeper_id + '.jpg'"
                  onerror="this.src='https://www.pff.com/images/webui/player_default.png';" style="max-width: 300px"
                 class="responsive center-img">
            <mat-card-content class="center-text">
              <div class="small-text__light">Trade Value</div>
              <div class="mid-bold-text">{{leagueService?.selectedLeague?.isSuperflex ? player.sf_trade_value : player.trade_value}}</div>
            </mat-card-content>
            <mat-card-actions class="center-text">
              <button mat-button [routerLink]="['../../../players/details', player.name_id]" [queryParams]="leagueSwitchService.buildQueryParams()" gaEvent="nav_player_page" gaCategory="page_nav">Player Details</button>
              <button mat-button (click)="openPlayerComparison(player)">View Comparison</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Activity Feed">
      <div class="mid-bold-text margin-top-10 center-text">Activity Feed</div>
      <div class="margin-top-10 center-text">Recent moves by {{selectedTeam?.owner?.teamName}}</div>
      <div [ngClass]="{'right-align-text': !configService.isMobile, 'center-text': configService.isMobile}">
        <fantasy-market-dropdown [selectedMarket]="playerService.selectedMarket" (selectedMarketChange)="onMarketChange($event)"></fantasy-market-dropdown>
      </div>
      <div>
        <div class="center-text">Activity Metrics</div>
        <div class="metrics--box">
          <mat-card>
            <div class="small-text__light text__light light_bg_color">Total Moves</div>
            <div class="mid-bold-text">{{teamActivity.length}}</div>
          </mat-card>
          <mat-card style="cursor: pointer" (click)="showOnlyTrades()">
            <div class="small-text__light text__light light_bg_color">Total Trades</div>
            <div class="mid-bold-text">{{transactionsService.getTradeTotal(teamActivity)}}</div>
          </mat-card>
          <mat-card>
            <div class="small-text__light text__light light_bg_color">Net Value Added</div>
            <div class="mid-bold-text">{{transactionsService.getNetValueAdded(teamActivity)}}</div>
          </mat-card>
        </div>
      </div>
      <div class="transaction--box">
        <mat-form-field class="mat-dropdown-wide-300" color="accent">
          <mat-label>Search Activities</mat-label>
          <input matInput type="text" (keyup)="updateActivityFilter()" [(ngModel)]="activitySearchVal">
        </mat-form-field>
      </div>
      <div>
        <div *ngFor="let transaction of filterTeamActivity" class="transaction--box">
          <div class="transaction--box__row">
            <span class="mid-bold-text transaction--box__start">{{transaction.headerDisplay}}</span>
            <span class="mid-bold-text transaction--box__end" [ngClass]="transaction.netValue > 0 ? 'success__alert' : 'urgent__alert'">{{transaction.netValue}}</span>
          </div>
          <div *ngIf="transaction.adds.length > 0">
            <div *ngFor="let addedPlayer of transaction.adds" class="transaction--box__row">
              <span class="transaction--box__start"><mat-icon class="transaction-icon">add</mat-icon>{{addedPlayer?.playerName}}</span>
              <span class="transaction--box__end">{{addedPlayer?.value}}</span>
            </div>
          </div>
          <div *ngIf="transaction.drops.length > 0">
            <div *ngFor="let droppedPlayer of transaction.drops" class="transaction--box__row">
              <span class="transaction--box__start"><mat-icon class="transaction-icon">remove</mat-icon>{{droppedPlayer?.playerName}}</span>
              <span class="transaction--box__end">{{droppedPlayer?.value}}</span>
            </div>
          </div>
        </div>
        <div *ngIf="!activityShowMore" (click)="activityShowMore = true; updateActivityFilter()" class="link--text__no__underline center-text">Show More <mat-icon class="transaction-icon">expand_more</mat-icon></div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>


<div class="center-text margin-top-50" *ngIf="!leagueService.isLeagueLoaded() && pageLoaded">
  <div class="warning__alert">Cannot fetch team information. Please select a league.</div>
  <br>
  <button mat-raised-button color="warn" routerLink="./home" gaEvent="nav_home_page" gaCategory="page_nav">Choose League</button>
</div>
