<div class="dialog-header">
    <mat-form-field color="accent" style="width:100%" mat-dialog-title appearance="outline">
        <mat-label>Search Player</mat-label>
        <input matInput [(ngModel)]="searchVal" (keyup)="searchSubject$.next(this.searchVal);">
      </mat-form-field>
</div>

<div mat-dialog-content>
  <div *ngIf="searchPlayers.length == 0" class="light_bg_color">
    Players must have played one regular season game in order to count for the team.
    <div>Player stats will update weekly on Wednesday afternoon (after stat corrects are complete).</div>
  </div>
  <div *ngFor="let player of searchPlayers" class="select-player" (click)="selectPlayer(player)">
    {{player.name}} <span class="light_bg_color" style="padding-left: 5px;">{{player.pos}}</span>
    <div class="light_bg_color">{{player.start_year}} - {{player.end_year == '2023' ? 'Present' : player.end_year}}</div>
  </div>  
</div>

<div mat-dialog-actions style="justify-content: right">
  <button mat-button (click)="close()">Cancel</button>
</div>
