<div class="center-text">
    <mat-form-field color="accent" [ngStyle]="configService.isMobile ? {'width': '120px;'} : {'width': '200px;'}">
        <mat-label>Search Player</mat-label>
        <input matInput [(ngModel)]="searchVal" (keyup)="searchSubject$.next(this.searchVal);">
      </mat-form-field>
      <span class="button-right">
        <button mat-icon-button color="accent" class="button-right" (click)="close()"><mat-icon>close</mat-icon></button>
      </span>
</div>

<div *ngFor="let player of searchPlayers" style="min-height: 30px; line-height: 30px;" class="select-player" (click)="selectPlayer(player)">
  {{player.name}} <span class="light_bg_color" style="padding-left: 5px;">{{player.pos}}</span>
</div>